[2015-12-13 20:15] MaxWofford commented on #387
@paked :+1: You might want to include your github username.

[2015-12-13 20:15] zachlatta commented on #387
Looks great! Let's add that you'll be in person with us and then post it. How's this?

(I added the stuff about meeting up, feel free to remove that)

[2015-12-13 20:17] paked commented on #387
@zachlatta @MaxWofford final call? :santa:

[2015-12-13 20:17] paked commented on #388
@zachlatta shouldn't this be in hackclub/hackclub?

[2015-12-13 20:18] zachlatta commented on #387
Looks perfect. Go ahead and post it!

![](http://i.giphy.com/3oEdv9HWXUUUd44Cc0.gif)

[2015-12-13 20:19] paked commented on #387
https://starthackclub.slack.com/archives/announcements/p1450037923000243 posted xD

[2015-12-13 20:19] #387 closed

[2015-12-13 20:21] zachlatta commented on #388
Ah, you're totally right. Migrating it now.

[2015-12-13 20:22] zachlatta commented on #388
This issue was moved to hackclub/hackclub#561

[2015-12-13 20:22] #388 closed

[2015-12-13 23:51] paked opened #391 "Organise beginner friendly hack night"
Pitch: A Hack Night where want-to-be-contributors are paired with existing contributors and mentored through submitting their first pull requests.

Needed:

- An unhangout to host rooms
- A whole ton of `first-timer-only` issues
- Mentors
- Contributors

cc: @zachlatta

[2015-12-14 00:07] MaxWofford commented on #391
:+1:

[2015-12-14 00:12] paked opened #392 "Create JavaScript Styleguide"
Now that we have various amounts of JavaScript within our repositories, it would be beneficial to decide on a consistent style for it.

*discuss*

[2015-12-14 00:13] paked opened #393 "Create HTML Styleguide"
We have multiple workshops which are now using HTML for content. For the sake of consistency we should come up with a singular styleguide and implement that across all of the code

[2015-12-14 00:14] paked opened #394 "Create CSS Styleguide"
We don't have as much CSS as other code, however it would be great to future proof ourselves and make sure that our club members are always able to read code.

[2015-12-14 00:16] paked opened #395 "Implement HTML/CSS/JS styleguides"
Being tracked in:

- [ ] JavaScript #392, No PR
- [ ] HTML #393, No PR
- [x] CSS #394, #399
- [x] English No issue, #398

[2015-12-14 00:16] paked commented on #391
We could try posting this to HH, a lot of people there are interested in getting into OSS.

[2015-12-14 00:17] MaxWofford commented on #392
+1

Some notable examples I've seen: https://github.com/feross/standard
https://github.com/airbnb/javascript

[2015-12-14 00:20] MaxWofford commented on #395
@paked I was looking at https://github.com/airbnb/javascript and noticed how clean their markdown files were. thoughts on doing this for markdown also?

[2015-12-14 00:25] paked commented on #395
@MaxWofford we already have a markdown styleguide. Although, perhaps it would make sense to revisit it.

I'd just be wary that we would have to update every single markdown files once we make these changes.

[2015-12-14 03:53] jonleung commented on #352
Make sure to put this information in `clubs.hackclub.io` as well

[2015-12-14 04:15] jonleung commented on #352
Waiting on responses from club leaders.

[2015-12-14 17:33] jonleung commented on #317
I called Sam about this. The task is complete.

[2015-12-14 17:33] #317 closed

[2015-12-14 19:50] paked commented on #395
edit: Added English stylguide

[2015-12-14 20:18] zachlatta opened #400 "Facilitate the Learn To Code Series"
_From @jonleung on December 14, 2015 19:33_

_Copied from original issue: hackclub/hackclub#567_

[2015-12-14 20:18] zachlatta opened #401 "Facilitate the Learn To Code Series"
_From @jonleung on December 14, 2015 19:33_

_Copied from original issue: hackclub/hackclub#567_

[2015-12-14 20:18] zachlatta commented on #401
This issue was moved to hackclub/meta#400

[2015-12-14 20:19] zachlatta commented on #401
Whoops, duplicate of #400.

[2015-12-14 20:19] #401 closed

[2015-12-15 16:45] jonleung commented on #352
We decided that it was not that important to have 100% coverage on this at our weekly planning meeting yesterday so for now I'm closing this issue with 7/8 checkboxes checked off.

[2015-12-15 16:45] #352 closed

[2015-12-15 17:33] MaxWofford opened #403 "Venue sponsor for Hack Series"
@zachlatta Was this confirmed?

[2015-12-15 17:34] MaxWofford opened #404 "Food sponsor for Hack Series"
@zachlatta Once this is confirmed, please close this!

[2015-12-15 17:34] MaxWofford opened #405 "Sign up hackers for The Hack Series"
We can close this once ~120-150 have enrolled in our eventbright

[2015-12-15 17:38] paked opened #406 "Purchase Food"
Needs to be completed once #404 is completed!

I'm down for anything, although it is probably best to play safe and go for either(?):

- Pizza
- Fruit

[2015-12-15 17:39] paked opened #407 "Obtain 32 Eventbrite signups (8 signups in each of the 4 cohorts)"
This equates to about 12 per workshop! If possible we should try get more.

[2015-12-15 17:43] paked opened #408 "Hack Series Facilitators"
We're going to be running 10 different cohorts on Friday, Saturday and Sunday. In order to fill up the weekend sessions, we're going to need extra leaders.

It was agreed we would try pulling some leaders from our prospective applicant pool (which @zachlatta is also working through today, #311)

Alex and Selynna have both confirmed that they are going to take a cohort on the weekend. Alex has not

[2015-12-15 17:45] paked opened #409 "Confirm Curriculum"
In all talks of Hack Series we are working on are referring to Portfolio and Twilio as the workshops which we will be using.

This needs to be confirmed.

[2015-12-15 17:46] paked opened #410 "Swag Pack"
It may be nice to get a little Swag Pack going for our attendees. It may be a bit late, but we could potentially reach out to the other sponsors... See if they want to brand some high school students.

[2015-12-15 17:47] ZucchiniZe commented on #406
What about having salads?

[2015-12-15 17:59] MaxWofford opened #411 "Create Hack Series"
- [x] Eventbright set up
- [x] Venue sponsor #403
- [x] Food sponsor #404
  - [x] Need to purchase the food #406
- [x] 32 student signups #407
- [x] Facilitators #408
- [x] Confirm curriculum #409
- [x] Swag pack #410

[2015-12-15 18:16] paked commented on #410
thoughts @zachlatta?

[2015-12-15 20:33] zachlatta opened #412 "Workshop shortlinks"
I propose we make shortlinks for our workshops using the https://workshops.hackclub.io link

Examples:

- `https://workshops.hackclub.io/portfolio` -> Portfolio workshop
- `https://workshops.hackclub.io/twilio` -> Twilio workshop

[2015-12-15 21:30] jonleung commented on #411
@MaxWofford, should someone be assigned to this issue?

[2015-12-15 22:12] MaxWofford commented on #412
:+1:

[2015-12-15 23:48] paked opened #413 "Create Non Technical Vocab Guide"
@MaxWofford and I discovered that when pitching to someone non technical it helps tremendously to know a set of *safe* words.

[2015-12-16 01:35] JevinSidhu commented on #406
Don't forget drinks/water if you haven't already noted that :)

[2015-12-16 03:09] #220 closed

[2015-12-16 04:55] zachlatta commented on #411
Assigned myself!

[2015-12-16 04:55] zachlatta commented on #404
Sourcegraph is confirmed as a food sponsor. Going to try and get a16z as well.

[2015-12-16 04:55] #404 closed

[2015-12-16 04:56] zachlatta commented on #406
Let's get pizza + water for the time being because it's cheap and we're on a budget.

[2015-12-16 05:47] paked commented on #406
@zachlatta rip salad

[2015-12-16 07:25] zachlatta opened #421 "Week of 12.14.15"
- [ ] Rewrite CONTRIBUTING.md (hackclub/hackclub#512, @paked)
- [ ] Create how to submit a workshop (hackclub/hackclub#528, @jonleung)
- [ ] Facilitate the Learn To Code Series (hackclub/meta#400, @jonleung)
- [ ] Make assets for the iOS track (hackclub/meta#340, @MaxWofford)
- [ ] Create how to create a pull request workshop (hackclub/hackclub#568,
  @MaxWofford)
- [ ] Respond to all applicants (

[2015-12-16 07:26] zachlatta commented on #363
Alright, we've moved on to this week's issue #421

[2015-12-16 07:26] #363 closed

[2015-12-16 10:27] #394 closed

[2015-12-16 10:27] paked commented on #394
Closed in #399

[2015-12-16 10:29] zachlatta commented on #406
[image: Inline image 1]

On Tue, Dec 15, 2015 at 9:47 PM, Harrison Shoebridge <
notifications@github.com> wrote:

[2015-12-16 10:29] zachlatta commented on #406
![](http://i.giphy.com/xTk9ZN0nOx9HRuwfSM.gif)

[2015-12-16 17:10] zachlatta commented on #403
Venue confirmed. We're good for Make School.

[2015-12-16 17:10] #403 closed

[2015-12-16 17:12] MaxWofford opened #422 "Twilio demo that doesn't require internet"

[2015-12-17 02:02] zachlatta commented on #410
Any ideas for what to include? Since we're so last minute on this, I'd bias for not doing this.

[2015-12-17 02:18] jonleung commented on #407
As discussed in our meeting tonight, Dec 16th 2015.

- We will drop 2 sessions, so we will have a total of 4 sessions
- We want a minimum of 8 signups per session

Therefore, we want a minimum of 32 signups or 21 additional signups (we have 11 currently).

[2015-12-17 02:37] jonleung commented on #407
These are the tasks we are going to do in order to complete the above objective.

- [ ] Ask registered participants to bring a friend (@zachlatta)
- [ ] Ask Hack Camp participants to refer friends (@maxwofford)
- [ ] Ask Bay Area club leaders to refer friends (@paked)
  - Cookie prize for club with most referrals
- [ ] Ask friends who live in San Francisco who are in high school [[FB Search Query]

[2015-12-17 02:43] MaxWofford commented on #410
We could just bring some stickers for the time being.

[2015-12-17 02:56] jonleung commented on #117
As discussed with @zachlatta in person earlier today (Wed Dec-16) I've taken this task off of him and assigning myself!

[2015-12-17 03:04] jonleung commented on #117
Additional work that needs to be done to complete this task:

**Facebook**
- [ ] Linking to the Code of Conduct in the description of [the Facebook Group](https://www.facebook.com/groups/1501083703514499/)
- [ ] Post in [Facebook Group](https://www.facebook.com/groups/1501083703514499) announcing that we are adopting this Code of Conduct and ask for feedback and pull requests

**Slack**
- [ ] Link

[2015-12-17 04:06] jonleung opened #423 "Link to the Code of Conduct in the description of the Facebook Group"
_From @jonleung on December 17, 2015 4:5_

Link to the Code of Conduct in the description of [the Facebook Group](https://www.facebook.com/groups/1501083703514499/)

_Copied from original issue: hackclub/hackclub#588_

[2015-12-17 04:06] jonleung opened #424 "Link to the Code of Conduct in the description of the Facebook Group"
_From @jonleung on December 17, 2015 4:5_

Link to the Code of Conduct in the description of [the Facebook Group](https://www.facebook.com/groups/1501083703514499/)

_Copied from original issue: hackclub/hackclub#588_

[2015-12-17 04:06] jonleung commented on #424
This issue was moved to hackclub/meta#423

[2015-12-17 04:09] jonleung commented on #424
Deciding to close this issue and leaving it as a subtask in https://github.com/hackclub/meta/issues/117#issuecomment-165322688

[2015-12-17 04:09] #424 closed

[2015-12-17 17:06] jonleung commented on #350
As discussed during standups on Thu Dec-17, we decided to close this issue because we want to prioritize Hack Series.

[2015-12-17 17:06] #350 closed

[2015-12-17 17:13] jonleung commented on #400
Work with facilitators to prep for Hack Series!

[2015-12-17 21:46] jonleung opened #425 "Link to Code of Conduct on Website"
This is part of the broader issue hackclub/meta#117 for adopting a code of conduct.

[2015-12-17 21:47] zachlatta commented on #425
This issue was moved to hackclub/website#181

[2015-12-17 21:47] #425 closed

[2015-12-17 21:47] jonleung commented on #117
@zachlatta can you setup `conduct@hackclub.io` so that it forwards to Jonathan, Harrison, and Zach?

[2015-12-17 21:49] zachlatta commented on #117
Done!

[2015-12-17 22:34] paked commented on #395
Update: English styleguide merged with #398

[2015-12-17 23:08] jonleung commented on #408
This is who have confirmed they _can_ lead the sessions:

**Friday**
- Jonathan Leung

**Saturday (all sessions)**
- Issa
- @ssun098

**Sunday**
- Erina
- Jasmine
- Leila

I will be chatting with Alex B and and other Alex later

[2015-12-18 05:50] zachlatta commented on #407
All tasks have been done! Now we just need to hope those convert...

[2015-12-18 05:52] paked commented on #407
![](https://45.media.tumblr.com/tumblr_lwirawN13q1r8o5tzo1_500.gif)

On Thu, Dec 17, 2015 at 9:50 PM Zach Latta <notifications@github.com> wrote:

[2015-12-18 05:53] paked commented on #407
![](![](https://45.media.tumblr.com/tumblr_lwirawN13q1r8o5tzo1_500.gif))

[2015-12-18 06:01] zachlatta commented on #405
Closing in favor of #407.

[2015-12-18 06:01] #405 closed

[2015-12-18 06:02] zachlatta commented on #408
Can we close this? Seems like we have people set.

[2015-12-18 06:03] zachlatta commented on #410
Let's go ahead and hand out stickers at the event. Closing for the time being so we can focus on driving registrations (see #407).

[2015-12-18 06:03] #410 closed

[2015-12-18 07:17] paked commented on #408
@zachlatta Looks like we are still waiting on time slots from Alex *'s

[2015-12-18 09:22] zachlatta commented on #341
I'm honestly not quite sure what to do about this. GitHub is giving us this error when we make requests to calculate the contribution count for the week:

[code]

For the time being I'm going to remove this from my queue while we figure out a better solution (or rewrite it in a way that doesn't query the GitHub event stream).

[2015-12-18 10:04] zachlatta commented on #407
Only need 7 more signups!

[2015-12-18 10:23] zachlatta commented on #349
Just submitted #433, which closes this.

[2015-12-18 10:25] zachlatta commented on #368
We should have an ugly Christmas sweater family photo that we mail out to people.

[2015-12-18 11:33] zachlatta commented on #325
Alright, `sloth-gifs` and `website` are both fixed. Let's keep references to hackEDU in `hack-camp`, `hackedu-legacy`, and `frontend-legacy` for archival purposes.

[2015-12-18 11:33] #325 closed

[2015-12-18 12:24] zachlatta commented on #408
Ah, sounds good!

[2015-12-18 12:24] zachlatta commented on #391
:+1:

[2015-12-18 12:29] zachlatta commented on #301
Updated!

[2015-12-18 12:30] zachlatta commented on #301
I'm thinking it may be worth our time to add a shortlink to our code of conduct (ex. https://conduct.hackclub.io)

[2015-12-18 12:30] #301 closed

[2015-12-18 12:33] zachlatta commented on #423
Did this in #301 :-)

[2015-12-18 12:33] #423 closed

[2015-12-18 12:34] zachlatta commented on #117
I've also linked to the code of conduct in the Facebook group description in #301. I'll leave it to you to check that box in your previous comment.

[2015-12-18 20:59] paked commented on #368
:+1: @zachlatta

[2015-12-18 21:03] paked commented on #301
@zachlatta sgtm

[2015-12-19 00:45] paked opened #435 "Send out notification text to other Hack Series cohorts"
Should contain information such as:

- Lack of parking spaces
- Reminder to bring a laptop
- Start time
- Location
  - and what to do when you arrive

[2015-12-19 09:54] MaxWofford commented on #393
https://github.com/hackclub/meta/pull/436

[2015-12-21 14:12] MaxWofford commented on #400
Looks like this was finished!

![success!](quickme.me/success.gif)

[2015-12-21 14:12] #400 closed

[2015-12-21 14:15] MaxWofford commented on #406
This was finished!

![](http://quickme.me/success.gif)

[2015-12-21 14:17] MaxWofford commented on #117
@zachlatta @jonleung What if the `conduct@hackclub.io` email forwarded to `team@hackclub.io`?

[2015-12-21 14:18] #406 closed

[2015-12-21 14:18] MaxWofford commented on #407
Closing this issue because Hack Series was AWESOME! (and is over)

![](http://quickme.me/success.gif)

[2015-12-21 14:18] #407 closed

[2015-12-21 14:19] MaxWofford commented on #408
Closing this because Hack Series is done. Kudos to the awesome volunteer facilitators we had.

![](http://quickme.me/success.gif)

[2015-12-21 14:19] #408 closed

[2015-12-21 14:20] MaxWofford commented on #409
Closing this because Hack Series is done. We mostly focused on remixes of the portfolio workshop.

![](http://quickme.me/success.gif)

[2015-12-21 14:20] #409 closed

[2015-12-21 14:20] MaxWofford commented on #411
Closing this because Hack Series is done. Way to end on a high note!

![](http://quickme.me/success.gif)

[2015-12-21 14:20] #411 closed

[2015-12-21 19:18] jonleung commented on #117
@maxwofford, the reason why we decided not to forward 'conduct@hackclub.io' to 'team@hackclub.io' is because as the team grows and changes, we don't want the people who are responsible for handling the conduct to automatically change.

[2015-12-22 00:36] paked commented on #435
This has been done.

[2015-12-22 00:36] #435 closed

[2015-12-22 00:36] paked commented on #392
@MaxWofford we're not really in a position to skip semicolons, because JS Bin...

[2015-12-22 01:59] paked opened #442 "Archive The Hack Series"
Now that we have concluded The Hack Series (THS) it makes sense to collate all of the information from the event into one single place. I suggest this be `hackclub/meta/the_hack_series` which has already become a sort of unofficial home for this information.

In terms of what needs to be moved I have made a list below:

- @jonleung's time schedules
- @jonleung's landing page
- Any texts we sent to

[2015-12-29 23:57] zachlatta commented on #442
I totally support this. Let's do it.

[2015-12-29 23:59] zachlatta commented on #422
Any updates on this?

[2015-12-30 00:00] zachlatta opened #445 "Apply to the Google RISE Awards"
https://www.google.com/edu/resources/programs/google-rise-awards/

A few people have recommended we apply and it seems to be the sort of grant that's right up our ally. Let's apply to this. Deadline is **February 19th, 2016**.

[2015-12-30 00:09] MaxWofford commented on #422
It's in https://github.com/hackclub/twilio-demo

[2015-12-30 00:09] MaxWofford commented on #422
Still in progress

[2015-12-30 00:12] MaxWofford commented on #422
I take that back. it is done, but needs to be tested. I'll close this issue

[2015-12-30 11:13] zachlatta commented on #422
Let's reopen this until it's tested and deployed :-).

[2015-12-30 13:30] paked commented on #442
@hackclub/staff  I'd really like to start getting this issue moving. I've assigned myself so I can now chase up all ye wrong doers.

To start, It'd be great to get everyones notes (preferably censored, ie. no sensitive information) of whichever cohorts they were able to note take for.

@zachlatta I'd like to have a note somewhere about the sign on the door, also it'd be great to have the text and

[2015-12-30 21:21] MaxWofford commented on #442
@paked Thanks for getting this going! I can confirm that was the only email sent out. If I find any notes, I'll add them after everything is archived.

[2015-12-31 07:11] zachlatta commented on #442
I've gone ahead and submitted #446 and #447 to add a event protocol that includes having a sign on the door and the SMS reminder script :-).

[2015-12-31 23:39] zachlatta commented on #347
I ended up buying hackclub.com. I think that'll be good enough for the time being.

Going to go ahead and close.

[2015-12-31 23:39] #347 closed

[2015-12-31 23:42] jonleung commented on #442
@paked, if you could do me a favor and take lead on

that would be amazing!

Thanks for pushing us forward on this!

[2016-01-01 00:05] paked opened #448 "Archive The Hack Series landing page/schedule"
Related to #442

[2016-01-01 00:07] zachlatta commented on #448
Which landing page/schedule are you referring to?
https://github.com/hackclub/hack-series is already deprecated.

On Thu, Dec 31, 2015 at 4:05 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.io

[2016-01-01 00:14] MaxWofford commented on #347
Woooo!

(right textbox this time)

[2016-01-01 00:26] #349 closed

[2016-01-01 02:28] paked commented on #347
yayyayyayayayayayay

[2016-01-01 22:35] zachlatta commented on #412
Closed by hackclub/hackclub#599.

[2016-01-01 22:35] #412 closed

[2016-01-03 04:05] zachlatta commented on #347
:tada: :tada: :tada:

[2016-01-04 00:21] zachlatta commented on #312
Yeah, it'll close #83.

[2016-01-04 02:24] zachlatta commented on #421
Going to go ahead and close this because the week's over. I'll link the next weekly issue here when we make it.

[2016-01-04 02:24] #421 closed

[2016-01-05 20:44] zachlatta opened #450 "Week of 01.04.16"
Primary goal: start 50 new clubs by the end of February.

-------------------------------------------------------------------------------

- [x] Create curriculum arc (@zachlatta, hackclub/hackclub#639)
- [x] Create general plan for first two meetings (@zachlatta, hackclub/hackclub#635)
- [x] Write document on the tools used in the clubs (@zachlatta, hackclub/hackclub#639)
- [ ] Incorporate tools

[2016-01-05 20:45] zachlatta commented on #421
New weekly issue is in #450 :-).

[2016-01-06 00:13] MaxWofford commented on #368
I can't do much right now, but here's a start:

![](http://i.imgur.com/bl6p0jb.gif)

[2016-01-06 00:14] MaxWofford commented on #368
wow. that recorded really low quality. The original is svg, so it won't be a problem in the final.

[2016-01-06 00:17] zachlatta commented on #368
Woah, this is amazing.

On Tue, Jan 5, 2016 at 4:14 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-06 00:43] paked commented on #368
:+1: @MaxWofford <3

[2016-01-06 01:35] jart commented on #117
Code of conduct? I can't believe people take those things seriously. It's just childish rubbish promoted by people with a political agenda. Keep that nonsense out of engineering.

We don't need a code of conduct. FOSS is the first culture, in the history of mankind, that's truly international, post-monetary, and discrimination on the basis of race, sex, age, etc. is impossible. Welcome to the Inte

[2016-01-06 01:51] zachlatta commented on #117
We created our code of conduct with three goals in mind: (1) to specify a
baseline standard of behavior, (2) to provide a mechanism for resolving
conflicts in the community when they arise, and (3) to make our community
welcoming to people from different backgrounds.

The third is the only political goal and even then, I think the actual
contents of the code of conduct don't get very political (th

[2016-01-06 01:55] jart commented on #117
Are you implying Hack Club wasn't welcoming of people from different backgrounds before? Oh my goodness.

[2016-01-06 01:59] zachlatta commented on #117
No, I'm saying that the code of conduct is valuable because it makes inappropriate behaviors explicit.

This issues should also be closed. We've already added our code of conduct over at https://github.com/hackclub/hackclub/blob/master/CONDUCT.md.

[2016-01-06 01:59] #117 closed

[2016-01-06 02:04] samhatchett commented on #117
this user is spamming many projects - i suggest anyone following this issue file an abuse report:
https://github.com/jart?tab=activity
https://github.com/contact?report=jart

[2016-01-06 02:06] zachlatta commented on #117
Ah, thank you for the heads up!

[2016-01-06 20:27] zachlatta commented on #311
Going to go ahead and close this task for the time being due to its ambiguity. We keep getting more applications after I respond!

[2016-01-06 20:27] #311 closed

[2016-01-06 21:15] zachlatta commented on #340
Any updates on this?

[2016-01-06 21:15] zachlatta commented on #217
Any updates on this?

[2016-01-07 17:23] MaxWofford commented on #217
This is addressed by https://github.com/hackclub/slackin/pull/1. If you want to implement it now, feel free to reopen the PR. Otherwise you may want to wait for upstream to be fixed

[2016-01-07 17:23] #217 closed

[2016-01-07 18:13] zachlatta commented on #217
Thanks Max! :heart:

On Thu, Jan 7, 2016 at 9:23 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-07 21:32] jonleung commented on #450
@zachlatta, do we want to add these tasks from the code of conduct meeting we just had to this meta issue? I've pasted the tasks below:

- Add the following to events protocol (@jonleung)
  - An announcement about the code of conduct
  - An announcement of who the designated person is to talk to if you feel
    uncomfortable / if you think the code of conduct has been violated
- In `CONDUCT.md`, a

[2016-01-07 21:34] jonleung commented on #450
@zachlatta, do we want to add the tasks that we came up with from the code of conduct meeting yesterday to this meta issue? If we choose not to add them, then I think it might be worthwhile for everyone to create issues for the below tasks on the board themselves, otherwise the tasks will not be reflected anywhere on the board.

Here are the tasks we came up with [that are in the meeting notes](ht

[2016-01-07 21:35] jonleung commented on #450
Edit: I deleted one of my own extra comments above.

[2016-01-07 22:19] zachlatta commented on #450
Yeah, can you create issues for the tasks in the meeting notes? Let's not
put them in the weekly issue and let them flow through the board like
regular issues.

On Thu, Jan 7, 2016 at 1:35 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-09 22:05] MaxWofford commented on #340
Going to close it for now. I don't see myself having the time to complete it.

[2016-01-09 22:05] #340 closed

[2016-01-10 13:43] MaxWofford commented on #222
@zachlatta idk if it helps, but I just got my subdomains set up in a repo here https://github.com/maxwofford/subdomains.

[2016-01-10 23:56] zachlatta commented on #222
Is that just an nginx config for redirects or also your DNS setup? Looks
like the former to me.

On Sun, Jan 10, 2016 at 5:43 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-10 23:57] jonleung commented on #368
As discussed with @zachlatta in person, assigning back to @zachlatta because he has more context with investors.

[2016-01-11 00:59] zachlatta commented on #368
Thanks @jonleung. Will put this in my queue. @MaxWofford, can you send me a
final version of that GIF/SVG when you have a chance? Would love to put out
a blog post in addition to an email update to our contributors.

On Sun, Jan 10, 2016 at 3:57 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-11 01:26] jonleung opened #458 "Write a spring semester update to our clubs"
_From @jonleung on January 6, 2016 20:20_

_Copied from original issue: hackclub/hackclub#640_

[2016-01-11 01:26] jonleung commented on #458
_From @zachlatta on January 6, 2016 21:15_

Oh whoops, didn't mean to assign myself. Sorry about that!

[2016-01-11 01:26] jonleung commented on #458
Here is my preliminary outline of this letter.

[code]

Going to write the actual letter now.

[2016-01-11 01:26] jonleung commented on #458
_From @zachlatta on January 11, 2016 0:58_

:+1:

On Sun, Jan 10, 2016 at 4:26 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-11 01:27] jonleung commented on #458
@zachlatta, do you have a preference for who sends this out? I'm happy to do it!

[2016-01-11 02:10] #83 closed

[2016-01-11 02:10] #312 closed

[2016-01-11 03:24] MaxWofford commented on #368
@zachlatta I'll see what I can do.

[2016-01-11 03:34] MaxWofford commented on #222
@zachlatta Just nginx config, but we're still at a small enough rate of traffic this could work.

[2016-01-11 03:55] zachlatta commented on #222
This issue is specifically for our DNS config, which nginx won't be able to
handle. It'd be nice to also have our nginx config in a GitHub repo as well
though.

On Sun, Jan 10, 2016 at 7:34 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-11 09:12] MaxWofford commented on #422
I've tested it locally. We might want to try it out with more than 2 numbers, but that's all I have.

[2016-01-11 09:17] MaxWofford commented on #422
@zachlatta I don't have access to convox right now. Would you be interested in deploying this when you have the time?

[2016-01-11 14:21] MaxWofford commented on #367
These tags have all been removed.

[2016-01-11 14:21] #367 closed

[2016-01-11 14:23] MaxWofford commented on #371
It looks like asciinema-related tools aren't updated very regularly. There are ways to export GIF, but I don't think we can depend on them. Closing for now.

[2016-01-11 14:23] #371 closed

[2016-01-11 14:27] MaxWofford commented on #33
@zachlatta Do you know if our application was ever submitted?

[2016-01-11 14:29] MaxWofford commented on #391
Not sure if we still want to do this. Closing for the time being. If anyone would like to reopen it, please feel free.

[2016-01-11 14:29] #391 closed

[2016-01-11 14:33] MaxWofford commented on #413
This is closed by https://github.com/hackclub/meta/pull/398

[2016-01-11 14:33] #413 closed

[2016-01-11 14:52] MaxWofford commented on #448
@paked What do we need to do to close this?

[2016-01-11 17:05] zachlatta commented on #413
:heart:

--
Zach Latta
Hack Club | zach@hackclub.io

On Jan 11, 2016, 6:34 AM -0800, Max Wofford<notifications@github.com>, wrote:

[2016-01-11 17:05] zachlatta commented on #391
I'd like to do this, but I'm not sure what our timeline would be for it. I'm on board with closing for the time being.

--
Zach Latta
Hack Club | zach@hackclub.io

On Jan 11, 2016, 6:29 AM -0800, Max Wofford<notifications@github.com>, wrote:

[2016-01-11 17:06] zachlatta commented on #33
It hasn't been yet.

--
Zach Latta
Hack Club | zach@hackclub.io

On Jan 11, 2016, 6:27 AM -0800, Max Wofford<notifications@github.com>, wrote:

[2016-01-11 17:06] zachlatta commented on #371
👍

--
Zach Latta
Hack Club | zach@hackclub.io

On Jan 11, 2016, 6:23 AM -0800, Max Wofford<notifications@github.com>, wrote:

[2016-01-11 17:07] zachlatta commented on #367
👍

--
Zach Latta
Hack Club | zach@hackclub.io

On Jan 11, 2016, 6:21 AM -0800, Max Wofford<notifications@github.com>, wrote:

[2016-01-11 17:09] zachlatta commented on #422
Does this require Convox? Could it be hosted on GitHub pages (i.e. does it use our modified Twilio library that works on the frontend or the default one)?

--
Zach Latta
Hack Club | zach@hackclub.io

On Jan 11, 2016, 1:17 AM -0800, Max Wofford<notifications@github.com>, wrote:

[2016-01-11 17:15] zachlatta commented on #458
Either of us works for me. Let's plan on having you send it out since you're writing it.

It'd be great if you could run it by me before sending it out though.

--
Zach Latta
Hack Club | zach@hackclub.io

On Jan 10, 2016, 5:27 PM -0800, Jonathan Leung<notifications@github.com>, wrote:

[2016-01-11 18:20] jonleung commented on #458
@zachlatta, I'm going to opt to follow [this comment](https://github.com/hackclub/meta/pull/459#issuecomment-170621937) over [this one](https://github.com/hackclub/meta/issues/458#issuecomment-170622604). I've went ahead and submitted a pull request with your version of the letter in #459. I've assigned you to merge in that pull request.

Just to re-confirm, as you stated in here, https://github.c

[2016-01-11 18:26] zachlatta commented on #458
Yup, sounds good. Once the pull request is updated and merged.

On Mon, Jan 11, 2016 at 10:20 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-11 18:28] jonleung commented on #458
I just updated the pull request with your edits!

[2016-01-11 20:04] zachlatta opened #463 "Get 20 more clubs into the process of becoming a Hack Club"

[2016-01-11 20:05] zachlatta opened #464 "Send out semester 2 update to Labs and all other clubs"
See #459. Modify the update in that pull request to also send out to clubs that aren't Labs.

[2016-01-11 20:14] zachlatta opened #466 "Week of 01.11.16"
## Goals

- [ ] Workshops modified to use standardized tools in
  `hackclub/workshops/ARC.md`
- [x] Fully flesh out first two meetings in `hackclub/clubs/README.md`
- [x] 20 more people in applicant queue

-------------------------------------------------------------------------------

### Clubs

- [x] Write a section for each item in the schedule for the first and second
  meetings (in `hackclub/

[2016-01-11 20:15] zachlatta commented on #450
Replaced by new weekly issue in #466.

[2016-01-11 20:15] #450 closed

[2016-01-11 21:12] MaxWofford commented on #422
@zachlatta It's a koa server.

[2016-01-11 21:14] MaxWofford commented on #422
This protects us from scenarios like Downtown High School, where people who are demoing don't have access to internet.

[2016-01-12 21:38] zachlatta commented on #422
Ah, fair. Can you take point on deploying this and setting up auto-deploy?
You should have enough access to the Convox to deploy this and for the
auto-deploy, you can basically just copy and paste what's in the circle.yml
of hackclub/packrat and modify it for the repo you made for the demo.

On Mon, Jan 11, 2016 at 1:14 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachla

[2016-01-12 23:07] paked commented on #448
@MaxWofford I need to close #449 :D

[2016-01-12 23:33] MaxWofford commented on #422
Is there a Hack Club official twilio account? My @hackclub.io twilio account was overextended and banned.

[2016-01-13 03:25] jonleung commented on #367
<3

[2016-01-14 04:55] jonleung commented on #356
Moving this back to ideas because in terms of curriculum, we're currently focused on rebuilding the early workshops for Hack Club as opposed to getting as many workshops into our repository as possible.

As a side note, there are tons of valuable things that I'm currently learning from Cipher's workshops right now (such as bolding keywords) that I'm incorporating into these new early workshops.

[2016-01-14 04:56] jonleung commented on #303
I'm closing this for right now because it seems that the discussion that's happening in the Slack `#curriculum` channel is decently satisfactory. Let me know if anyone would like to continue these calls!

[2016-01-14 04:56] #303 closed

[2016-01-14 04:56] jonleung commented on #357
I'm closing this for now because I'm currently rewriting the early workshops which will have their own facilitation guidelines.

[2016-01-14 04:56] #357 closed

[2016-01-14 05:01] #458 closed

[2016-01-14 05:06] zachlatta commented on #356
:+1:

On Wed, Jan 13, 2016 at 8:55 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.io

[2016-01-14 05:17] jonleung commented on #422
@MaxWofford you can create a new Twilio account for this with our promo code.

[2016-01-14 05:19] jonleung commented on #422
Wait, how does this work without an internet connection to Twilio?

[2016-01-14 07:21] MaxWofford commented on #422
@jonleung The server records every number that sends an SMS to it. It inspects the contents of the message looking for a secret phrase. Once the demo-er sends the secret phrase in SMS to the Twilio number, everyone gets a reply SMS.

[2016-01-14 07:22] MaxWofford commented on #422
The code should be pretty readable, feel free to check it out!

[2016-01-14 09:18] MaxWofford commented on #356
@jonleung On the note of things like bolding keywords, make sure to update our styleguides as you go. I'm sure they can be massively improved by the changes!

[2016-01-14 09:27] zachlatta commented on #356
Yup! Also don't forget that "coding words" (like "git", "index.html", and
shell commands) should be styled as inline code. There were a bunch of
issues in Cipher's workshops around that (though it's totally not their
fault because they weren't building them to follow our styleguide).

On Thu, Jan 14, 2016 at 1:18 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com

[2016-01-14 23:44] jonleung commented on #356
Sounds good! I'll keep this in mind!

[2016-01-15 11:32] zachlatta commented on #464
Sent it to Labs!

[2016-01-15 11:47] zachlatta commented on #464
Sent to the remaining clubs!

[2016-01-15 11:47] #464 closed

[2016-01-16 07:32] #448 closed

[2016-01-16 12:57] paked commented on #442
Closing this because everything has been merged in! Good job team!

[2016-01-16 13:00] #442 closed

[2016-01-18 23:22] zachlatta commented on #93
Closing's a good call.

[2016-01-20 04:18] #463 closed

[2016-01-20 04:18] zachlatta commented on #463
Done! :smile:

[2016-01-20 12:32] MaxWofford commented on #463
![](https://media.giphy.com/media/VT6eildjKdVWU/giphy.gif)

[2016-01-20 12:42] paked commented on #463
[*]

[2016-01-22 18:16] zachlatta opened #481 "Week of 01.18.16"
**Big goals:**

- [x] Workshop 1 completed with standardized tools (@jonleung, ~~hackclub/hackclub#648~~ hackclub/hackclub#677)
- [ ] Workshop 2 completed with standardized tools (@jonleung, hackclub/hackclub#649)
- [ ] Holiday update (@zachlatta, hackclub/meta#368)
- [ ] Curriculum arc for semester (@jonleung, hackclub/hackclub#663)
- [x] 3rd meeting guide (@zachlatta (with help from @paked), hac

[2016-01-22 18:16] zachlatta commented on #466
Closing because the week is over. New weekly issue is #481.

[2016-01-22 18:16] #466 closed

[2016-01-25 23:16] zachlatta opened #483 "Drive 5 more applications to Hack Club"
@paked and I are having a competition this week to see who can drive the most applications. We've set the bar for each of us to 5. This issue is to track the applications I'm driving.

[2016-01-26 01:10] paked commented on #483
![game_on](https://cloud.githubusercontent.com/assets/8407370/12569755/bd484d4a-c425-11e5-8182-61bccaf09180.gif)

[2016-02-01 20:22] zachlatta commented on #483
Got 10 applications since I made this issue, closing.

[2016-02-01 20:22] #483 closed

[2016-02-01 20:32] zachlatta opened #486 "Week of 02.01.16"
- [x] Workshop 2 completed with standardized tools (@jonleung, hackclub/hackclub#649)
- [ ] Holiday update (@zachlatta, hackclub/meta#368)
- [x] Curriculum arc for semester (@jonleung, hackclub/hackclub#663)
- [ ] Create 4th meeting template (@zachlatta, hackclub/hackclub#680)
- [ ] Begin work on new 3rd workshop (@jonleung, hackclub/hackclub#681) (this isn't due until the 15th)

[2016-02-01 20:34] zachlatta commented on #481
Replaced by #486.

[2016-02-01 20:34] #481 closed

[2016-02-03 01:58] jonleung commented on #483
<3

[2016-02-12 05:47] zachlatta opened #491 "SSL Broken on Latest Google Chrome"
![screen shot 2016-02-11 at 8 49 25 pm](https://cloud.githubusercontent.com/assets/992248/12999897/042038e6-d109-11e5-8516-eb6d3fe72113.png)

Seems to be because the certificate chain isn't being sent over as well. We need to fix this ASAP.

[2016-02-15 22:05] paked commented on #491
:+1: Please fix ASAP

[2016-02-15 22:11] paked commented on #422
@MaxWofford Updates on this?

[2016-02-15 22:11] paked commented on #445
@zachlatta Yo, this deadline is approaching really damn fast!

[2016-02-15 22:27] MaxWofford commented on #445
![](https://i.imgur.com/vBHDsj7.jpg)

[2016-02-15 22:28] MaxWofford commented on #422
Oh, forgot to update the issue. @zachlatta removed the deployment from Convox because it was just  sitting there. If you ever need to spin it up, feel free to msg me.

[2016-02-16 17:15] zachlatta commented on #422
Going to go ahead and close this :-).

[2016-02-16 17:15] #422 closed

[2016-02-16 18:17] zachlatta commented on #445
Thanks for the reminder guys :-).

I've assigned to @jkwok91. Will work with her to get this done.

On Mon, Feb 15, 2016 at 2:27 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-17 21:12] jkwok91 opened #497 "Banner"
I previously created some Hack Club banners in https://github.com/hackclub/hackclub/issues/670. @MrCodeCollector mentioned that he'd like something that looks more like the following:

![bad pixel art](https://cloud.githubusercontent.com/assets/2666337/13124952/f6fbe386-d577-11e5-8683-9df67444d5b4.png)

But this needs some more work.

[2016-02-17 22:27] MaxWofford commented on #497
so much yes

[2016-02-19 00:36] jkwok91 commented on #445
Getting started on this ASAP.

[2016-02-19 23:15] #445 closed

[2016-02-23 04:25] zachlatta opened #499 "Hack Club Socks"
I think it is absolutely imperative that Hack Club has custom socks. See http://custom.sockclub.com.

[2016-02-23 05:01] paked commented on #499
ILL BUY SOME. SO MUCH NEED.

On Tue, 23 Feb 2016 3:25 pm Zach Latta <notifications@github.com> wrote:

[2016-02-24 00:39] MaxWofford commented on #497
@jkwok91 Do you have other sketches of this?

[2016-02-24 06:29] zachlatta opened #503 "Fast Forward Application"
**Website:** http://www.ffwd.org/
**Application deadline:** April 1, 2016
**Program start date:** July 6, 2016
**Grant size:** $25,000, mentorship, and demo day

---

Let's apply to the Fast Forward accelerator. It's kinda like YC, but for nonprofits. Quick blurb from them:

[2016-02-24 06:42] ssun098 commented on #503
Note to self: put together both organization & club leader perspectives

[2016-02-24 07:00] paked commented on #503
:+1:

[2016-02-24 07:08] zachlatta commented on #503
Quick overview of our current stats (let me know if you have any questions about the data).

![tmp](https://cloud.githubusercontent.com/assets/992248/13278070/4d359d50-da82-11e5-9b27-fb5bef6f2f87.png)

[2016-03-01 07:57] zachlatta opened #504 "Classy Grant Application"
We just completed our application tonight for the [Classy Awards](https://www.classy.org/collaborative). Right now, everything we wrote for this grant is in their custom grant software.

Can you create a Markdown file with all of our answers in the `applications/` folder?

[2016-03-01 07:58] jkwok91 commented on #504
RAAAAAAARRARARAR

[2016-03-02 22:25] jkwok91 opened #505 "Posters"
Opening this issue to keep track of poster templates I'll be creating for anyone who needs some inspiration for their clubs.

Requirements for all:
- an attention-catching hook (usually referring to what the meeting will be about)
- name of club
- date, time, and place of club meeting

[2016-03-02 22:26] jkwok91 commented on #505
Sorry for the accidental assign @JevinSidhu!

[2016-03-02 22:28] jkwok91 commented on #505
This issue was moved to hackclub/hackclub#750

[2016-03-02 22:28] #505 closed

[2016-03-03 04:46] MaxWofford commented on #341
Going to close this for the time being; it looks like GitHub's API really doesn't want us to do this anymore.

[2016-03-03 04:46] #341 closed

[2016-03-03 16:43] jkwok91 commented on #504
Update: I emailed to ask if we could ever view our application, and Classy said it will be available after judging.

[2016-03-03 18:51] zachlatta commented on #504
👌

On Mar 3, 2016, 8:44 AM -0800, JESSICA<notifications@github.com>, wrote:

[2016-03-03 19:14] zachlatta opened #507 "Create Hack Club one sheet for school administration"
We have a club in Illinois that was just reprimanded by their school administration for being associated with Hack Club. They're afraid of their name and, as a result, the club isn't allowed to associate with us until they get a better idea of what Hack Club is. They didn't get enough information from our website to trust us (which makes sense, our website is currently pretty lacking).

If they're

[2016-03-03 19:48] MaxWofford commented on #491
@zachlatta Is this still happening?

[2016-03-04 05:07] zachlatta commented on #491
Gah, I gotta do this. Will try to get to tomorrow.

On Thu, Mar 3, 2016 at 11:48 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-03-05 20:07] jkwok91 commented on #507
There is now one in the Dropbox. There may be iterations in the future.

[2016-03-05 20:07] #507 closed

[2016-03-06 04:24] zachlatta commented on #507
Can you submit it to this repo?

On Sat, Mar 5, 2016 at 3:07 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-03-07 22:57] zachlatta commented on #491
Fixed!

[2016-03-07 22:57] #491 closed

[2016-03-08 02:17] MaxWofford commented on #491
Woooo!

[2016-03-08 02:21] MaxWofford commented on #486
@zachlatta Want to close this?

/cc @prophetorpheus

[2016-03-08 04:19] zachlatta commented on #486
Ah, thank you! Closing now.

[2016-03-08 04:19] #486 closed

[2016-03-08 16:34] jkwok91 commented on #507
In what directory?

[2016-03-08 18:12] MaxWofford commented on #507
We could make a `resources` directory that includes our one sheets and logos.

[2016-03-08 18:47] zachlatta commented on #507
👍

On Mar 8, 2016, 10:12 AM -0800, Max Wofford<notifications@github.com>, wrote:

[2016-03-08 20:04] zachlatta commented on #302
Thoughts on continuing this @MaxWofford, @jkwok91, @remixz? I'm thinking about closing it for now.

[2016-03-08 20:04] zachlatta commented on #299
We're no longer doing Labs, closing.

[2016-03-08 20:04] #299 closed

[2016-03-08 20:10] remixz commented on #302
:+1: to closing the leaders group... we should keep all of our communication in one place. Slack seems to be the best choice for now.

[2016-03-08 20:15] zachlatta commented on #180
How to do this issue:

Find the email addresses of the founder(s) of Cloud9 and draft an email to them
asking if they'd be interested in entertaining a partnership with us to get
Cloud9 in the hand of our members.

Here's the email I sent to [Crystal](https://www.crystalknows.com/) as an
example of what you may want to send:

It may be worth to keep it ambiguous and say that you'd like to talk abo

[2016-03-08 20:27] zachlatta commented on #302
Gonna close. Happy to reopen if anyone has any objections.

[2016-03-08 20:27] #302 closed

[2016-03-08 20:27] zachlatta commented on #298
Closing because #109 was closed.

[2016-03-08 20:27] #298 closed

[2016-03-11 19:59] zachlatta opened #511 "Remove 80 character line limit from Markdown guidelines"
In https://github.com/hackclub/meta/blob/master/styleguides/markdown.md#general-conventions

[2016-03-12 03:53] zachlatta commented on #180
Alright, sent! Thanks for writing the email @jkwok91.

Here's the final version that was sent off:

[2016-03-12 03:53] #180 closed

[2016-03-14 02:14] #511 closed

[2016-04-04 23:26] zachlatta opened #519 "De-onboard Jonathan"

[2016-04-04 23:27] zachlatta opened #520 "De-onboard Zach Bruggeman"

[2016-04-04 23:49] jkwok91 commented on #519
what is this

[2016-04-05 00:25] zachlatta opened #521 "Investigate getting our own 501(c)(3) status"
We're planning on parting ways with our fiscal sponsor in June 2016 and need to either get our own 501(c)(3) status or find a new fiscal sponsor.

This issue is to track investigating getting our own 501(c)(3) status (i.e. is that even feasible in this timeframe?).

[2016-04-05 00:29] zachlatta opened #522 "Get first date confirmed for Shasta club"
@jkwok91 and I are starting a Hack Club at [Summit Shasta](http://www.summitps.org/schools/california/summit-shasta) to build out the [new curriculum plan](https://github.com/hackclub/meta#curriculum-plan).

Before we can have a first meeting there, we need to do two things:

- [x] Send over volunteer paperwork
  - [x] @zachlatta
    - [x] Get Live Scan thumbprint done
    - [x] Get a TB test
  -

[2016-04-05 01:18] zachlatta opened #523 "Write full position requirements for curriculum engineer position"
Now that we're looking to hire a curriculum engineer again, I'd like to take the time to write down some sort of proper list of requirements/wants for this position.

I have a list of people I think may be good fits for this – this'll help me narrow down that list and send better emails when I reach out.

[2016-04-05 01:25] zachlatta opened #524 "Organize another Hack Night for the evening of April 15th"

[2016-04-05 01:27] zachlatta opened #525 "Week of 04.04.16"
This issue is to track everything we want to do this week.

#### Content

- [x] Complete Dodge rewrite (hackclub/hackclub#522, @jkwok91)
- [ ] Create first "Coding is..." workshop (hackclub/hackclub#779, @jkwok91)

#### Website

- [x] Improve donation page (hackclub/website#217, @zachlatta)
- [x] Close applications for this school year (hackclub/website#216, @zachlatta)
- [x] Change year selector

[2016-04-06 02:21] zachlatta commented on #519
Basically do the opposite of https://github.com/hackclub/meta/blob/master/staff_onboarding_protocol.md with him. So removing access to Hack Club things.

[2016-04-06 02:21] zachlatta commented on #519
Finished!

[2016-04-06 02:21] #519 closed

[2016-04-06 02:22] zachlatta commented on #520
Finished!

[2016-04-06 02:22] #520 closed

[2016-04-12 04:46] #523 closed

[2016-04-12 04:50] zachlatta commented on #521
Okay, so I reached out to the lawyer that I've been working with and they don't have any bandwidth to work with us to get our 501(c)(3) right now. I'm getting a referral for another lawyer from a friend.

[2016-04-12 04:54] jkwok91 commented on #497
Closing; [existing banners](https://blog.hackclub.com/2016/02/16/we-have-graphics/) will suffice for now.

[2016-04-12 04:54] #497 closed

[2016-04-12 08:46] paked commented on #499
@kwok I think you may have misinterpreted what I said here. I meant to
imply that I would buy them if they were put on sale, not order them from
the sock company.

On Tue, 12 Apr 2016 2:57 pm JESSICA <notifications@github.com> wrote:

[2016-04-15 06:33] zachlatta opened #529 "Week of 04.11.16"
#### Curriculum

- [ ] Finish Soundboard workshop (hackclub/hackclub#784, @jkwok91)
- [x] Come up with idea for other "Coding Is..." workshop (comment in hackclub/hackclub#778, @jkwok91)
- [ ] Start brainstorming first deep dive (comment results in hackclub/hackclub#778, @jkwok91 (with help from @zachlatta))

#### Shasta Club

- [ ] Get first date confirmed (hackclub/meta#522, @jkwok91 (with help

[2016-04-15 07:06] jkwok91 commented on #529
The other "Coding is..." is geometric patterns in p5.js

[2016-04-15 07:06] jkwok91 commented on #529
Btw: https://gist.github.com/jkwok91/8824a5ecc915abc1675e286cf8e64029
Brainstorm

[2016-04-15 07:10] zachlatta commented on #529
Can you make an issue to track creating that workshop?

On Fri, Apr 15, 2016 at 12:06 AM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-17 01:19] jkwok91 opened #530 "Organize Hack Night for April 29th"
This is an issue to track the planning for Hack Night on Friday, April 29th. It's both to remind me what needs to be done, and update everyone else on the progress.

Todo:
- [x] Set logistics
  - [x] Place: [partytime.hackclub.com](https://partytime.hackclub.com)
  - [x] Time: 5PM
  - [x] Theme: GOODNIGHT MOOOOOOON YOOOOO
- [x] Make initial announcement
- [x] Make poster
- [x] Get at least ~~three

[2016-04-17 01:50] jkwok91 opened #531 "Organize Shasta Club's next meeting"
Hack Club is helping to run the coding club at Summit High School: Shasta, and for their next meeting we've decided to have an event, in the hopes of attracting new members!

#### Event

We'll be running the Personal Website workshop for beginners who show up.

**Todo:**
- [x] Consider amending the workshop, or creating a branch of it to:
  - [ ] Introduce more HTML elements
  - [ ] Add more websi

[2016-04-17 02:03] paked commented on #530
I don't think having multiple themes is a good idea. Not quite sure why, it just feels... Off.

[2016-04-17 02:06] jkwok91 commented on #530
In that case, how about a poll?

[2016-04-17 04:38] paked commented on #530
Works for me!

[2016-04-17 22:05] zachlatta commented on #530
Update: Jessica and I were talking last night and she came up with an
awesome theme. No polling for now, wait for the announcement ;-).

On Sat, Apr 16, 2016 at 9:38 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-04-17 22:06] zachlatta commented on #531
It'd probably be worth mentioning https://github.com/hackclub/meta/issues/522 from this issue as well – still have to get those TB tests done.

[2016-04-17 23:40] MatthewKwong commented on #531
[Personal Website lesson](https://github.com/hackclub/hackclub/blob/master/workshops/personal_website/README.md) seems good to teach for beginners.  I really like the idea for CSS animations for more advanced people.

My mentor is down for helping out, I can ask her if she can stay later after than 5 if needed. I can send you her email if needed.

Everything else sounds good! Excited for this to c

[2016-04-18 00:15] zachlatta commented on #531
Hmm, is there any earlier we could do it? We'd love to be able to get in a
few meetings before the school year ends.

On Sun, Apr 17, 2016 at 4:40 PM, Matthew Kwong <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-18 20:48] jkwok91 commented on #529
Yea but what about all the stuff we did that's not on this list 🍭

[2016-04-18 20:59] zachlatta commented on #529
Yeah, but we should strive to accomplish everything on the list in addition
to the other stuff. Let's do better this week.

On Mon, Apr 18, 2016 at 1:48 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-19 03:49] zachlatta commented on #524
This happened :-).

[2016-04-19 03:49] #524 closed

[2016-04-19 21:10] zachlatta opened #534 "May 2016 Demo Night"
This issue is to track organizing the May 2016 Demo Night.

Stuff we need to do:

- [x] Secure a food sponsor
- [x] Secure speakers (keynote, and short talks, and then people for demoing)
  - [x] Keynote
  - [x] Short talks
  - [x] Demos
- [ ] Get at least 50 registrations

Anything else @ssun098 or @saescapa?

[2016-04-19 21:23] zachlatta opened #535 "Create Hack Night stickers"
Stickers to mail out to people who participated in a Hack Night.

[2016-04-19 21:24] zachlatta opened #536 "Send out recap email for 04.16.16 Hack Night"
- Thank everyone for coming
- List of projects that people made
- Reminder about upcoming Hack Night

[2016-04-19 22:56] zachlatta opened #537 "Week of 04.18.16"
#### What We Didn't Accomplish Last Week (or the Previous)

All the things we didn't accomplish in previous weekly issues. We're going to tackle these this week.

#### 04.11.16

- [ ] Finish Soundboard workshop (hackclub/hackclub#784, @jkwok91)
- [x] Start brainstorming first deep dive (comment results in hackclub/hackclub#778, @jkwok91 (with help from @zachlatta))
- [x] Get first date confirmed (

[2016-04-19 22:57] zachlatta commented on #525
Closing because week is over. New weekly in #537.

[2016-04-19 22:57] #525 closed

[2016-04-19 22:57] zachlatta commented on #529
Closing because week is over. New weekly in #537.

[2016-04-19 23:04] MaxWofford commented on #529
Closing because @zachlatta is [closing this](https://github.com/hackclub/meta/issues/529#issuecomment-212160380) because #537

[2016-04-19 23:04] #529 closed

[2016-04-19 23:08] zachlatta commented on #529
:ok_hand:

Thanks Max, totally forgot to hit that close button.

On Tue, Apr 19, 2016 at 4:04 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-20 02:31] MaxWofford commented on #503
@ssun098 can we close this?

[2016-04-20 02:32] MaxWofford commented on #504
@jkwok91 What needs to get done to close this?

[2016-04-20 02:33] MaxWofford commented on #368
Looks like the holidays are gone! Can we close this @zachlatta ?

[2016-04-20 02:45] zachlatta commented on #368
Yeah, good call. Closing.

[2016-04-20 02:45] #368 closed

[2016-04-20 03:13] jkwok91 commented on #504
@zachlatta Has Classy released the submission text?

[2016-04-20 04:24] ssun098 commented on #503
Yep! It's all done

[2016-04-20 04:25] #503 closed

[2016-04-20 17:25] zachlatta commented on #503
:ok_hand:

On Tue, Apr 19, 2016 at 9:25 PM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-20 17:28] zachlatta commented on #504
@MaxWofford: We need classy to release the application's text.

@jkwok91: No :-(. I emailed them about it and they said we need to wait
until review for all applications is over before we can access our
application.

On Tue, Apr 19, 2016 at 8:13 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-22 04:05] jkwok91 commented on #535
Working on this 🔨

[2016-04-22 06:54] paked commented on #535
What if there were "Hack Night" badges, so each Hack Night had a sticker corresponding to its theme and you got to collect them... Like gym badges in pokemon!

[2016-04-22 07:08] zachlatta commented on #535
Just you wait ;-).

On Thu, Apr 21, 2016 at 11:54 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-22 07:26] jkwok91 commented on #535
I have created them. Closing this issue.

[2016-04-22 07:26] #535 closed

[2016-04-22 07:32] zachlatta commented on #536
And here it is!

[2016-04-22 07:32] #536 closed

[2016-04-22 11:42] MaxWofford commented on #535
@jkwok91 where are they currently?

[2016-04-22 23:02] jkwok91 commented on #522
We did these things so I am closing this.

[2016-04-22 23:02] #522 closed

[2016-04-23 00:37] zachlatta commented on #356
Going to go ahead and close this since it's no longer a priority since we created [our new curriculum plan](https://github.com/hackclub/meta#curriculum-plan).

[2016-04-23 00:37] #356 closed

[2016-04-23 00:37] zachlatta commented on #392
Should we go ahead and close this? Seems like creating new curriculum is the current priority.

[2016-04-23 00:38] zachlatta commented on #393
Closing due to #436 being merged.

[2016-04-23 00:38] #393 closed

[2016-04-23 00:39] zachlatta commented on #395
Thoughts on closing this? Since we're currently focused on implementing our new curriculum plan in hackclub/hackclub#778, this isn't a priority.

[2016-04-23 00:43] zachlatta commented on #534
Update: Segment's going to sponsor food.

[2016-04-23 01:02] zachlatta opened #538 "Schedule biweekly calls with test subjects to test workshops"
In our one-on-one today, @jkwok91 and I were talking about how to incorporate regular feedback into our workshop creation process. In addition to getting involved in the Shasta club, we think it's a good idea to set up workshop calls twice a week with friends who want to learn how to code. In these calls, we'd test workshops currently under development with them.

I think that having these calls a

[2016-04-23 01:07] zachlatta commented on #531
@MatthewKwong: I think @jkwok91 is currently in touch with you on Slack about coordinating for the date.

@jkwok91: can you post any updates from Slack here as soon as you have them?

[2016-04-23 01:27] zachlatta commented on #534
Reached out to someone for a potential keynote. Will keep everyone updated here.

[2016-04-23 20:40] jkwok91 commented on #522
First date is April 28th

[2016-04-24 23:28] MaxWofford opened #539 "Rename Google organization"
It looks like our Google organization is still named hackEDU.
![screenshot_2016-04-24_19 28 14](https://cloud.githubusercontent.com/assets/5891442/14771239/b55d30fa-0a52-11e6-83b9-c5dd5ecca069.png)

[2016-04-25 05:59] zachlatta commented on #539
Yeah, this is actually a limitation of Google Apps. We've changed the name of the organization to "Hack Club", but we can't change the name of the "top level organizational unit" (which is what you're seeing in that dropdown). See https://support.google.com/a/answer/178186?hl=en for more details.

[2016-04-25 05:59] #539 closed

[2016-04-26 05:45] zachlatta commented on #538
Done. We have calls on Mondays, Wednesdays, Thursdays, and Sundays.

[2016-04-26 05:45] #538 closed

[2016-04-26 05:45] zachlatta commented on #534
Got keynote speaker confirmed.

[2016-04-26 05:51] zachlatta commented on #531
Okay, so we're set to run it on this Thursday, the 28th.

Quick overview of where we're at:

- We're going to be running the Personal Website workshop, per @MatthewKwong's suggestion
- @jkwok91 made a bunch of dope posters that @MatthewKwong is going to put around the school
  - @MatthewKwong is also going to pass out Hack Club stickers to advertise

[2016-04-26 06:00] zachlatta opened #540 "Transition leadership in clubs that are solely led by seniors"
We have a bunch of clubs that are only led by seniors right now. Once they graduate, the clubs will die unless we transition leadership.

This issue is to track that transition.

[2016-04-26 06:09] zachlatta opened #541 "Week of 04.25.16"
#### Workshops

- [ ] ~~Add GitHub's third signup step to Personal Website (@jkwok91, hackclub/hackclub#798)~~
- [x] Make a round of improvements to Soundboard (wasn't completed last week) (@jkwok91, hackclub/hackclub#805)
- [x] Create workshop on Bootstrap (@jkwok91, hackclub/hackclub#807)

#### Events

- [x] Run the Shasta club meeting (@jkwok91, hackclub/meta#531)
- [x] Market and run Hack Nigh

[2016-04-26 06:09] zachlatta commented on #537
Closing because week is over. New issue in #541.

[2016-04-26 06:09] #537 closed

[2016-04-26 13:47] MaxWofford commented on #33
Going to remove the discussion tag because it seems like we're going to do it.

[2016-04-26 17:06] zachlatta opened #544 "Figure out housing for Max over the summer"
He needs a place to live and this time it's preferably not a floor.

He'll need it from May 21st to August 21st. I just reached out to my house and it sounds like it may work out, but the problem is that the room that's opening opens late June, so that's a month with no place.

[2016-04-26 22:59] zachlatta opened #545 "Create a "What is GitHub?" one-sheet"
A bunch of school districts have GitHub blocked and I think it'd be helpful to have a one-sheet on GitHub we could distribute to administration.

One idea for how to pitch it is "GitHub is how programmers write code together. Trying to write code without GitHub is like trying to write an essay without Google Docs or Microsoft Word. It's technically possible, but you're severely impaired."

[2016-04-29 06:23] zachlatta commented on #531
It's been done! Great work team.

:tada: :tada: :tada:

[2016-04-29 06:23] #531 closed

[2016-05-03 09:19] zachlatta commented on #544
All set – he's confirmed for my place.

[2016-05-03 09:19] #544 closed

[2016-05-03 09:20] zachlatta commented on #530
Closing because Hack Night has happened!

[2016-05-03 09:20] #530 closed

[2016-05-03 09:31] zachlatta commented on #521
Update: I talked with another lawyer last week, but the quote they gave me was insane. The search continues...

[2016-05-03 09:32] zachlatta commented on #540
I emailed all of the leaders last week about this and got a bunch of responses. I've been periodically processing those responses as they've flowed in.

I'd like to do a proper sweet of our leader database to make sure every leader is accounted for at some point this week.

[2016-05-03 15:33] jkwok91 commented on #541
This is over! We need a new weekly.

[2016-05-04 01:48] MaxWofford opened #550 "Add license to font used in logo"

[2016-05-04 01:49] zachlatta commented on #550
Why in Dropbox? Isn't the main file in the meta repo?

On Tue, May 3, 2016 at 6:48 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-05-04 01:54] MaxWofford commented on #550
@zachlatta Thanks for catching that!

[2016-05-04 08:43] zachlatta opened #551 "Week of 05.02.16"
It's May! Apologies for the delay in creating this – will reach out to everyone about making issues for each task.

#### Curriculum

- Finish Soundboard workshop
  - [ ] get better sounds
  - [ ] remove refactoring section
  - [ ] add more buttons
  - [ ] add CSS because no one is using this thing like a soundboard cuz it doesn't look like one
- [x] Write first draft of Geometric Pattern workshop

[2016-05-04 08:44] zachlatta commented on #541
Closing because week is over. New weekly in #551.

[2016-05-04 08:44] #541 closed

[2016-05-05 17:22] MaxWofford commented on #550
#552 closes this

[2016-05-11 16:53] zachlatta commented on #545
Any updates on this?

[2016-05-11 16:54] zachlatta commented on #504
Continuing to follow-up with them on this. Pretty annoying that they still haven't released the application text.

[2016-05-11 16:55] zachlatta commented on #392
Going to go ahead and close this due to lack of response.

[2016-05-11 16:55] zachlatta commented on #392
(Feel free to re-open if you'd like to continue discussion)

[2016-05-11 16:55] #392 closed

[2016-05-11 16:55] zachlatta commented on #395
Going to go ahead and close this due to lack of response. If anyone wants to re-open this for discussion, go for it.

[2016-05-11 16:56] #395 closed

[2016-05-11 16:57] zachlatta commented on #550
Just waiting on you to fix my comments in #552.

[2016-05-11 17:02] zachlatta commented on #521
Talked with a friend that runs a nonprofit yesterday. They're going to intro me to a lawyer they know.

[2016-05-11 17:05] zachlatta opened #553 "Moving away from using Dropbox to store assets"
@jkwok91 and @MaxWofford, I know both of you have been using our team Dropbox to store logos and other Hack Club assets.

What are your thoughts on moving everything into GitHub repos? We could either put them in `hackclub/meta` or create a new repo for assets.

[2016-05-11 17:45] zachlatta commented on #551
Going to go ahead and close this because the week's over.

[2016-05-11 17:46] #551 closed

[2016-05-11 19:56] MaxWofford commented on #553
Totally down to using git to store major versions of our assets.

I'd still like to use Dropbox to keep a pool of the sketchy, early WIP stuff though. Using git with to track so many changes when I really only need the current version is a hassle.

[2016-05-11 20:01] jkwok91 commented on #553
Can we not do migrationy stuff while there are more pressing matters at hand

On Wednesday, May 11, 2016, Max Wofford <notifications@github.com> wrote:

[2016-05-11 21:16] zachlatta commented on #553
I think these sorts of incremental improvements are important, but I also
agree that we currently have more pressing matters at hand. Let's
de-prioritize this task until we have a venue and enough sign-ups secured
for Hack Camp.

On Wed, May 11, 2016 at 1:01 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-05-12 03:24] zachlatta opened #554 "Week of 05.09.16"
This weekly's going to be much shorter than that of previous weeks.

Three categories of objectives: curriculum, Hack Camp, and meta.

### Curriculum

See the May 9 - 15 section of https://github.com/hackclub/hackclub/issues/778. @jkwok91 is responsible for making sure this gets done.

### Hack Camp

See the May 8 - 14 section of https://github.com/hackclub/hackcamp/issues/597. @MaxWofford is resp

[2016-05-12 03:26] zachlatta commented on #551
Replaced by https://github.com/hackclub/meta/issues/554.

[2016-05-12 19:40] zachlatta commented on #540
Update: we're set on nearly all of our clubs, I just need to follow-up with two leaders to get everything set up.

[2016-05-13 04:09] zachlatta commented on #521
And they worked out! Sending along the official paperwork tomorrow, we're set for getting our 501(c)(3).

Closing :raised_hands:.

[2016-05-13 04:09] #521 closed

[2016-05-13 04:13] MaxWofford commented on #521
Nice @zachlatta! Hearing this made my day :)

![good_day](https://cloud.githubusercontent.com/assets/5891442/15237786/7b6f6eb6-189f-11e6-83b7-293dba5396f3.gif)

[2016-05-16 18:37] zachlatta commented on #534
Done!

Great work team, the event was awesome.

[2016-05-16 18:37] #534 closed

[2016-05-16 18:39] zachlatta commented on #540
Okay, so there are a few remaining follow-ups, but I think we're largely set for next year. I'm expecting ~15% club attrition, which we'll easily be able to offset with applications for next year.

[2016-05-16 18:39] #540 closed

[2016-05-17 04:20] jkwok91 commented on #554
You still wanna do first hack day after deep dive?

[2016-05-18 22:19] jkwok91 opened #556 "Redesign Hack Club one-sheet"
It needs much improvement.

[2016-05-18 23:05] zachlatta commented on #556
Here are the two one-sheets we have so far:

[3818314437077982764.pdf](https://github.com/hackclub/meta/files/271565/3818314437077982764.1.pdf)
[9671487326761620072.pdf](https://github.com/hackclub/meta/files/271564/9671487326761620072.pdf)

[2016-05-19 13:16] zachlatta commented on #556
And here's an updated back and white one with the latest stats (and correct comparison stats):

[onesheet_bw_updated.pdf](https://github.com/hackclub/meta/files/272620/onesheet_bw_updated.1.pdf)

[2016-05-24 04:47] LabLayers opened #560 "Pick a shade of red"
I've noticed that you're using different shades of red through your sites...

![image](https://cloud.githubusercontent.com/assets/607807/15492308/ddf9eccc-2147-11e6-959e-c208c036392a.png)

So I set on a mission to find as many different shades of red as I could find. After 10 minutes of browsing around. I was able to sample 8 different shades of non-gradient red across your websites and hackclub/m

[2016-05-24 04:48] LabLayers commented on #560
I personally like the gradient and I could to do something special with it on the website.

[2016-05-24 04:49] LabLayers commented on #560
Furthermore, it would help to create some sort of design style guide. Other things like fonts are not consistent at all across your materials.

[2016-05-24 13:25] jkwok91 commented on #560
@LabLayers: I LOVE that you're doing this preliminary research/investigation. Unfortunately I think I am guilty of most of the problems you are referring to.

I've been using `rgb(255, 75, 85)` (or `#ff4b55`) for the red, and `rgb(232, 78, 116)` (or `#e84e74`) for the purple. @MaxWofford confirm?
As for typefaces, I've been trying out different stuff, for fun? Ha. Definitely haven't been sticking

[2016-05-24 15:12] zachlatta commented on #560
Totally agree with the inconsistency being a problem. Until now, design consistency hasn't been a priority, but now it's starting to cause problems and it's time we change that. @coolbeans19 also brought up the need for a design style guide.

Here's my current understanding of things (@MaxWofford will be able to fill in where I can't):

- [This is our latest logo (as of the time of this comment)](

[2016-05-26 04:33] MaxWofford commented on #560
@jkwok91: Can confirm; that is one of the colors for the purple!

@zachlatta: Yes, Amaranth is the base for our logo. The `H` is modified Amaranth and the 'K' is modified Open Sans.

@LabLayers: @zachlatta and @jkwok91 pretty much covered everything I can think of.

[2016-05-27 04:41] ssun098 opened #561 "Organize July Hack Series/Demo Night"
This issue is for tracking everything that needs to be done for Hack Series and Demo Night in July, and will be regularly updated!

Hack Series
- [x] Get venue (#567, @ssun098)
- [x] Find a few more people for team (#568, @ssun098)
- [x] Create Facebook/Eventbrite events (#569, @ssun098)
- [x] Mentors (#580, @MaxWofford)
- [x] Sign ups (#572, @ssun098)
- [x] Schedule (#581, @MaxWofford)
- [x] Upda

[2016-06-12 00:35] zachlatta commented on #556
I submitted #564 to make a basic version. Still waiting on @jkwok91 to make a final version.

[2016-06-15 00:25] zachlatta commented on #561
:raised_hands:

[2016-06-17 10:45] zachlatta opened #566 "Create stickers with Hack Club's logo"
Just the file over at https://github.com/hackclub/meta/blob/master/logos/hack_club_red_text.svg. We could make it a transfer sticker or go for the custom cutout around the letters.

Requested by @bhargav-y.

[2016-06-20 19:21] ssun098 opened #567 "Find venue for Hack Series/Demo Night"
Goal is to get it in by Thursday

[2016-06-20 23:46] MaxWofford commented on #554
@zrl: is it cool if we close this?

[2016-06-20 23:48] MaxWofford commented on #566
Transfer would look fantastic on a black laptop

[2016-06-21 11:42] #554 closed

[2016-06-21 11:42] zachlatta commented on #554
Done!

Sent from my mobile

[2016-06-21 18:19] ssun098 opened #568 "Find team for Hackshop/Demo Night"

[2016-06-23 18:16] ssun098 opened #569 "Create Facebook and Eventbrite events for Demo Night"
- [x] Demo Night
  - [x] Facebook
  - [x] Eventbrite

[2016-06-23 18:43] ssun098 commented on #569
[Demo Night Eventbrite](https://www.eventbrite.com/e/hack-club-demo-night-tickets-26230059815)
[Demo Night Facebook](https://www.facebook.com/events/249802872065631/ )

[2016-06-27 23:13] ssun098 commented on #567
love segment <3 <3

[2016-06-27 23:13] #567 closed

[2016-06-28 02:40] ssun098 opened #572 "Drive signups for Hack Series"
- [x] Promote on social media
  - [x] Facebook
  - [x] Twitter
- [x] Reach 10 signups
   - [x] Session 1
   - [x] Session 2

[2016-06-28 02:41] ssun098 opened #573 "Schedule for Demo Night"

[2016-06-28 02:41] ssun098 opened #574 "Reach out to people who can demo at Demo Night"
- [x] Send out email to all attendees
- [x] Get 5 people to demo

[2016-06-28 02:51] ssun098 opened #575 "Drive signups for Demo Night"
- [x] Promote on social media
  - [x] Facebook
  - [x] Twitter
- [x] 30 signups total on Eventbrite

[2016-06-28 02:51] ssun098 opened #576 "Demo Night Stickers"

[2016-06-28 03:03] ssun098 commented on #568
I think we're good for now

[2016-06-28 03:03] #568 closed

[2016-06-28 06:55] MaxWofford opened #577 "ZenHub workflow documentation"
We'll be using ZenHub to manage our GitHub issues.

This issue tracks creating a guide for managing Hack Club's GitHub issues using ZenHub.

[2016-06-28 09:42] zachlatta commented on #567
Segment is incredible.

On Mon, Jun 27, 2016 at 4:13 PM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-06-29 23:34] MaxWofford opened #579 "Create Facebook and Eventbrite events for Hack Series"
- [x] Hack Series
  - [x] Facebook
  - [x] Eventbrite

[2016-06-29 23:35] MaxWofford commented on #569
I'm splitting the Hackshops requirements off into https://github.com/hackclub/meta/issues/579.

[2016-06-29 23:41] MaxWofford commented on #561
I've removed the local press task – I don't think it's worth our time right now.

[2016-06-29 23:53] MaxWofford opened #580 "Find mentors for Hack Series"
This can be closed once our on-boarding process is documented in this repo and 3 mentors are confirmed and have been on-boarded for each time-slot of Hack Series.

[2016-06-29 23:55] MaxWofford opened #581 "Schedule for Hack Series"
This can be closed once the schedule is documented in this repo.

[2016-06-29 23:56] MaxWofford opened #582 "Update series.hackclub.com"
This can be closed once series.hackclub.com directs to the 2016 Eventbrite page.

[2016-06-29 23:57] MaxWofford commented on #582
Currently blocking on having an Eventbrite page https://github.com/hackclub/meta/issues/579

[2016-06-29 23:58] MaxWofford commented on #568
@ssun098 Could you elaborate?

[2016-06-30 00:02] ssun098 commented on #579
[Facebook](https://www.facebook.com/events/1785939154973659/#)
[Eventbrite](https://www.eventbrite.com/e/hack-series-tickets-26339922417)

[2016-06-30 00:02] #579 closed

[2016-06-30 00:05] ssun098 commented on #569
Closing this because it's done

[2016-06-30 00:05] #569 closed

[2016-06-30 00:06] ssun098 opened #583 "Find keynote speaker for Demo Night"

[2016-06-30 00:11] ssun098 opened #584 "Get food for 2nd session of Hack Series"
need food for 2nd session and 3rd session

[2016-06-30 00:20] zachlatta commented on #579
Ah, love the new name.

On Wed, Jun 29, 2016 at 4:34 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-06-30 00:32] MrCodeCollector opened #585 "Find someone to do Short-Talk for Demo Night"

[2016-06-30 00:34] ssun098 commented on #579
i can feel the sarcasm

On Wed, Jun 29, 2016 at 5:20 PM Zach Latta <notifications@github.com> wrote:

[2016-06-30 01:23] ssun098 commented on #579
@zachlatta we actually decided not to change the name :P

[2016-06-30 02:49] ssun098 opened #586 "Update demo-night.hackclub.com"
https://www.eventbrite.com/e/hack-club-demo-night-tickets-26230059815

[2016-06-30 02:56] ssun098 commented on #561
epic feelsbadman

[2016-06-30 04:49] MaxWofford commented on #582
No longer blocking on #579 because I've got the Eventbrite URL (https://www.eventbrite.com/e/hack-series-tickets-26339922417).

[2016-06-30 04:50] MaxWofford commented on #582
@zachlatta Would you please direct series.hackclub.com to https://www.eventbrite.com/e/hack-series-tickets-26339922417?

[2016-06-30 20:50] ssun098 commented on #586
https://www.eventbrite.com/e/hack-club-demo-night-tickets-26230059815

[2016-06-30 22:23] zachlatta commented on #579
Oh really? I actually liked Hack Basics.

On Wed, Jun 29, 2016 at 6:23 PM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-06-30 22:23] zachlatta commented on #579
(or HackBasics, I guess)

On Thu, Jun 30, 2016 at 3:23 PM, Zach Latta <zach@zachlatta.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-06-30 23:43] ssun098 commented on #579
Our logic was that since we already marketed Hack Series last time, people
might recognize the name this time so it wouldn't be worth rebranding. I
dunno, we might rebrand next time?

On Thu, Jun 30, 2016 at 3:23 PM Zach Latta <notifications@github.com> wrote:

[2016-07-02 19:08] MaxWofford opened #588 "Organize Hack Night"
Discussion about organizing Hack Night is happening in [#hack-night-organizers](https://starthackclub.slack.com/messages/hack-night-organizers/). This is our list of tasks.

- [x] Decide on a date (#589)
- [x] Choose a theme (#590)
- [x] Have a checklist/schedule of the event (#591)
- [x] Make an announcement about Hack Night in #hack-night and #announcements (#592)
- [x] Get list of Hack Night Su

[2016-07-02 20:01] MaxWofford commented on #572
@ssun098: any updates on social media?

[2016-07-02 22:49] MaxWofford opened #589 "Decide on a date for Hack Night"
This issue can be closed once someone comments on this issue with the date we're running it.

[2016-07-02 22:51] MaxWofford opened #590 "Choose a theme for Hack Night"
This can be closed once we've decided on a theme and someone puts it in a comment on this issue.

[2016-07-02 22:53] MaxWofford opened #591 "Write up a checklist/schedule of events at Hack Night"

[2016-07-02 22:54] MaxWofford opened #592 "Announce Hack Night"
- [x] Slack
  - [x] #hack-night
  - [x] #announcements
- [x] Email

[2016-07-02 23:02] ssun098 commented on #572
Everything has been posted on Facebook and Twitter, we just need to keep posting occasionally

[2016-07-06 02:59] ssun098 commented on #576
Closing this because it seems like it'll be too late to get the stickers done. I'll reopen before next Demo Night

[2016-07-06 02:59] #576 closed

[2016-07-07 05:51] MaxWofford commented on #582
@zachlatta Just a quick ping on this

[2016-07-07 05:52] MaxWofford commented on #586
@zachlatta Would you please create this sub-domain?

[2016-07-07 14:43] #581 closed

[2016-07-07 14:54] zachlatta commented on #589
How's this going? Should @raysarebest be assigned to this?

[2016-07-07 14:54] zachlatta commented on #504
Okay, Classy is garbage. Let's close this now and give up.

They still haven't given us the grant back.

[2016-07-07 14:54] #504 closed

[2016-07-07 18:59] raysarebest commented on #589
According to the poll in the Slack, it looks like Friday is a solid recurring day to do it, as that's the number winning out last time I checked. That being said, I'll have to be rather late to this Friday's (7/15, as it turns out), because that's my grandfather's birthday, and I'll be out to dinner with him for the first part of it

[2016-07-07 19:03] zachlatta commented on #589
Do you want to go forward with Friday? One of us can lead it.

On Thu, Jul 7, 2016 at 11:59 AM, Michael Hulet <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-07-07 19:05] raysarebest commented on #589
That seems to be when the most people are free, so I think that's the best time to have it

[2016-07-07 19:11] zachlatta commented on #589
Gotcha, I'll leave it to Max or Selynna to coordinate who'll lead it from
here. Let's make sure you can make it on time for the next one, you're such
an important part of this community :-).

On Thu, Jul 7, 2016 at 12:05 PM, Michael Hulet <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-07-08 04:54] ssun098 commented on #583
@zachlatta any updates?

[2016-07-08 13:27] zachlatta commented on #583
Yup, Ozan Onay is confirmed as our keynote.

Sent from my mobile

[2016-07-08 14:48] MaxWofford commented on #583
@zachlatta: Can this be closed?

[2016-07-09 12:47] #583 closed

[2016-07-09 12:47] zachlatta commented on #583
Very much so – just closed.

[2016-07-09 20:10] MaxWofford commented on #589
I'm going to go ahead and close this. We're having hack night this Friday (7/15).

[2016-07-09 20:10] #589 closed

[2016-07-09 20:12] MaxWofford commented on #590
On second thought, let's record the theme in the #hack-night-organizers channel on slack. That way the theme will be a surprise.

[2016-07-09 20:15] MaxWofford commented on #590
It's recorded in the channel.

[2016-07-09 20:15] #590 closed

[2016-07-10 17:34] zachlatta commented on #590
Can you link to the specific message in the Slack channel where this is
recorded?

On Sat, Jul 9, 2016 at 1:15 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-07-10 18:37] MaxWofford commented on #590
/cc @raysarebest

[2016-07-10 18:53] metmets commented on #591
Quick schedule:
 5:00~5:20 Gathering people/ chatting/explaining stuff.
 5:20 LET THE HACKING GAMES BEGIN
 9:35 Last 5 or so minutes
 9:40/:45 Begin demos
 10:00 The end!

Of course the more people come the more time is needed for demos

[2016-07-10 18:57] MaxWofford commented on #591
Thanks @metmets!

[2016-07-10 18:57] #591 closed

[2016-07-10 19:55] raysarebest commented on #590
[Here](https://starthackclub.slack.com/archives/hack-night-organizers/p1467649946000065)'s the original proposition by Markus Torpel, which all in the channel reacted to with ☀️ in support, and [here](https://starthackclub.slack.com/archives/hack-night-organizers/p1467961161000079)'s later on when @JSneak responded that Summer was the consensus when asked about it

[2016-07-10 22:15] ssun098 commented on #582
@zachlatta another ping

[2016-07-10 22:15] ssun098 commented on #586
@zachlatta pinging again

[2016-07-10 22:15] ssun098 commented on #585
@zachlatta do you have any updates on this?

[2016-07-10 22:16] ssun098 commented on #584
@MaxWofford Tejas is going to ask about covering the session we don't have food for, so we probably won't know until next week if we'll need to get more food for the ,2nd session

[2016-07-10 22:17] ssun098 commented on #573
Closed by #594

[2016-07-10 22:17] #573 closed

[2016-07-10 22:20] ssun098 commented on #572
Reached out signups goal!

[2016-07-10 22:20] #572 closed

[2016-07-10 22:21] ssun098 commented on #580
@MaxWofford are we good for closing this? seems like we have enough mentors for the event

[2016-07-10 23:38] MaxWofford commented on #580
@ssun098 Is it recorded somewhere?

[2016-07-10 23:38] MaxWofford commented on #584
Next week is when Hack Series is running.

[2016-07-10 23:39] MaxWofford commented on #585
@zachlatta Let's reach out to Bogidon

[2016-07-11 00:20] zachlatta commented on #586
Done! I am *so* sorry for the delay – not cool of me.

[2016-07-11 00:20] #586 closed

[2016-07-11 00:20] zachlatta commented on #582
Done, so sorry for the delay. Really not cool of me.

[2016-07-11 00:20] #582 closed

[2016-07-11 05:20] ssun098 commented on #584
Sorry I mean by Monday or Tuesday or something

[2016-07-11 05:21] ssun098 commented on #580
No, I wasn't sure where it'd be recorded

On Sun, Jul 10, 2016 at 4:38 PM Max Wofford <notifications@github.com>
wrote:

[2016-07-11 17:24] ssun098 opened #595 "Get bio for Oz"

[2016-07-11 17:40] ssun098 commented on #580
@MaxWofford https://docs.google.com/spreadsheets/d/1wjpGz61ODzoQDxdTI5Svat09mSfoa-0Ady6EjWlnDQ4/edit#gid=0

[2016-07-11 17:40] #580 closed

[2016-07-12 03:12] zachlatta commented on #572
Ayyyy, :raised_hands:!

On Sun, Jul 10, 2016 at 3:20 PM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-07-12 18:58] zachlatta opened #597 "Test issue"
Please ignore this – opening this issue to test webhooks.

[2016-07-12 19:16] #597 closed

[2016-07-12 22:56] zachlatta commented on #595
Found one on his Crunchbase:

[code]

[2016-07-12 22:57] #595 closed

[2016-07-13 16:51] zachlatta opened #598 "Testing"
Sorry, please ignore this issue.

[2016-07-13 16:52] #598 closed

[2016-07-13 16:52] zachlatta opened #599 "Testing again"
Sorry, please ignore this as well.

[2016-07-13 19:42] zachlatta commented on #585
Update: reached out to @Bogidon, but he can't make it due to traveling. Will reach out to a few more people.

[2016-07-13 20:08] zachlatta opened #600 "Cancel Howdy standups and replace with in-person standups in the morning"
- [x] Cancel Howdy standups
- [x] Send out calendar invite for in-person standups

[2016-07-13 20:11] ssun098 commented on #584
Waiting for response from Tejas

[2016-07-13 20:11] zachlatta opened #601 "Create blocking label for this repo"
So we can mark when issues are blocking on other stuff.

[2016-07-13 20:13] zachlatta commented on #601
Make sure to apply this to #584.

[2016-07-13 20:23] zachlatta commented on #222
Going to go ahead and close this because it's not a priority.

[2016-07-13 20:23] #222 closed

[2016-07-13 20:29] MaxWofford commented on #601
Added!
![screenshot_2016-07-13_13 28 55](https://cloud.githubusercontent.com/assets/5891442/16818661/c5da5c70-48fd-11e6-80c0-d9be47e2c923.png)

[2016-07-13 20:29] #601 closed

[2016-07-13 20:30] MaxWofford commented on #499
This is a fantastic idea, but I'm going to close it because it looks like there haven't been any updates recently.

[2016-07-13 20:30] #499 closed

[2016-07-13 20:30] zachlatta opened #602 "Remove deployment of shipped and shipit"
Since we're deprecating both shipped and shipit, we should remove their deployments as well.

This also requires the "Projects" button to be removed from hackclub.com.

[2016-07-13 20:32] zachlatta commented on #545
Just a note, but we're going to want this for the upcoming school year.

[2016-07-13 20:38] zachlatta commented on #560
@LabLayers did you end up picking a shade of red to go with? We could standardize that across everything.

[2016-07-13 20:39] zachlatta commented on #553
Going to go ahead and close this issue due to it not being a priority.

[2016-07-13 20:39] #553 closed

[2016-07-13 20:40] zachlatta commented on #556
Hey, any updates on this?

[2016-07-13 20:57] #600 closed

[2016-07-14 00:07] MaxWofford opened #603 "Email Hack Series attendees about Demo Night"

[2016-07-14 01:47] MaxWofford commented on #603
Just emailed!

[2016-07-14 01:47] #603 closed

[2016-07-14 01:48] MaxWofford commented on #545
@zachlatta @ssun098: Who should we assign this to?

[2016-07-14 19:02] ssun098 commented on #584
update: need to buy food for hackers in 2nd session Saturday

[2016-07-14 19:03] ssun098 commented on #585
@MaxWofford can this be closed if Stefan is confirmed?

[2016-07-14 19:09] MaxWofford commented on #585
Let's do it.

[2016-07-14 19:09] #585 closed

[2016-07-14 19:21] zachlatta commented on #584
Can we just say we're not going to provide food? Seems like more work.

On Thu, Jul 14, 2016 at 12:02 PM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-07-14 20:09] MaxWofford commented on #592
Just sent out the email!

[2016-07-14 20:09] #592 closed

[2016-07-14 20:10] MaxWofford commented on #584
We can just get pizza delivered, shouldn't take more than 10 minutes.

[2016-07-14 20:10] ssun098 commented on #584
IT seems kinda weird to provide for one session and not the other?

On Thu, Jul 14, 2016 at 12:21 PM Zach Latta <notifications@github.com>
wrote:

[2016-07-14 20:44] ssun098 commented on #574
We have 5!

[2016-07-14 20:44] #574 closed

[2016-07-14 21:07] ssun098 opened #605 "Get cups and label maker"
- [x] Label maker (note: Sanil will be bringing it)
- [x] Cups

[2016-07-14 21:14] MaxWofford commented on #599
@zachlatta Would it make sense to do this with a test repo outside of Hack Club?

[2016-07-14 21:15] zachlatta commented on #599
Unfortunately had to test this with a repo inside of the Hack Club org :-/.

Sorry for the extra pings.

On Thu, Jul 14, 2016 at 2:14 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-07-14 21:18] MaxWofford commented on #605
I've got a label maker in my bag you can borrow.

[2016-07-14 21:21] ssun098 commented on #605
No I mean like legit labels, not the labels we had for hack camp. Label
maker from CodeDay

On Thu, Jul 14, 2016 at 2:18 PM Max Wofford <notifications@github.com>
wrote:

[2016-07-14 22:30] MaxWofford opened #606 "Send out text to all Hack Series attendees in the morning"
We'll be sending this out day of using something along the lines of https://gist.github.com/MaxWofford/3e1909d406b2ce15ee2a4291a754bc05.

[2016-07-14 22:33] MaxWofford commented on #606
Looks like we didn't collect phone numbers. Closing.

[2016-07-14 22:33] #606 closed

[2016-07-14 22:36] MaxWofford commented on #605
@ssun098 Would you please update this in ZenHub?

[2016-07-15 01:02] MaxWofford opened #607 "Get list of Hack Night Summer meetups that have 5 or more participants"
_From @MaxWofford on July 15, 2016 0:58_

This is so we can send them food.

_Copied from original issue: hackclub/camp#749_

[2016-07-15 01:05] #599 closed

[2016-07-15 15:38] MaxWofford commented on #607
I've gotten a list and added it to a temporary working sheet in clubs.hackclub.com at https://docs.google.com/spreadsheets/d/1Mb-8WBjiZUOYgWqNJxaigCWZvZqnIHZ2ZhokVNCbJ4g/edit#gid=191284362.

[2016-07-15 15:38] MaxWofford commented on #607
It's going to be periodically updated as more people reach out to me, but I'm closing for now because the deliverable is complete.

[2016-07-15 16:31] MaxWofford opened #608 "Order food for 2nd session of Hack Series"
_From @MaxWofford on July 15, 2016 16:27_

Looks like Segment can only provide 2 meals (1st session of  Hack Series + Demo Night). We'll be ordering our own food for the 2nd session of Hack Series

_Copied from original issue: hackclub/hackclub#871_

[2016-07-15 16:33] MaxWofford commented on #608
My mistake, this is already in #584.

[2016-07-15 16:33] #608 closed

[2016-07-15 20:45] ssun098 commented on #575
Closing bc we have enough signups

[2016-07-15 20:45] #575 closed

[2016-07-15 23:41] zachlatta commented on #607
Can you PM these to me on Slack?

On Fri, Jul 15, 2016 at 4:39 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-07-15 23:44] MaxWofford commented on #607
@zachlatta Will do.

[2016-07-16 07:04] MaxWofford opened #609 "Send out email for recap of Hack Night Summer"

[2016-07-16 07:04] #607 closed

[2016-07-16 17:07] MaxWofford opened #610 "Create tutorial on setting up a GitHub pages custom domain"

[2016-07-16 17:10] MaxWofford opened #611 "Announce .tech domains for Hack Series"

[2016-07-16 17:53] zachlatta opened #612 "Train Howdy to collect feedback from Hack Series attendees"

[2016-07-16 17:53] zachlatta commented on #612
Done! You can run it with `howdy run hack series feedback`.

[2016-07-16 17:53] #612 closed

[2016-07-16 17:59] zachlatta opened #613 "Send out follow-up email"
We're going to send two follow-ups to the attendees:

_Immediately after the event:_

- Link to how to set up your .tech domain with your GitHub Pages site
- Link to our other workshops
- Link to DM the sender of the email on Slack

_3 days after the event:_

- A check-in to see if we can help with anything
- Link to DM the sender of the email on Slack

[2016-07-16 21:54] zachlatta commented on #611
Did this happen?

On Sat, Jul 16, 2016 at 10:10 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-07-16 22:59] ssun098 opened #614 "Send email about media release for Demo Night"

[2016-07-17 01:59] zachlatta commented on #614
As talked about in-person, we can phrase this as a reminder email. Actual
implementation is up to you.

"Hey everyone! Just a quick reminder that Demo Night is happening TONIGHT!

Can't wait to see all of you at {ADDRESS}.

Oh, and one last thing: we'll be taking some photos at the event – if you
come, we'll assume that you consent to having these shared publicly (ex. in
an album on our Facebook).

[2016-07-17 03:16] ssun098 commented on #614
Sent draft in #demo-night

[2016-07-17 04:44] MaxWofford commented on #611
Nope, failed at announcing this. Going to keep the issue open because we may want to add the instructions to the follow up emails we send out.

[2016-07-17 04:44] MaxWofford commented on #584
Segment provided us with enough food for both sessions.

[2016-07-17 04:44] #584 closed

[2016-07-17 04:46] MaxWofford opened #615 "Clear out expired sheets in clubs.hackclub.com"
There's quite a few expired sheets in the Temporary section of clubs.hackclub.com. It would be awesome to clear out what we're not using.

[2016-07-17 05:07] zachlatta commented on #615
A+

On Sat, Jul 16, 2016 at 9:46 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-07-17 05:08] zachlatta commented on #611
Cool, but let's close this issue and then just comment about mentioning the
.tech instructions in the follow-up issue.

On Sat, Jul 16, 2016 at 9:44 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-07-17 05:21] MaxWofford commented on #613
This email should include instructions on how to get a free .tech domain (see https://github.com/hackclub/meta/issues/611#issuecomment-233165546).

[2016-07-17 05:21] MaxWofford commented on #611
Sounds good! https://github.com/hackclub/meta/issues/613#issuecomment-233165856

[2016-07-17 05:21] #611 closed

[2016-07-17 17:19] ssun098 commented on #614
Sent to attendees

[2016-07-17 17:19] #614 closed

[2016-07-17 17:25] ssun098 opened #616 "Slides for Demo Night"

[2016-07-17 17:56] ssun098 commented on #616
Done, just need edits (if at all)

[2016-07-17 17:56] #616 closed

[2016-07-18 08:04] MaxWofford opened #617 "Create new repo for events"
This issue is to track the creation of a new repository for the events Hack Club runs (Hack Series, Demo Night, etc.). Because it's labeled with `Idea`, this issue can be closed if it is decided that we don't want to go forward with it.

[2016-07-18 17:21] zachlatta opened #618 "Send out feedback email for Demo Night"

[2016-07-18 17:29] zachlatta commented on #613
Blocking on #610.

[2016-07-18 17:34] zachlatta commented on #560
Ping ping.

[2016-07-18 23:48] ssun098 commented on #605
done

[2016-07-18 23:48] #605 closed

[2016-07-18 23:50] ssun098 opened #619 "Check Hack Series GitHubs for commits"
To be done on Saturday EOD

[2016-07-18 23:55] ssun098 opened #620 "Find another person to train for Demo Night"

[2016-07-19 04:10] MaxWofford commented on #610
I've just requested a .tech domain so I can see the flow of setting up a custom domain.

[2016-07-19 04:57] MaxWofford commented on #617
@hackclub/staff: Thoughts?

[2016-07-19 05:37] ssun098 commented on #617
Sure, I think it'll keep everything neater

On Mon, Jul 18, 2016 at 9:57 PM Max Wofford <notifications@github.com>
wrote:

[2016-07-19 05:42] zachlatta commented on #617
Dow.

On Mon, Jul 18, 2016 at 10:37 PM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-07-19 05:42] zachlatta commented on #617
*Down.

On Mon, Jul 18, 2016 at 10:42 PM, Zach Latta <zach@zachlatta.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-07-19 10:26] zachlatta commented on #618
Done!

[2016-07-19 10:26] #618 closed

[2016-07-19 11:26] zachlatta opened #622 "Send out Hack Night feedback and recap emails"
I have a template for the feedback email I can send out, but I need @MaxWofford to send me a list of the attendees and projects from the Hack Night on Friday.

[2016-07-19 15:37] LabLayers commented on #560
After a bit of discussion in the slack a while back, I decided to go with a slightly bolder/vibrant shade of red, #E42D40 in my mockups.

[2016-07-19 15:58] MaxWofford commented on #560
@LabLayers @zachlatta Can this issue be closed?

[2016-07-19 17:16] #561 closed

[2016-07-19 23:55] zachlatta opened #623 "Move protocol and process documents to a separate processes/ directory"
I'd like to move documents on our organization processes (like club leader onboarding) to their own directory inside of this repo.

I think it'd make it a bit easier to manage them.

[2016-07-20 00:50] zachlatta commented on #622
This is a dupe of #609. Closing.

[2016-07-20 00:50] #622 closed

[2016-07-20 00:55] MaxWofford commented on #617
Assigning @ssun098 as mentioned in standups today.

[2016-07-20 17:18] 99anthonylam opened #624 "Run activity during lunches to create conversation and increase productivity of hackers"
This can be closed after lunch of Hack Camp Session 3 Day 4

[2016-07-20 17:42] #624 closed

[2016-07-20 17:42] 99anthonylam commented on #624
Issue moved to [hackclub/camp #771](https://github.com/hackclub/camp/issues/771) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-20 19:04] #560 closed

[2016-07-20 23:35] MaxWofford commented on #609
Talked with @ssun098 in person about her taking point on this.

[2016-07-22 02:54] MaxWofford commented on #610
Waiting on push access to github.com/hackclub/free-tech-domain

[2016-07-23 01:36] zachlatta opened #625 "Send thank you to Segment for Demo Night and Hack Series"
- Send photos from the event

[2016-07-23 01:37] zachlatta opened #626 "Post photos from Demo Night on Facebook"
Zach has already sent photos to Selynna for this. We can't post photos from Hack Series because we never had people sign media releases.

[2016-07-24 03:36] ssun098 commented on #617
This can be closed once https://github.com/hackclub/events/pull/2 is merged

[2016-07-24 05:32] ssun098 commented on #626
Posted here: https://www.facebook.com/Hack-Club-741805665870458/photos/?tab=album&album_id=1221760654541621

[2016-07-24 05:32] #626 closed

[2016-07-24 05:49] ssun098 commented on #609
Need project links

[2016-07-24 06:32] ssun098 commented on #609
Talked to @MaxWofford and reassigning issue to him
draft--
[code]

[2016-07-24 19:46] ssun098 commented on #617
Done! hackclub/events

[2016-07-24 19:46] #617 closed

[2016-07-24 19:56] ssun098 commented on #619
Statistics:
- 4 people did not commit anytime during the week
- 6 people did commit sometime during the week
 - 3 of those who did commit were working on other code projects (ie website, iOS app, etc)
 - the other 3 committed changes to the personal websites they started at Hack Series

[2016-07-24 19:56] #619 closed

[2016-07-24 20:28] ssun098 commented on #620
Moved to here: https://github.com/hackclub/events/issues/7

[2016-07-24 20:28] #620 closed

[2016-07-25 16:20] MaxWofford commented on #610
Closed by https://github.com/hackclub/hackclub/pull/880

[2016-07-25 16:33] #610 closed

[2016-07-25 16:47] MaxWofford opened #628 "Create video tutorial on how to use ZenHub"
This can be closed once the video is in our Dropbox.

[2016-07-25 16:48] #628 closed

[2016-07-25 16:54] MaxWofford commented on #628
Please ignore this issue, I made a mistake while opening it.

[2016-07-25 16:54] MaxWofford commented on #628
(duplicate of #577)

[2016-07-25 22:51] MaxWofford commented on #613
@zachlatta Ping on this.

[2016-07-26 05:34] zachlatta commented on #613
Done! Email is queued to send at 8AM tomorrow.

[2016-07-26 05:34] #613 closed

[2016-07-26 17:28] MaxWofford commented on #609
Just sent out. Thanks for the draft @ssun098.

[2016-07-26 17:28] #609 closed

[2016-07-26 17:28] #588 closed

[2016-07-27 02:25] #623 closed

[2016-07-28 01:09] MaxWofford commented on #550
Closed by #552

[2016-07-28 01:09] #550 closed

[2016-07-29 00:09] ssun098 commented on #556
Moving this to unsorted until we get this reassigned to an active team member

[2016-07-29 00:09] ssun098 commented on #545
Moving this to unsorted until we get this reassigned to an active team member

[2016-07-29 00:10] ssun098 commented on #625
@zachlatta do you want me to take this issue? Needs to be done asap

[2016-07-29 00:28] zachlatta commented on #625
Yes please. I started on it yesterday and realized it didn't make sense for me because you're the point of contact with them.

Sent from my mobile

[2016-07-29 05:05] ssun098 commented on #625
By any chance do you have part of a draft I could continue off of?

[2016-07-29 21:49] ssun098 commented on #625
Done!

[2016-07-29 21:49] #625 closed

[2016-07-29 22:14] zachlatta commented on #625
Sorry for not getting back earlier – just saw this. Glad it worked out :-).

On Fri, Jul 29, 2016 at 11:49 AM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-08-10 19:42] CoolBeans19 commented on #556
@zachlatta @MaxWofford @jkwok91 I will scour the Google Photos for photos to use on the onesheet, but if you want me to use the same ones I would appreciate getting the files. Also please tell inform if you do not want any pictures.

[2016-08-10 19:45] CoolBeans19 commented on #556
nvm found the picture

[2016-08-15 22:12] #545 closed

[2016-08-15 22:23] MaxWofford commented on #545
@CoolBeans19 Could you comment with a link to the PR that closes this issue?

[2016-08-15 22:50] MaxWofford opened #632 "Import all clubs into Streak"

[2016-08-15 22:55] MaxWofford opened #633 "Kick-off email for existing clubs"
From https://docs.google.com/spreadsheets/d/1H3eWAH3trXgGudJgl_-bVHUe7jLgoJnQuBscMgirDGA/edit#gid=0

1. Yay you're in/ school year
2. Here's the shit you need to know

[2016-08-15 22:57] MaxWofford opened #634 "Plan social media posts for next 2 months"
From https://docs.google.com/spreadsheets/d/1H3eWAH3trXgGudJgl_-bVHUe7jLgoJnQuBscMgirDGA/edit#gid=0

[2016-08-15 23:01] MaxWofford opened #635 "Get presence at every SF hackathon"
From https://docs.google.com/spreadsheets/d/1H3eWAH3trXgGudJgl_-bVHUe7jLgoJnQuBscMgirDGA/edit#gid=0

[2016-08-15 23:01] MaxWofford commented on #635
@kyleemile: You noted that this is on-hold in the spreadsheet. Should we track this issue?

[2016-08-15 23:03] MaxWofford opened #636 "Story telling"
This issue is copied over from https://docs.google.com/spreadsheets/d/1H3eWAH3trXgGudJgl_-bVHUe7jLgoJnQuBscMgirDGA/edit#gid=0

@kyleemile I'm not totally clear what this entails. Could you comment with the success condition, or "what needs to happen for this issue to be closed"?

[2016-08-15 23:04] MaxWofford opened #637 "Move spreadsheet issues to ZenHub board"
This can  be closed once all issues tracked in https://docs.google.com/spreadsheets/d/1H3eWAH3trXgGudJgl_-bVHUe7jLgoJnQuBscMgirDGA/edit#gid=0 are represented on our ZenHub board.

[2016-08-16 03:20] zachlatta commented on #632
Done!

[2016-08-16 03:20] #632 closed

[2016-08-16 13:27] kyleemile commented on #635
Yeah, I say track it.

On Mon, Aug 15, 2016 at 4:01 PM, Max Wofford <notifications@github.com>
wrote:

[2016-08-16 17:04] #637 closed

[2016-08-16 17:11] #636 closed

[2016-08-16 17:11] kyleemile commented on #636
I will be keeping this top of mind.

[2016-08-17 15:25] zachlatta opened #638 "Send out a reminder email for Hack Night on Friday"
Hack Night's happening and we want to make sure our community knows.

Draft a reminder email recapping the details for the event that we can send out today. Run final copy by me before sending.

[2016-08-17 19:49] #556 closed

[2016-08-18 16:08] #633 closed

[2016-08-18 16:08] ssun098 commented on #633
Done

[2016-08-18 18:14] MaxWofford commented on #633
![](https://media.giphy.com/media/3o7abrRFnymlummn60/giphy.gif)

[2016-08-19 00:37] ssun098 commented on #638
Done

[2016-08-19 00:37] #638 closed

[2016-08-24 18:38] MaxWofford opened #641 "Review Hack Club Applications"

[2016-08-24 18:38] MaxWofford opened #642 "Get students for video"

[2016-08-24 18:38] MaxWofford opened #643 "Send acceptance/rejection email for last week interviews"

[2016-08-24 18:38] MaxWofford opened #644 "Complete metrics tracking"

[2016-08-24 18:38] MaxWofford opened #645 "Plan Onboarding call"

[2016-08-24 18:38] MaxWofford opened #646 "Complete workshop.hackclub.com"

[2016-08-24 18:53] MaxWofford commented on #644
Let's have a discussion about how we'll make sure that the Projects Shipped form is integrated into onboarding.

[--- Commented from Asana.com
#commenter Kyle Emile
---[aa]

[2016-08-24 21:38] MaxWofford opened #647 "Fix Asana <> GitHub integration to use a separate account"
- Create an Asana and GitHub account with the email asana_sync@hackclub.com – that'll go to my email and I'll forward over the needed verification emails
- Reconfigure the sync tool you're using to use this new account

[2016-08-25 00:53] zachlatta commented on #647
FYI for anyone that's only following along on GitHub, this issue was
created by me, but since our Asana <> GitHub bridge uses Max's account
right now, the issue on GitHub was created be him.

This issue will resolve this issue (:o).

On Wed, Aug 24, 2016 at 2:38 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-08-25 03:23] MaxWofford commented on #642
I think this can be closed now, yes?

[--- Commented from Asana.com
#commenter Zach Latta
---[aa]

[2016-08-25 03:38] MaxWofford opened #648 "Get remaining media release forms from students we shot with on 08.24.16"
This issue is to get the remaining media release forms from students that we shot footage with on Wednesday, 08.24.16.

This can be closed when the media release forms have been added to the shared Dropbox folder with the other releases.

If you're interested in this task and don't know about or have access to the folder in question, just let me know and I'll share it.

[2016-08-25 03:38] #642 closed

[2016-08-25 03:38] MaxWofford commented on #642
I'm just going to close this.

[--- Commented from Asana.com
#commenter Zach Latta
---[aa]

[2016-08-25 04:38] MaxWofford commented on #643
Completed my portion of the task. There are still a few more candidates that need decision emails sent out. Handing off to you, https://app.asana.com/0/169784042795144/169784042795144.

[--- Commented from Asana.com
#commenter Zach Latta
---[aa]

[2016-08-25 04:39] ssun098 commented on #648
Done!

[2016-08-25 04:53] MaxWofford commented on #648
The versions you uploaded are super low quality and not very legible. Can you replace with better quality uploads?

[--- Commented from Asana.com
#commenter Zach Latta
---[aa]

[2016-08-25 07:23] #648 closed

[2016-08-25 07:23] MaxWofford commented on #648
Should be fixed now

[--- Commented from Asana.com
#commenter Selynna Sun
---[aa]

[2016-08-25 14:43] kyleemile commented on #577
Zen board workflow:

You’ll notice that there are 7 categories.

**Unsorted:**
This is where new task are placed. No items should remain in unsorted for longer than a day

**Backlog:**
This contains work that are of low priority. Typically these are things that won’t get done within the next 2 weeks.

**Todo:**
These hold items that are queued, and are waiting to be worked on.

**In Progress:**
Th

[2016-08-26 03:05] #643 closed

[2016-08-26 03:05] SyncyMcSyncface commented on #577
https://app.asana.com/0/171333429831189/171333429831189, where does this workflow need to be posted?

[--- Commented from Asana.com
#commenter Kyle Emile
---[aa]

[2016-08-26 03:05] SyncyMcSyncface commented on #635
Yeah, lets track it.

[--- Commented from Asana.com
#commenter Kyle Emile
---[aa]

[2016-08-26 03:05] SyncyMcSyncface commented on #643
Done.

[--- Commented from Asana.com
#commenter Kyle Emile
---[aa]

[2016-08-26 12:05] #647 closed

[2016-08-26 12:05] SyncyMcSyncface commented on #577
It should be documented in the meta repo

[--- Commented from Asana.com
#commenter Max
---[aa]

[2016-08-26 15:35] #641 closed

[2016-08-26 15:35] SyncyMcSyncface commented on #577
https://app.asana.com/0/171333429831189/171333429831189 I'm quite sure how to do that....would you mind jumpoing on a call sometime and helping me figure that out?

[--- Commented from Asana.com
#commenter Kyle Emile
---[aa]

[2016-08-26 17:36] MaxWofford commented on #577
Sure! How's 1pm PST today?

[2016-08-27 18:11] MaxWofford opened #650 "Document email blurbs about Hack Club"
It would be super useful to have an email blurb or short pitch about Hack Club documented somewhere in this repo. I'm not always up-to-date on how we're presenting ourselves, so this would be super useful to me.

Thoughts @hackclub/staff?

[2016-08-29 14:05] #634 closed

[2016-09-03 01:00] zachlatta commented on #650
Down for it.

Here's the blurb I send:

Hack Club <https://hackclub.com/> is an SF-based nonprofit that helps high
schoolers start after-school coding clubs. We provide a "club in a box"
with everything needed for a student to start a chapter – curriculum,
leadership training, an online community, and events. Here's an article
with a bit more about us.
<http://www.businessinsider.com/zach-lattas-h

[2016-09-04 01:26] MaxWofford commented on #577
This was closed by #649

[2016-09-04 01:26] #577 closed

[2016-09-05 19:04] zachlatta commented on #645
No idea what this issue entails. Closing.

[2016-09-05 19:04] #645 closed

[2016-09-05 19:04] zachlatta commented on #645
To be clear, we've already had multiple onboarding calls.

[2016-09-05 19:05] zachlatta commented on #646
This issue's way too broad. No idea what success looks like.

Going to close. Let's track future issues for workshops.hackclub.com in https://github.com/hackclub/lecture-hall.

[2016-09-05 19:05] #646 closed

[2016-09-05 22:17] ssun098 opened #654 "Get t-shirts for FF"
We need tshirts for Fast Forward - this entails contacting vendors and securing a deal.

[2016-09-05 22:30] zachlatta commented on #654
Closing this issue because the success condition isn't clear.

[2016-09-05 22:30] #654 closed

[2016-09-05 22:35] ssun098 opened #655 "Order t-shirts for Fast Forward"
We need tshirts for Fast Forward - this entails contacting vendors and securing a deal.
This issue can be closed once we physically have the tshirts.

[2016-09-05 22:37] kyleemile opened #656 "Run Friday's Onboarding Call"
Zach to record Tuesday's (9/6) 1pm PDT onboarding call, which I will use as reference.
I will attend Tuesday's (9/6) 5pm PDT onboarding call. After reviewing the recorded onboarding
call and attending the 9/6 5pm PDT call, I'll be ready to run Friday's onboarding call on my own.

[2016-09-05 22:40] kyleemile opened #657 "Make sure all clubs in Club Management pipeline are in correct stage."
This issue can be closed once there are no clubs in the unknown stage in Club Management Streak pipeline.

[2016-09-05 22:43] zachlatta commented on #657
Closing this issue because it's unclear what specifically needs to happen for it to be closed.

[2016-09-05 22:45] zachlatta commented on #656
Closing this issue because it's not completely clear what needs to specifically be done for it to be closed.

Does this mean that you've ran an onboarding call by the end of the week? If so, I don't think that'll be possible because when we chatted earlier today, it sounded like you couldn't make any of the onboarding calls as a spectator while you're traveling.

[2016-09-05 22:47] ssun098 commented on #615
Done clearing!

[2016-09-05 22:47] #615 closed

[2016-09-05 22:54] kyleemile commented on #656
We discussed that you'd record tomorrow morning's onboarding call and that
I'd attend the one in the evening. After reviewing the recorded onboarding
call and attending the one in the evening, I'd be ready to run Friday's
call on my own.

Can you help me understand how that's not clear?

On Mon, Sep 5, 2016 at 3:45 PM, Zach Latta <notifications@github.com> wrote:

[2016-09-05 23:23] zachlatta commented on #656
That context wasn't included in the original issue, which is why it wasn't clear. If you included that in the issue's description, then this'd be fine. Feel free to reopen the issue and add that as the description.

Make it clear that the "deliverable" is you running Friday's onboarding call when you edit it.

[2016-09-06 13:15] zachlatta opened #658 "Update organization logos on all the things"
As part of the redesign of https://hackclub.com, we changed the color of our logo and removed the gradient in #653.

This issue entails updating our logo on the various Hack Club accounts online. It can be closed once our logo on the following sites has been updated:

- [x] Facebook
- [x] Twitter
- [x] GitHub
- [x] Slack

~~- [ ] Medium~~

Comment if I missed any sites that it should be updated on

[2016-09-06 13:26] zachlatta opened #659 "Delete Facebook group"
Now that we've moved all of our community activity to the Slack, I'd like to propose deleting the Facebook group entirely to make sure that we're thinking about fewer things where we can.

This issue entails two things:

1. Figuring out whether we want to delete the Facebook group
2. Deleting the Facebook group

If we decide to go ahead and delete the Facebook group, then the following things shou

[2016-09-06 14:46] zachlatta commented on #657
Closing this issue because I believe the context of it is larger than currently described.

I believe this issue also entails getting all of our clubs into our call process. Correct me if wrong.

[2016-09-06 14:49] zachlatta commented on #656
Can you edit this issue's description to include what's described above? Closing in the meantime.

[2016-09-06 14:59] zachlatta commented on #602
Projects button has been removed from website

[2016-09-06 15:06] zachlatta opened #660 "Update Twitter colors to match new logo color"
If you check out our Twitter page (see below), the "Tweet to" and "Message" buttons don't match our logo's color. Same deal with the numbers under "following", "followers", and "likes".

Can you update the colors specified on our profile to match the logo?

<img width="858" alt="screen shot 2016-09-06 at 8 04 03 am" src="https://cloud.githubusercontent.com/assets/992248/18278900/9649b858-7408-11e6

[2016-09-06 15:08] zachlatta commented on #655
I got introduced to Teespring's direct order people and it sounds like they'll give us their lowest rate. I'll CC you on the thread, @ssun098.

[2016-09-06 15:14] zachlatta opened #661 "Gather club leader testimonials"
This issue is to track gathering the testimonials that'll be added to the website in hackclub/website#264.

@ssun098: can you get 3-5 testimonials from club leaders that talk about how awesome Hack Club is?

Here are the sorts of things I want mentioned in the testimonials:

- Hack Club made it super easy to start a great coding club
- By starting a Hack Club, they were able to build community the

[2016-09-06 15:32] zachlatta opened #662 "Update favicons to new logo"
This is kind of an extension to #658, but since the deliverable is different, I decided to create a separate issue.

As part of changing our logo in #653, it's important for us to update the favicons we're using across sites to the new logo.

To start, we should update the favicon on https://hackclub.com and https://workshops.hackclub.com. Here's how to do it:

1. Create an ICO version of the new

[2016-09-06 19:03] ssun098 commented on #660
Updated!

[2016-09-06 19:03] #660 closed

[2016-09-06 21:41] ssun098 commented on #662
https://github.com/hackclub/website/pull/267 fixes hackclub/website

[2016-09-06 21:44] ssun098 commented on #662
https://github.com/hackclub/lecture-hall/pull/48 fixes hackclub/lecture-hall

[2016-09-06 21:45] zachlatta commented on #662
Both favicons you submitted are 7.7MB, which is over 900 times as large as the previous favicons.

Can you update the PRs with much smaller favicons? The current one's 8KB.

[2016-09-06 21:49] ssun098 commented on #662
Updated, is it better now?

[2016-09-06 22:01] zachlatta commented on #662
Yup! Merged both.

[2016-09-06 22:01] #662 closed

[2016-09-06 22:12] ssun098 commented on #658
Done!

[2016-09-06 22:12] #658 closed

[2016-09-06 22:13] ssun098 commented on #658
Didn't update Medium because there isn't any logo/Hack Club graphics visible

[2016-09-07 16:55] #602 closed

[2016-09-07 16:56] zachlatta commented on #602
Done!

- Removed projects button from website
- Removed deployments of shipped and shipit
- Added redirects from https://shipped.hackclub.com and https://shipit.hackclub.com to https://hackclub.com

[2016-09-07 21:47] zachlatta opened #663 "Tell people to check for blocked websites in preparing for first meeting call"
The `operations/` directory contains all of our docs on managing club leader operations.

@rsterneck had her first meeting today and ran into some trouble when her members tried to open Cloud9 workspaces. See hackclub/hackclub#942 for full context.

In addition to the changes to our club guide described in hackclub/hackclub#942, we should update our "Preparing for your first meeting" call to make

[2016-09-08 08:01] zachlatta commented on #659
Cool, since nobody's against it, I'm assigning @ssun098 and adding to the current sprint.

[2016-09-09 02:38] ssun098 commented on #659
Do we actually need the email? Pretty sure a lot of people don't know the Facebook group exists, and it'd only be important for those already in the group (which is addressed by posting in the Facebook group).

[2016-09-09 03:40] ssun098 commented on #659
same tbh
![image](https://cloud.githubusercontent.com/assets/7741746/18374766/761afc10-7604-11e6-982f-d64372739f20.png)

[2016-09-09 16:44] zachlatta commented on #659
No need for email, you're good. Facebook group post is good though.

On Thu, Sep 8, 2016 at 8:40 PM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-09-09 17:00] ssun098 commented on #659
Cool, everything done!

[2016-09-09 17:00] #659 closed

[2016-09-09 18:17] ssun098 commented on #661
https://docs.google.com/spreadsheets/d/1LUawi_CPGcWVHlWQQHydvctcWWLwZhak3-Ar1XSbEkU/edit#gid=0 All the testimonials will be in here. I have 4/5 rn, and I'm still waiting on a headshot from 2

[2016-09-10 02:10] ssun098 opened #665 "Order business cards for Fast Forward"
This issue can be closed once we order the business cards.

Things that need to be done:
- [x] Find printer
- [ ] Get design approved and printed

[2016-09-12 14:55] #663 closed

[2016-09-12 16:04] #656 closed

[2016-09-12 16:23] zachlatta commented on #655
Shirts have been ordered!

[2016-09-12 16:23] #655 closed

[2016-09-12 16:53] zachlatta opened #666 "Order business cards for Selynna, Matthew, and Victor"
In #665 we ordered business cards for myself and @kyleemile for the Fast Forward events happening this week.

This issue entails using the same business card template from #665 and ordering 100 business cards each for @ssun098, @MatthewKwong, and @LabLayers.

The business cards we ordered for #665 had a variety of illustrations on their backs to make the cards a bit more fun to hand out, we're goi

[2016-09-12 17:02] ssun098 commented on #661
This can be closed once there are 2-3 female co-leads giving testimonials as well

[2016-09-12 17:55] ssun098 commented on #665
Done, they're ready to pick up too!

[2016-09-12 17:55] #665 closed

[2016-09-12 20:46] ssun098 commented on #661
Done!

[2016-09-12 20:46] #661 closed

[2016-09-14 20:37] ssun098 commented on #666
Ordered!

[2016-09-14 20:37] #666 closed

[2016-09-20 20:09] #657 closed

[2016-11-19 16:11] zachlatta commented on #650
This is now stored in Streak. Closing.

[2016-11-19 16:11] #650 closed

[2016-11-19 16:11] zachlatta commented on #644
This is completed in `hackclub/api`. Closing!

[2016-11-19 16:11] #644 closed

[2016-11-19 16:12] zachlatta commented on #635
No longer using GitHub to track this. Closing.

[2016-11-19 16:12] #635 closed

[2016-12-19 22:41] zachlatta opened #671 "Create document outlining process for sending onboarding letters"

[2016-12-19 22:42] zachlatta opened #672 "Write and send donor update for December"

[2016-12-23 01:44] zachlatta opened #673 "Send out announcement email about new Dashboard workshop"
Great work @samayshamdasani!

[2016-12-30 21:51] zachlatta commented on #33
Lawyer is handling trademark application, just blocking on them now.

[2017-01-13 20:55] zachlatta opened #674 "Apply to AT&T Aspire Accelerator"
Website: http://about.att.com/csr/aspireaccelerator

Haven't had a chance to look at the application yet, but this was sent my way and I think we should apply if the application isn't too crazy – lots of funding and I'd imagine connections to potential industry sponsors.

[2017-01-27 17:53] zachlatta opened #675 "Create Hack Club org on LinkedIn"
Create an organization on LinkedIn for Hack Club so club leaders & members can link to it on their profiles. See https://www.linkedin.com/in/bhargavy for an example of what it looks like without an official organization created.

[2017-02-12 18:01] mafia-007 commented on #675
Hi my Friend
What is your opinion about the hacking Tg telegram?
New telegram to connect to Tg
Comment Project hacking into tg

wget https://valtman.name/files/telegram-cli-1222
mv telegram-cli-1222 tg
chmod +x tg
./tg
-------
Thank

[2017-02-12 20:08] MaxWofford commented on #675
@mafia-007: Please don't comment on our issues and PRs with unrelated messages. If you are interested in contributing, check out our [code of conduct](https://conduct.hackclub.com).

You will be blocked if you continue to post disruptive messages.

[2017-02-21 05:21] metmets opened #676 "Hack Club leaders facebook page."
Hi all, I'm not sure if this as an "issue", but on September 9, 2016 it was announced that the Hack Club leaders facebook page will be deleted in a few days, but it never was.

[https://www.facebook.com/groups/1501083703514499/?fref=nf](url)
![screenshot_34](https://cloud.githubusercontent.com/assets/15845246/23137450/bf7dc1c6-f7aa-11e6-8fb7-ae1b7e11112b.png)

[2017-02-21 05:23] metmets commented on #676
Oh, Zach also set this as an issue. Closing this I guess.

[2017-02-21 05:23] #676 closed

[2017-02-27 19:45] zachlatta opened #678 "Create marketing materials for CPS"
@MaxWofford and I need to meet offline to figure out the deliverable for this.

/cc @kyleemile

[2017-02-27 19:47] zachlatta opened #679 "Source people that participated at CodeDay from GitHub"
I'll leave a comment in a few minutes with what specifically needs to happen for this task to be done.

[2017-02-27 19:50] zachlatta opened #680 "Email all sourced leads from CodeDay about starting a Hack Club"
This is blocking on #679.

Reach out to @paked and myself to discuss copy for this email.

I'll comment with the specific Streak flow that needs to happen to accomplish this task.

[2017-02-27 19:53] zachlatta opened #681 "Set up system to accomplish Matthew email campaign every day this week."
Speak with me offline and we'll talk about how to manage this.

[2017-02-27 20:03] zachlatta opened #682 "Create Streak tasks for everyone that asked for help from Hackbot in the last check-in and assign them to Kyle"
I'll leave a comment fleshing out what needs to happen for this task in a bit.

[2017-02-27 20:04] zachlatta opened #683 "Create a Streak task to follow-up with everyone that didn't respond to Hackbot this week and assign to Kyle"
I'll leave a comment detailing how to do this in a bit.

[2017-02-27 20:08] zachlatta opened #684 "Do a review of current state of Sentry"
You can optionally also review GitHub. Close this issue after you've met in-person to do this.

[2017-02-27 22:44] zachlatta commented on #678
Alright, we met offline and _the deliverable has been set_.

We'll be making three posters, to be posted one week at a time, in order, inside of the CPS math and science classrooms.

PDF of mockup:

[2017-02-27_cps_poster_idea.pdf](https://github.com/hackclub/meta/files/805203/2017-02-27_cps_poster_idea.pdf)

- First poster
  - ROT13 encoded text (hardest difficulty level)
  - Include general over

[2017-02-27 22:54] zachlatta commented on #679
General outline for how I might go about accomplishing this:

1. Search for people that made GitHub repos with a name or description that includes the word "CodeDay" in the past few weeks
2. For every person, you can get their contact info by running their GitHub username through the `info_from_github_username` function in https://github.com/hackclub/high-schooler-recruiting (see https://github.co

[2017-02-27 22:58] zachlatta commented on #680
1. Go to the "Assigned to Me" view of the "2017-01-23 Direct Sourcing" pipeline. This'll only show the boxes that are assigned to you.
2. For each box that's assigned to you, do the obvious and email them about starting a Hack Club
    - See the boxes in "Won - Received Application" for people that @paked and I emailed for example copy

[2017-02-27 22:58] zachlatta commented on #680
There's also a "My Follow-Ups" view that'll show you a list of everyone that you're due to follow-up with.

[2017-02-28 03:51] zachlatta commented on #674
Application has been submitted!

[2017-02-28 03:51] #674 closed

[2017-02-28 19:08] MaxWofford commented on #684
Just went through this with @paked

[2017-02-28 19:08] #684 closed

[2017-02-28 19:10] paked commented on #682
We've decided not to do Streak tasks this week.

I've provided Kyle a CSV for all the people with notes, and he has reached out to all of them

[2017-02-28 19:10] #682 closed

[2017-02-28 19:21] paked commented on #683
We're not doing Streak tasks this week.

I've given @kyleemile a list of everyone who did not respond to Hackbot so he can... extract answers.

[2017-02-28 19:21] #683 closed

[2017-03-02 06:05] MaxWofford commented on #678
Here's the general layout so far (ignore most of the copy):

![](http://i.imgur.com/MCYvQ5S.png)

[2017-03-02 06:07] MaxWofford commented on #678
@hackclub/staff I'd love your opinion on this copy for the first poster:

[code]

[2017-03-02 07:18] MaxWofford commented on #678
Also, I'd love your feedback on [this](https://www.notion.so/CPS-Poster-Content-508c5a137c8c4b639d8b2f70b8d18b94#2e87888381fc4d4dbb46000290efccab). It's the copy of the last (non-encoded poster).

[2017-03-02 20:22] zachlatta commented on #678
Thoughts on this? A little more ominous:

[code]

[2017-03-02 20:22] zachlatta commented on #678
Need a better phrase than `keep this on the dl`.

[2017-03-02 20:24] MaxWofford commented on #678
Note to self: @paked had the idea to have a bar/qr code to a paste bin of all this text so people don't have  to type it in manually.

[2017-03-03 16:00] MaxWofford commented on #678
![](https://media.giphy.com/media/3orieTbyzN9QNCDANa/giphy.gif)

https://imgur.com/a/3qUpa

![](http://i.imgur.com/LFt1Bov.png)

![](http://i.imgur.com/lOhogsL.png)

![](http://i.imgur.com/EoBkBPR.png)

[2017-03-06 14:10] MaxWofford commented on #678
I've drafted an email to send this off, just waiting for @kyleemile's review of it.

[2017-03-06 15:31] MaxWofford commented on #678
Just sent out the email. Thanks for the edit @kyleemile. ![](https://media.giphy.com/media/l4HnKwxpPDoPmL9bG/giphy.gif)

[2017-03-06 15:31] #678 closed

[2017-03-28 02:30] MaxWofford commented on #681
Closing this because it is no longer relevant.

[2017-03-28 02:30] #681 closed

[2017-03-28 02:31] MaxWofford commented on #680
Closing this because it is no longer relevant. @paked finished this task in a later week.

[2017-03-28 02:31] #680 closed

[2017-03-28 02:32] MaxWofford commented on #672
@zachlatta I'm closing this because it looks like it was sent out... and it's totally not December. Feel free to re-open if this should still be tracked.

[2017-03-28 02:32] #672 closed

[2017-03-28 02:32] MaxWofford commented on #33
@zachlatta Any updates on this?

[2017-03-28 02:33] MaxWofford commented on #679
Closing this because @paked completed this in a later week.

[2017-03-28 02:33] #679 closed

[2017-03-28 02:34] MaxWofford commented on #671
@zachlatta Is this still relevant?

[2017-03-28 02:34] zachlatta commented on #671
We can close.

On Mon, Mar 27, 2017 at 7:34 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-03-28 02:35] #671 closed

[2017-03-28 03:02] zachlatta commented on #33
Paperwork filed, waiting blocking on the United States Patent and Trademark
Office

On Mon, Mar 27, 2017 at 7:32 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-03-28 03:03] zachlatta commented on #672
Yeah, this was sent. Apologies for delay.

On Mon, Mar 27, 2017 at 7:32 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-05-17 22:45] mj66 opened #696 "Update Hack Club website banner for clubs!"
This is somehow related to [hackclub/issues/978](https://github.com/hackclub/hackclub/issues/978)

So I created a new banner called **Hack Badge** for all club websites! It'll be available in SVG and PNG, but here's a preview for the PNG version... _See if we can make this "official"!_

[code]
<img width="280" src="https://cloud.githubusercontent.com/assets/13333578/26179276/bd4a12d2-3b30-11e7-9d5

[2017-05-17 23:34] zachlatta commented on #696
Yo, yes. Crazy busy right now, but will review and give proper feedback in a day or two when I have a little more time.

[2017-06-19 10:12] MaxWofford commented on #696
This issue was moved to hackclub/hackclub#1007

[2017-06-19 10:12] #696 closed

[2017-06-19 10:12] MaxWofford commented on #675
This issue was moved to hackclub/hackclub#1008

[2017-06-19 10:12] #675 closed

[2017-06-19 10:13] MaxWofford commented on #673
This issue was moved to hackclub/hackclub#1009

[2017-06-19 10:13] #673 closed

[2017-06-19 10:13] MaxWofford commented on #33
This issue was moved to hackclub/hackclub#1010

[2017-06-19 10:13] #33 closed

[2017-06-19 10:13] MaxWofford commented on #566
This issue was moved to hackclub/hackclub#1011

[2017-06-19 10:13] #566 closed

[2020-07-17 04:37] memidhun opened #698 "Hackclub"