[2014-06-11 04:49] zachlatta opened #3 "How to start a club"
Create a document that contains an overview of how to start a hack club up until the first meeting

Make sure you cover:

* Requirements for starting a club
* Who to talk to at the school
* Relevant documents from hackEDU (bylaws, constitution)
* How to market the club
* What the first meeting should contain and how to prepare for it

[2014-06-13 18:10] zachlatta opened #5 "Club constitution"
Create a template club constitution.

Make sure the constitution covers the following:

* Name and purpose
* Membership and dues
* Officers
* Duties of officers
* Meeting information
* Advisor information
* Amendments

http://www.csmd.edu/StudentLife/pdf/Sample_Club_Constitution_and_Bylaws_Guidelines.doc might serve as a good example/template.

[2014-06-14 01:50] zachlatta opened #6 "Write contributing guidelines"
Create contributing guidelines for volunteers. I'd base this off of existing large projects, like Rails.

[2014-06-14 01:57] zachlatta opened #7 "Create document of all team members"

[2014-06-26 02:31] raphaelrk opened #8 "Get into programming quickly with processing.js"

[2014-06-26 02:31] raphaelrk opened #9 "By-laws"

[2014-12-18 06:11] jonleung opened #10 "Add a how to brainstorm section resources.md file"

[2015-02-10 06:11] #6 closed

[2015-02-10 06:11] #3 closed

[2015-02-10 06:11] #5 closed

[2015-02-10 06:11] #7 closed

[2015-02-10 06:11] zachlatta commented on #9
Any updates on this?

[2015-02-10 06:12] zachlatta commented on #8
Any updates on this?

[2015-02-10 06:12] zachlatta commented on #10
Can this be closed?

[2015-02-10 06:13] zachlatta opened #13 "One sheet is missing a testimonials section"

[2015-02-10 18:48] zachlatta opened #15 "Cite sources in one sheet"
Cite our 18% women in CS statistic and 18% minority statistic.

[2015-02-10 18:51] zachlatta opened #16 "Make images in one sheet retina"

[2015-02-10 20:35] jonleung commented on #15
Done

[2015-02-10 20:36] jonleung commented on #15
Done 309781f

[2015-02-10 20:36] #15 closed

[2015-02-10 22:26] raphaelrk commented on #8
nope, thoguht it was a good idea before but now that my club's been in session for a while I'd say khanacademy's all that's needed, although I could make a miniguide to moving khanacademy programs to personal websites

[2015-02-13 03:40] jonleung commented on #16
I'm going to hold off on this
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

jonl.org | 610-761-0083

On Tue, Feb 10, 2015 at 10:51 AM, Zach Latta <notifications@github.com>
wrote:

[2015-03-07 22:07] #9 closed

[2015-03-07 22:07] #8 closed

[2015-03-07 22:08] zachlatta commented on #10
Closing due to no response.

[2015-03-07 22:08] #10 closed

[2015-03-07 22:08] zachlatta commented on #13
Is this still necessary? @jonleung

[2015-03-07 22:08] zachlatta commented on #16
@MaxWofford can you take lead on this?

[2015-03-11 05:13] MaxWofford commented on #16
Yes. I'll make the changes.

[2015-03-11 05:15] zachlatta commented on #16
<3

Sent from my iPhone

[2015-03-26 06:51] jonleung opened #21 "Inclusivity and empathy are not values"
Empathy is definitely important. The other was reaction to setback, and tolerance of differences

[2015-03-26 20:57] MaxWofford opened #22 "workshop guidelines should be documented in docs"

[2015-03-26 20:57] MaxWofford commented on #22
What folder would be most suitable?

[2015-03-26 22:02] zachlatta commented on #22
Perhaps /workshops?

On Thu, Mar 26, 2015, at 01:57 PM, Max Wofford wrote:

Links:

  1. https://github.com/hackedu/docs/issues/22#issuecomment-86712495

[2015-04-07 01:28] MaxWofford opened #23 "example club constitution should be added to docs"

[2015-04-07 01:30] zachlatta commented on #23
+1 perhaps find a template for clubs online?

[2015-04-07 01:39] MaxWofford commented on #23
Turns out many CS clubs already do this on [github](https://github.com/search?utf8=%E2%9C%93&q=+club+constitution)

[2015-04-07 01:44] zachlatta commented on #23
:thumbsup: perhaps can "fork" one of them, make sure to check the repo's
license first.

--
Zach Latta Executive Director of hackEDU[1] http://zachlatta.com
https://github.com/zachlatta https://twitter.com/zachlatta

On Mon, Apr 6, 2015, at 06:39 PM, Max Wofford wrote:

Links:

  1. https://hackedu.us/
  2. https://github.com/search?utf8=%E2%9C%93&q=+club+constitution
  3. https://github.com/hacke

[2015-04-07 03:04] zachlatta commented on #23
@raphaelrk might have something that could be used as a template

[2015-04-07 21:48] raphaelrk commented on #23
https://docs.google.com/document/d/1jvuNDaJASLbuxoc2Q6NepYHOKejy0Az-Z6ikAhpYxlM/edit?usp=sharing this was what we used for our club but I think it could use some improvement. Something to note is that all the clubs at my school have very similar bylaws. An individual club writing a constitution could have better luck looking at the constitutions of other clubs at their school through their school

[2015-04-08 18:31] JacobEdelman opened #25 "Out of place language in FAQ"
In https://github.com/hackedu/docs/blob/master/README.md#why-do-we-need-another-learn-to-code-organization the line " We need to create a community around hacking so the duplication doesn't happen. " seems out of place. In the values document this isn't mentioned anywhere.

[2015-04-08 18:43] JacobEdelman opened #26 "Values and Mission Doc Needs Summarization"
The Values and Mission doc seems to just be a single mission statement (good) followed by a long list of buzz wordy values (bad). I'd recommended choosing a few values (5 or so) to make your own and only focus on them. Right now it reads more like a catalogue of good ideas then a mission statement.

[2015-04-08 20:43] zachlatta commented on #26
Agreed that we have far too many things in the values & mission doc. I
like your idea that we should choose a few, but I think we should
actually start with just 1 or 2 and work up from there. What are your
thoughts on that?

The first two that come to mind (and we've already been explicitly doing
these internally) are curiosity and integrity.

--
Zach Latta
Executive Director of hackEDU[https://h

[2015-04-08 21:00] JacobEdelman commented on #26
Rather than integrity I'd go with something about openness. The HackEDU devotion to having everything open and online is an obvious and commendable virtue. I wouldn't use the actual word openness since that seems to convey acceptance. Curiosity is definitely a good one.

[2015-04-12 16:46] JacobEdelman opened #27 "Renaming Repos"
Zach's message which he asked me to post : "Perhaps rename docs to meta and then rename hackEDU to website and club-in-a-box to hackEDU?"
I (Jacob, not Zach now) think that the club-in-a-box repo (renamed to hackEDU) would be for general club discussions with discussion facebook transfered into it. The website would be for the website. The docs (renamed to meta) repo would be for discussion for ru

[2015-04-12 16:51] MaxWofford commented on #27
Definitely :+1: for `hackEDU` repo => `website`.

Not sure about a `hackedu` repo inside `hackedu` organization; lots of organizations have a repo with the same name and many use them for completely different things. Maybe `club-in-a-box` => `club-discussions`?

[2015-04-12 16:54] JacobEdelman commented on #27
My feeling was that `hackedu` is an organization about supporting clubs and having them collaborate so having the "main repo" be about that would be fine. In general it seems that repos named after organizations are the organizations main purpose or project, like the `docker/docker`. I think that a collaborative wiki / discussion area could be classified as hackedu's main purpose. What I also like

[2015-04-12 19:36] zachlatta commented on #27
@MaxWofford do you think that captures the full purpose of what the `club-in-a-box` repo will contain? I like @JacobEdelman's idea of putting it at `hackedu/hackedu` because it gives the opportunity for expansion and is general enough for both club discussions and club resources.

[2015-04-12 19:37] zachlatta commented on #27
What if we try doing the rename and seeing if it causes any issues? Worst case is we can rename back (and a few git remotes may be wonky).

@jonleung thoughts?

[2015-04-12 22:16] jonleung opened #29 "Max, could you keep the club spreadsheet updated whenever we add a new club?"
Feel free to refactor it and make it not terrible haha:

https://docs.google.com/spreadsheets/d/1ir-DGpLsU2-8VifomVR1XfRvoHyUIjz2rV5ab7CMDoc/edit#gid=0

[2015-04-13 07:53] MaxWofford commented on #29
On it. I plan on getting everything synced Mon-Tues.

[2015-04-13 16:30] zachlatta commented on #29
Can we close this issue?

[2015-04-13 20:18] #29 closed

[2015-04-14 18:06] zachlatta opened #30 "Business cards"
EDIT 08-20-15: Actionable task:

Take [these files](http://cl.ly/1b2r0I0T1J2U) and make the following change:

---------------------------------------------------------------------------------

Create business cards for:

* @andreadeng
* @jonleung
* @benzweig
* @gemmabusoni
* @MaxWofford
* @zachlatta

[2015-04-14 18:07] zachlatta opened #31 "Logo redesign"
I believe you mentioned this involved typography :-).

[2015-04-14 18:08] zachlatta opened #32 "Design GitHub workflow workshop"
Create an outline of our GitHub workflow. I've gone ahead and updated the root issue to reflect this change.

[2015-04-14 18:08] zachlatta opened #33 "Trademark "Hack Club""
Create first draft of our trademark application.

[2015-04-14 18:36] MaxWofford opened #34 "hackEDU applicant workflow should forward to pipedrive automatically"

[2015-04-14 18:36] zachlatta commented on #34
Should we just have applicant emails also send to our Pipedrive email address (in addition to `team@hackedu.us`)?

[2015-04-14 19:17] MaxWofford commented on #32
@zachlatta It might be good to find out when everyone is free to attend this.

[2015-04-14 19:18] MaxWofford commented on #34
@zachlatta This is good. Is there a way to bbc a specific pipedrive list (`clubs`)?

[2015-04-14 19:23] zachlatta commented on #34
Not that I know of. Perhaps we could use https://github.com/GeneralScripting/pipedrive-ruby?

[2015-04-14 19:24] zachlatta commented on #32
Good call, will do this.

[2015-04-14 19:33] zachlatta commented on #32
@MaxWofford, @jonleung, @benzweig, @gemmabusoni can you all respond to https://doodle.com/39wbyqdu2gbgistb?

[2015-04-14 20:32] zachlatta commented on #26
Agreed that openness is critical. What if we did curiosity,
transparency, and integrity?

[2015-04-14 20:33] zachlatta commented on #25
Agreed that it's out of place. Want to submit a PR to remove it? The
README is super out of date and we haven't been maintaining it (we
should change this!).

[2015-04-14 20:42] JacobEdelman commented on #26
:+1:

[2015-04-20 16:50] jonleung opened #37 "Why do etherpads not wrap text when the line overflows?"
It seems like beta.etherpad.com has a more updated version of the pad
See this http://mew.hackedu.us:7398/p/042015 vs https://beta.etherpad.org/p/wef

[2015-04-20 16:53] zachlatta commented on #37
@jonleung both of those pads are empty.

[2015-04-20 16:54] zachlatta commented on #37
![recorded](https://cloud.githubusercontent.com/assets/992248/7235464/3411d484-e743-11e4-910b-64c9adc9a617.gif)

[2015-04-20 18:24] jonleung commented on #37
@zachlatta added the text back again

[2015-04-20 19:12] zachlatta commented on #37
Still don't see the issue.

[2015-04-21 06:32] MaxWofford commented on #37
These are the same when I test (chrome running on chromebook and chrome on android galaxy note 3)

[2015-04-21 14:04] zachlatta commented on #37
Since neither @MaxWofford or I can reproduce this, going to close it.

[2015-04-21 14:05] zachlatta commented on #37
Perhaps @jonleung could post a GIF showing what he means?

[2015-04-21 14:05] #37 closed

[2015-04-27 06:33] zachlatta commented on #27
BOOM. Consider yourself renamed.

* `hackedu/hackedu` -> hackedu/website
* `hackedu/club-in-a-box -> `hackedu/hackedu`
* `hackedu/docs` -> `hackedu/meta`

[2015-04-27 06:33] #27 closed

[2015-04-27 07:24] zachlatta commented on #34
Can you move this issue to https://github.com/hackedu/website? Closing for now.

[2015-04-27 07:24] #34 closed

[2015-04-27 07:28] #26 closed

[2015-04-27 07:29] zachlatta commented on #25
Went ahead and redid the readme, removing most of the cruft and stuff we don't use anymore! See 8cb2567421c2ec584874b05c9ed2a02c119f0e92.

[2015-04-27 07:29] #25 closed

[2015-04-27 07:31] zachlatta commented on #23
Closed by hackedu/hackedu#15.

[2015-04-27 07:31] #23 closed

[2015-04-27 07:32] zachlatta commented on #22
Closing for now due to lack of progress.

[2015-04-27 07:32] #22 closed

[2015-04-27 07:32] zachlatta commented on #21
Can you further explain this? Not quite sure what you're saying here.

[2015-04-27 07:32] zachlatta commented on #21
Whoops, accidentally closed the issue.

[2015-04-27 07:33] zachlatta commented on #13
Closing due to lack of progress.

[2015-04-27 07:33] #13 closed

[2015-04-27 07:33] zachlatta commented on #16
@MaxWofford what's the status on this?

[2015-04-27 14:29] MaxWofford commented on #16
@zachlatta I can :shipit: when I get back in SF on the 9th.

[2015-04-27 14:30] MaxWofford commented on #13
@ZachLatta could you please elaborate on `lack of progress`?

[2015-04-27 14:32] MaxWofford commented on #22
@zachlatta Sorry for not following up on this; workshop guidelines became example workshops, which were added by @jonleung in his twilio-workshop repo.

[2015-04-29 01:56] jonleung commented on #16
@zachlatta, I'm going to close this issue because it is not priority, please reopen if you feel otherwise

[2015-04-29 12:15] zachlatta commented on #16
Let's leave open because it's an active issue with activity and @MaxWofford said he'll take care of it on the 9th.

[2015-04-30 14:05] zachlatta commented on #13
The issue was opened three months ago and when I pinged @jonleung to check in on progress two months ago there was no response. Happy to reopen if we plan on implementing this.

[2015-05-05 02:39] jonleung opened #39 "Create Separate Google Hangouts Channels"
@zachlatta, can you add some more channels for google hangout chats?

I see that there are some meetings that are happening at the same time

zach.hackedu.us
https://plus.google.com/hangouts/_/calendar/bmFydXRvMTM3QGdtYWlsLmNvbQ.c9p8cerojob5os43sgafiusud0?authuser=0
jonathan.hackedu.us
https://plus.google.com/hangouts/_/calendar/bmFydXRvMTM3QGdtYWlsLmNvbQ.mn6mjcum4pebj66obvefogs5us?authuser=0

[2015-05-06 20:12] jonleung opened #40 "Send out hackEDU progress update"
To Supporters (like Geoff, Kat, Kate)
To People Who've Helped us (Susan)
To Funders

@ZachLatta, what are your thoughts on making something like this?

[2015-05-07 00:23] zachlatta commented on #40
I'm in. Added to this week's sprint backlog and will make it into next
week's sprint.

[2015-05-07 00:48] MaxWofford commented on #40
Do we want to put this in the email list, or a page on the website?

[2015-05-07 06:14] zachlatta commented on #40
Emails! We could have a general newsletter for people who have signed up
on our site as well. The biggest difference between the newsletters for
the different groups will likely be how we aggregate/convey the
information (as in wording, brevity, and format).

[2015-05-07 06:38] zachlatta commented on #39
Added to the backlog of hackedu/pm#18, will try to get to in this sprint. If not, next sprint.

[2015-05-09 00:52] zachlatta opened #41 "Email Fastmail about calendars unsharing"

[2015-05-09 17:29] MaxWofford commented on #41
This has occurred for me with all the shared calendars except `founders`, one of the `Jonathan`s, and `Max`.

[2015-05-11 06:24] zachlatta opened #42 "Internships"
Should we have an internships program this summer?

---

I don't think so. I think it'll take too much effort from our end with too little return. Looping @jonleung and @MaxWofford into this.

[2015-06-10 08:47] MaxWofford opened #43 "Mew.hackedu.us timezone should be updated"
@zachlatta It would be great if you could change the time on mew. Thanks in advance!

[2015-06-10 19:53] zachlatta commented on #43
![recorded](https://cloud.githubusercontent.com/assets/992248/8092599/a1a1e788-0f6f-11e5-87c5-e3e6fbbb3216.gif)

[2015-06-10 19:53] #43 closed

[2015-06-10 23:43] MaxWofford commented on #43
Thanks for this @zachlatta!

[2015-06-10 23:48] MaxWofford commented on #42
@zachlatta What does this entail? Are we helping hackEDU members find internships, or hiring interns? If hiring, what roles would they have?

[2015-06-10 23:49] zachlatta commented on #42
Created this thread for @jonleung, I'm not entirely sure what it means either. @jonleung care to fill us in?

[2015-06-12 03:50] #42 closed

[2015-06-12 03:50] jonleung commented on #42
Closed for being no longer relevant

[2015-06-15 17:10] zachlatta opened #44 "Figure out ZenHub workflow and schedule meeting to sync up team"

[2015-06-15 18:16] MaxWofford commented on #16
Closing this because it is not high leverage right now.

[2015-06-15 18:16] #16 closed

[2015-06-15 21:03] jonleung opened #45 "Create writeup for MVP Timeline for June 2015 - January 2016"
Create a minimal viable internal report on what hackEDU will be doing in terms of clubs / club organizers that communicates the report to everyone on the hackEDU internal team.

[2015-06-15 22:04] zachlatta opened #46 "Schedule time for ZenHub sync up tomorrow"

[2015-06-15 23:03] #46 closed

[2015-06-16 03:27] jonleung commented on #45
Made MVPs of what this will look like: https://gist.github.com/jonleung/a29c49fbc4ed23bcca96

[2015-06-16 03:30] jonleung commented on #45
![Alt text](https://usercontent.irccloud-cdn.com/file/Guo4SP6N/IMG_2077.JPG)
![Alt text](https://usercontent.irccloud-cdn.com/file/Xgtq19j3/IMG_2078.JPG)

[2015-06-16 03:31] jonleung commented on #45
Informal plan written up, formal timeline to be put together by the end of the week

[2015-06-16 18:06] zachlatta opened #47 "Hi yes this is ZenHub"

[2015-06-16 18:25] zachlatta commented on #47
Closing because irrelevant.

[2015-06-16 18:25] #47 closed

[2015-06-16 18:53] zachlatta opened #48 "Email Ryan from Galvanize Hispanic scholarship stuff"
Make sure to include the email of that guy I met in an uber.

[2015-06-17 00:53] zachlatta opened #49 "Get W9 from Andrea"

[2015-06-17 16:07] #44 closed

[2015-06-17 16:08] #49 closed

[2015-06-17 16:14] MaxWofford opened #50 "Create and get contract signed with Andrea"

[2015-06-17 16:27] #48 closed

[2015-06-17 20:07] MaxWofford opened #51 "Create call cheat-sheet"
Create a document for quick reference (our metrics, our vision/mission, etc.) when on calls.

[2015-06-18 16:10] zachlatta opened #53 "Switch servers over to AWS"

[2015-06-19 20:08] zachlatta opened #54 "Make contract for Ben Landers and get it signed"

[2015-06-19 20:54] MaxWofford opened #55 "Hangouts with club leaders"
Based on the discussion on 2015-06-19, it seems like we should start connecting with our clubs on a regular basis.

[2015-06-22 00:46] zachlatta opened #61 "Filename format incorrect in meeting notes files"
#58 introduced a file in the `meetings` folder that doesn't follow the format used by the other meeting note files. Let's correct that.

[2015-06-22 01:33] zachlatta commented on #55
Which discussion? Can you link a commit/file for the notes?

[2015-06-22 13:28] zachlatta opened #62 "Make contract for Max Wofford and get it signed"

[2015-06-22 13:51] zachlatta commented on #62
Sent to @MaxWofford.

[2015-06-22 13:56] zachlatta commented on #54
Sent to @thethirdone and ready for signing/modifying as needed.

[2015-06-22 15:26] zachlatta commented on #53
After some experimentation I've decided that Empire isn't ready for production and will check-in on it again in a few weeks. Primary issue is lack of documentation on creating a production-ready setup.

For now I'm gonna just switch over our infrastructure to AWS.

[2015-06-22 15:39] #50 closed

[2015-06-23 05:52] jonleung commented on #30
@benzweig Hey! Good seeing ya today! Any updates as for the timeline for this? If you don't have time now, no worries! Thanks!

[2015-06-23 15:41] #54 closed

[2015-06-23 15:41] #62 closed

[2015-06-23 17:05] zachlatta opened #63 "Create style guide for Markdown files"
We should standardize our Markdown usage.

[2015-06-24 22:30] zachlatta opened #66 "Put together program overview for Safari"
Put together a brief overview of our audience, program, and clubs/plans for next semester for circulation at Safari prior to a chat. Can be really informal.

[2015-06-24 22:37] zachlatta commented on #53
Things to move over:

- [ ] DNS
- [ ] Hack Camp site
- [ ] Main website
- [ ] Unrejector
- [ ] donate.hackedu.us redirect
- [ ] partytime.hackedu.us redirect
- [ ] scratch.hackedu.us
- [ ] orbit.hackedu.us redirect
- [ ] shout.hackedu.us
- [ ] scratch.hackedu.us
- [ ] subscribe.hackedu.us

[2015-06-29 04:53] jonleung commented on #40
@zachlatta thoughts on moving this to Backlog?

[2015-06-29 20:18] zachlatta opened #68 "Deprecate #hackedu-standups IRC channel"
I'd like to propose deprecating the `#hackedu-standups` IRC channel now that we have a consistent standup routine with Kanban (which we should document in the `pm` repo, just created hackedu/pm#26 for this).

Thoughts?

/cc @jonleung @MaxWofford @andreadeng

[2015-06-29 20:40] zachlatta commented on #40
I'd like to keep it in todo, I really do need to update our donors/backers/advisors with what's up.

[2015-06-29 23:52] zachlatta opened #69 "Set up Jabber server"

[2015-06-29 23:53] zachlatta commented on #53
Gonna hold off on moving over our Jabber server for now. Just gonna kill it.

Created #69 to eventually get to.

[2015-06-30 00:02] zachlatta opened #70 "Schedule one-on-ones and book rooms for week of June 29th"

[2015-06-30 00:05] zachlatta opened #71 "Book rooms for standups for the week of June 29th"

[2015-06-30 00:21] zachlatta commented on #70
Sent invites to everyone and booked rooms for everyone!

/cc @jonleung @MaxWofford @andreadeng @thethirdone

[2015-06-30 00:24] zachlatta commented on #71
Went ahead and booked The Presidio in Galvanize for all standups this week. Check calendar invites for specifics.

/cc @jonleung @MaxWofford @andreadeng

[2015-06-30 05:48] MaxWofford opened #72 "Meowth.servers.hackedu.us timezone should be updated"
@zachlatta It would be great if we could get this set to our time.
Thanks in advance!

[2015-06-30 15:41] #70 closed

[2015-06-30 15:42] #71 closed

[2015-07-01 15:35] #53 closed

[2015-07-01 15:48] zachlatta commented on #55
Closing due to lack of specificity and not being actionable.

[2015-07-01 15:48] #55 closed

[2015-07-01 16:32] zachlatta commented on #72
Done!

[2015-07-01 17:24] MaxWofford commented on #72
Thanks!

[2015-07-01 17:48] MaxWofford opened #73 "Transfer ownership of https://github.com/zachlatta/fundraising"
Transfer ownership of https://github.com/zachlatta/fundraising to an account with private repos.

[2015-07-01 17:49] zachlatta commented on #73
Done! :ship:

[2015-07-01 17:50] zachlatta commented on #73
Accidentally closed, will close tomorrow during standups.

[2015-07-01 17:50] MaxWofford commented on #73
Thanks for this!

[2015-07-01 17:53] MaxWofford opened #74 "Install emacs on meowth"
It would be great if I could use spacemacs on meowth.

[2015-07-01 18:13] MaxWofford commented on #61
Oops, this should be addressed before closing the issue: https://github.com/hackedu/meta/pull/75

[2015-07-01 18:16] MaxWofford commented on #68
I'm fine with this. What does deprecating look like in terms of an IRC channel - a general consensus to not use it, or something more?

[2015-07-01 18:45] #61 closed

[2015-07-01 20:54] zachlatta commented on #74
Done!

[2015-07-01 22:43] MaxWofford commented on #74
![](http://quickme.me/clap.gif)

[2015-07-02 00:19] zachlatta commented on #66
Went ahead and sent it via email to my contact at Safari.

[2015-07-02 04:54] jonleung commented on #68
@zachlatta sounds good!
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Wed, Jul 1, 2015 at 11:16 AM, Max Wofford <notifications@github.com>
wrote:

[2015-07-02 15:41] zachlatta opened #77 "Assign someone to run standups tomorrow (07.03.15)"

[2015-07-02 15:41] #72 closed

[2015-07-02 15:42] #73 closed

[2015-07-02 15:44] #74 closed

[2015-07-02 15:44] #66 closed

[2015-07-02 15:58] zachlatta opened #78 "Merge cohort-2-curriculum into hack-camp/cohort_2/"

[2015-07-02 16:37] MaxWofford commented on #77
It seems kinda unsustainable to make an issue for this sort of thing every day. I'm happy to lead tomorrow, but why don't we do something like this in IRC?

[2015-07-02 20:35] zachlatta opened #79 "Transfer contact spreadsheet to Google Sheets"
Transfer the `master` spreadsheet from https://github.com/MaxWofford/fundraising to Google Sheets and share with Sooz.

[2015-07-02 21:10] zachlatta commented on #77
@MaxWofford agreed - for now I'll just assign people for the next week and we can address this later.

[2015-07-02 21:13] zachlatta commented on #77
Alright, assigned @andreadeng for tomorrow and assigned people for the next week.

[2015-07-02 22:06] zachlatta commented on #79
Done! Would share a link here, but it's private.

[2015-07-03 09:23] #78 closed

[2015-07-03 15:32] #77 closed

[2015-07-03 15:33] #63 closed

[2015-07-03 15:33] #79 closed

[2015-07-04 01:13] jonleung opened #80 "Have a discussion about how to make the payments of salaries more transparent."
Jonathan's current problems:
- I don't know which months I've been paid for
- I don't know when I'm going to get paid next
- I don't know if there's a date in the month I'm supposed to be paid by

If we can setup a system that will enable me to know the above questions and for the information to be guaranteed to always be updated, I will feel a lot more comfortable. Right now I'm having difficulti

[2015-07-06 06:03] zachlatta commented on #68
@MaxWofford I believe I can set up a channel redirect and eventually
disown the channel.

[2015-07-06 06:04] zachlatta commented on #68
Alright, I'll go ahead and do the following to #hackedu-standups:

- Redirect the channel to #hackedu
- Set the channel's topic to say that it's deprecated
- Remove mentions of it from other channels

[2015-07-06 15:38] zachlatta opened #81 "Find an alternative to ZenHub to use as a kanban board for GitHub Issues."

[2015-07-07 00:01] zachlatta opened #82 "Order hackEDU stickers"
@andreadeng can you work with @MaxWofford and create a sticker-ready logo?

[2015-07-07 00:02] zachlatta commented on #30
@benzweig would it be cool if @andreadeng took over this issue?

[2015-07-07 00:04] benzweig commented on #30
hey, i had assumed she had. i’ll send what i got if she wants

[2015-07-07 00:04] zachlatta opened #83 "Clarify the wording we should use for onboarding calls"
We want to make joining hackEDU feel "exclusive" and introduce scarcity when talking with people.

[2015-07-07 00:26] zachlatta commented on #30
Sounds good – thanks!

[2015-07-07 15:59] zachlatta opened #84 "Send Zach invoice for June"

[2015-07-07 15:59] zachlatta opened #85 "Send Zach invoice for June"

[2015-07-07 16:00] zachlatta commented on #40
I've started sending small updates to backers and advisors. Will continue doing this and track progress here.

[2015-07-07 16:12] zachlatta commented on #84
If you ping me on IRC, I'm happy to help put this together.

[2015-07-07 16:12] zachlatta commented on #85
If you ping me on IRC, I'm happy to help put this together.

[2015-07-07 19:58] zachlatta opened #86 "Get Rackspace to refund credit from month of June"

[2015-07-07 22:52] zachlatta commented on #86
They said their startups team would give me a call back tomorrow. Waiting on them...

[2015-07-07 23:04] zachlatta commented on #80
Agreed that we certainly need to clarify this. I have an independent contractor agreement drafted up and will send it to you when I get home tonight that clarifies all of this.

I'll also just mailed you the check for July. It'll be delivered by the 14th.

[2015-07-07 23:04] #80 closed

[2015-07-08 00:14] #40 closed

[2015-07-08 19:17] #84 closed

[2015-07-09 18:01] zachlatta commented on #86
Just got off the phone with him. The person I talked to their is going to push for a refund - let's see what happens.

[2015-07-10 17:41] zachlatta commented on #81
Sent the founder of Codetree an email – will see if he responds.

[2015-07-13 15:35] #85 closed

[2015-07-13 15:51] zachlatta opened #87 "Schedule retrospectives for Friday"
- This replaces the deep feedback session

[2015-07-15 22:07] zachlatta opened #88 "Introduce me to the chief evangelist for AWS"
It'd be great if you could introduce me to the chief evangelist for AWS over email – would love to chat with them and see if they might be interested in continually supporting us.

[2015-07-16 05:53] jonleung commented on #88
@zachlatta, can you give me an intro email that you want me to send for this and I'll send it?

[2015-07-16 07:31] zachlatta commented on #88
Any chance you could make the intro directly and just write a brief thing?

Perhaps something along the lines of:

talk with you about what we're working on together and learn more about
AWS's support of other nonprofits.

Maybe not that exact wording – you have a different writing style than me.

--
Zach Latta
Executive Director of hackEDU <https://hackedu.us/>
http://zachlatta.com
https://github

[2015-07-16 21:15] MaxWofford opened #89 "Get in contact with c9.io"
We should open a line of communication with Cloud9 so we can be prepared when we run into blocking issues with their service. (Migrated from https://github.com/hackedu/hack-camp/issues/181)

[2015-07-18 00:34] #87 closed

[2015-07-20 19:26] zachlatta opened #90 "CHE Hacks Fiscal Sponsorship"
Moved from hackedu/hack-camp#186.

/cc @jonleung

[2015-07-20 19:34] zachlatta opened #91 "Create mockup of home page redesign"
Create an image mockup (Illustrator/Photoshop/etc) of a redesign of the https://hackedu.us homepage.

Moved from hackedu/hack-camp#175.

[2015-07-21 00:05] MaxWofford commented on #90
@zachlatta Are we sponsoring CHE hacks? or are they sponsoring us?
/cc @jonleung

[2015-07-21 00:08] MaxWofford commented on #91
Why is this in https://github.com/hackedu/meta instead of https://github.com/hackedu/website?

cc/ @andreadeng @zachlatta

[2015-07-21 01:50] zachlatta commented on #91
Argh, I'm dumb.

Yeah, that should be in https://github.com/hackedu/website.

--
Zach Latta
Executive Director of hackEDU <https://hackedu.us/>
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Mon, Jul 20, 2015 at 5:08 PM, Max Wofford <notifications@github.com>
wrote:

[2015-07-21 06:45] #91 closed

[2015-07-21 06:45] zachlatta commented on #90
As discussed this evening in-person with @MaxWofford and @jonleung, we don't have the bandwidth to do this and it'd be dubiously possible with our fiscal sponsorship agreement.

[2015-07-21 06:45] #90 closed

[2015-07-27 17:53] zachlatta opened #92 "Ask about in-kind GitHub donation"
Can you email your contact at GitHub to see if they may be interested in donating repos to us?

[2015-07-27 22:43] #45 closed

[2015-07-27 22:43] jonleung commented on #45
Closed because it is no longer relevant

[2015-07-28 02:06] jonleung commented on #92
@zachlatta, just wanted to say I saw this. Will email them when I reach this task in the todo queue!

[2015-07-28 02:07] zachlatta commented on #92
Sounds good!

--
Zach Latta
Executive Director of hackEDU <https://hackedu.us>
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Mon, Jul 27, 2015 at 7:06 PM, Jonathan Leung <notifications@github.com>
wrote:

[2015-07-28 05:07] zachlatta commented on #86
Waiting on their response.

[2015-07-29 19:50] zachlatta commented on #81
Going to stick with ZenHub for now.

[2015-07-29 19:50] #81 closed

[2015-07-31 09:50] zachlatta opened #93 "Logo idea"
This is terrible programmer art, but thoughts on this?

![hackedu](https://cloud.githubusercontent.com/assets/992248/9004836/5a69a5b8-372e-11e5-9962-0fe744bcae93.png)

![hackedu](https://cloud.githubusercontent.com/assets/992248/9004868/9c5bf7fa-372e-11e5-8565-08ca6f4a5b8b.png)

![hackedu](https://cloud.githubusercontent.com/assets/992248/9004907/d70c64e8-372e-11e5-9dd8-312de9623465.png)

/cc @Max

[2015-07-31 09:54] zachlatta commented on #93
Playing around a bit more. I'm so sorry.

![hackedu](https://cloud.githubusercontent.com/assets/992248/9004979/55433a1c-372f-11e5-9cc4-1334368f74b5.png)

[2015-07-31 10:06] zachlatta commented on #93
Looping in Ben as well.

/cc @benzweig

[2015-07-31 14:41] MaxWofford commented on #93
I'm a fan of the third one:
<img src="https://cloud.githubusercontent.com/assets/992248/9004907/d70c64e8-372e-11e5-9dd8-312de9623465.png" width="64">

[2015-07-31 16:14] MaxWofford commented on #93
@zachlatta What is the best ZenHub board to put this in?

[2015-07-31 18:09] zachlatta commented on #93
Hmm... I'd probably just put this in the icebox for now.

I'm also partial towards the third one. The thing I like about this logo is
that we can change its color and it is still legible.

Should we play around with font at all?

--
Zach Latta
Executive Director of hackEDU <https://hackedu.us>
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Fri, Jul 31, 2015 at

[2015-07-31 23:44] zachlatta opened #95 "Schedule standups next week in a room upstairs"

[2015-08-03 08:05] jonleung opened #96 "Create hackEDU Github workflow guide"
As discussed, @MaxWofford said he was interested in creating a guide for our Github workflow.

[2015-08-03 08:44] MaxWofford commented on #96
I will figure out the timeframe on this soon.

[2015-08-03 15:42] MaxWofford commented on #96
Closed as duplicate.

[2015-08-03 15:42] #96 closed

[2015-08-03 15:42] MaxWofford commented on #96
https://github.com/hackedu/meta/issues/32

[2015-08-03 15:43] #95 closed

[2015-08-03 16:42] zachlatta commented on #32
Alright, alright.

- - - - -

New issue:

Create an outline of our GitHub workflow. I've gone ahead and updated the root issue to reflect this change.

[2015-08-03 16:54] zachlatta commented on #86
I think this has been done? I see the refund on my card, though they haven't responded to me yet.

[2015-08-03 16:54] #86 closed

[2015-08-03 17:55] zachlatta commented on #32
Closed by 9259bfefd0d1b39686c1fbdca768640f9b0a4b6a.

[2015-08-03 17:55] #32 closed

[2015-08-05 05:07] zachlatta opened #97 "Resend calendar invites for morning standups"

[2015-08-06 23:18] zachlatta commented on #92
Got it donated. We now have free private repos.

[2015-08-06 23:18] #92 closed

[2015-08-07 10:48] jonleung commented on #92
:+1:

[2015-08-10 19:48] zachlatta commented on #41
Closing because we moved to Google Apps.

[2015-08-10 19:48] #41 closed

[2015-08-10 19:56] zachlatta commented on #97
It says everyone on the calendar event has been invited. We should be good to go!

Anyone not get these? Going to close for now and reopen if there are issues.

/cc @jonleung @MaxWofford @andreadeng @saescapa @ssun098 @MisterCruz @gemmabusoni

[2015-08-10 19:56] #97 closed

[2015-08-11 03:01] MaxWofford opened #98 "Add `awaiting merge` tag in hackedu/hack-camp"
It seems like it would be good to have an `awaiting merge` tag in hackedu/hack-camp. Less issues labeled as `blocking` = more win.

@hackedu/hack-camp Thoughts?

[2015-08-11 03:02] MaxWofford commented on #98
If there aren't any cons to this brought up by EOD I'll add the label tonight.

[2015-08-11 05:45] jonleung commented on #98
:+1:

[2015-08-11 06:48] MaxWofford commented on #98
Added an `awaiting merge` label to hacked/hack-camp

https://github.com/hackedu/hack-camp/labels

[2015-08-11 06:48] #98 closed

[2015-08-12 06:35] jonleung opened #99 "Create private repo and subtree for labs"

[2015-08-12 23:01] zachlatta commented on #68
I've set the channel's topic to say that it's deprecated and I've removed the mention from it in `#hackedu`. I couldn't figure out how to redirect it, but I think what we have will do for now.

[2015-08-12 23:01] #68 closed

[2015-08-13 21:39] zachlatta commented on #98
Cool with me.

On Mon, Aug 10, 2015 at 11:48 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-18 17:49] zachlatta commented on #93
Ping on this. Any additional thoughts?

[2015-08-18 18:17] MaxWofford commented on #93
I'm partial to keeping the `h` lowercase if possible, but it looks nice capitalized here.

[2015-08-18 18:43] jonleung commented on #88
Closing because Zach already has a connection to AWS now.

[2015-08-18 18:43] #88 closed

[2015-08-18 18:44] jonleung commented on #21
Closing because this is no longer relevant.

[2015-08-18 18:44] #21 closed

[2015-08-18 18:45] jonleung commented on #30
Closing because it seems like this will not get done and is not that high leverage.

[2015-08-18 18:46] jonleung commented on #51
@MaxWofford is this still relevant?

[2015-08-18 18:46] jonleung commented on #33
Any updates on this @gemmabusoni?

[2015-08-18 18:46] jonleung commented on #33
Ooops, I closed this by accident!

[2015-08-18 18:46] jonleung commented on #31
Closing because

- lack of activity
-  there seem to be much higher leverage issues to fix

[2015-08-18 18:46] #31 closed

[2015-08-18 18:46] jonleung commented on #69
@zachlatta is this still relevant?

[2015-08-18 19:16] hellyeah opened #100 "Create protocol to interface w/ remote members of the team re: kanban"

[2015-08-18 23:45] MaxWofford commented on #51
@jonleung Did you mean to close this?

Reopening because it is relevant, but not immediately needed. That's why its in icebox on ZenHub.

[2015-08-18 23:48] MaxWofford commented on #30
I'm ok with this. We can reopen when business cards become a blocking issue.
![](http://images.sodahead.com/polls/004355063/4719544930_i_m_ok_with_this__n1296497202304__super_answer_2_xlarge.png)

[2015-08-18 23:51] MaxWofford commented on #21
@jonleung Why is this no longer relevant?

[2015-08-19 00:42] zachlatta commented on #99
I've created `hackedu/labs`, but I'll need to figure out how to best include it in the public labs repo.

[2015-08-19 03:14] tejasmanohar opened #101 ""contributors" is spelled wrong in GH team name"
https://github.com/orgs/hackedu/teams/contributers

should be "contributors", not "contributers"

[2015-08-19 03:16] MaxWofford commented on #101
Updated: https://github.com/orgs/hackedu/teams/contributors

Thanks @tejasmanohar!

[2015-08-19 03:16] #101 closed

[2015-08-20 02:32] jonleung commented on #21
@MaxWofford, I believe this issue is no longer relevant because it seems like we've decided to not spend time figuring out our values right now.

[2015-08-20 02:35] jonleung commented on #51
@MaxWofford, I didn't mean to close it. Sorry about that! Leaving this in the icebox sounds good!

[2015-08-20 03:16] jonleung commented on #93
@zachlatta @MaxWofford I personally am not a big fan of any of these. My suggestion would be to table this until later in year, perhaps for our 2016 launch.

[2015-08-20 04:45] MaxWofford commented on #21
@jonleung KK! Thanks for the explanation.

[2015-08-20 04:49] MaxWofford commented on #93
@zachlatta What if we put these is a PR for the `logos` folder for the time being?

[2015-08-20 04:53] zachlatta commented on #93
I think it'd only really make sense to create a PR for them if we were planning on moving forward with these logos.

[2015-08-20 06:15] zachlatta commented on #39
Alright, I finally got to this, haha.

I ended up creating new calendar events with video calls for each member of the team and setting up the DNS with those calendar events (they're all on 01.01.18).

- https://dave-partytime.hackedu.us
- https://gemma-partytime.hackedu.us
- https://jonathan-partytime.hackedu.us
- https://max-partytime.hackedu.us
- https://zach-partytime.hackedu.us

/cc @MaxWoffo

[2015-08-20 06:27] zachlatta commented on #99
Alright, so after a bit more research I'm having trouble finding a nice way to incorporate a private subdirectory into this public repo. Most people seem to do the opposite and create public submodules or subtrees inside of private repositories.

Instead of trying to create a submodule or subtree in this public repo that's private, I decided to rename `hackedu/labs` to `hackedu/labs-private` and I

[2015-08-20 06:27] #99 closed

[2015-08-20 17:05] hellyeah commented on #39
this is sweet

[2015-08-20 17:20] zachlatta commented on #30
I'd actually move towards raising the priority of this and trying to push
for it getting done. I'll be going to a few networking events in the fall
and it'll be important for me to have cards.

Thoughts?

Sidenote: @MaxWofford, where do you find all of these amazing images?

On Tue, Aug 18, 2015 at 4:48 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 17:25] jonleung commented on #39
@zachlatta I get an error when I try to join my hangout (`https://jonathan-partytime.hackedu.us`)

See the below screenshots:

First, I get this:

![](https://s3.amazonaws.com/f.cl.ly/items/1s3w2W3z1y123k3u400L/Image%202015-08-20%20at%2010.24.51%20AM.png)

Then after a couple of minutes, I get this:

![](https://s3.amazonaws.com/f.cl.ly/items/2a2i2C3U2S0B2F2U2b2T/Image%202015-08-20%20at%2010.23.51

[2015-08-20 17:29] jonleung commented on #30
@zachlatta, who would you recommend taking lead on this?

Also, instead of making nice cards, we can use the crappy ones that I made:

- [Front](http://cl.ly/1U3Q3U3L2B1E)
- [Back](http://cl.ly/3e1F0r0D1d2X)

_Note that if @hackedu/core thinks the back is weird, we can just use the front_

Thoughts?

[2015-08-20 17:31] zachlatta commented on #30
I think if we slightly modified the front, it could suffice. What if we did something with the back about learning or hacking?

Perhaps starting with "the last thing I built was X"?

[2015-08-20 17:31] zachlatta commented on #30
Going to reopen this issue for the sake of discussion.

[2015-08-20 17:37] zachlatta commented on #100
Hmm, so I think there's a couple ways to approach this.

First and foremost, and regardless of how we decide to accomplish this, I
think it's important that we document how we do standups somewhere so it's
in writing. I know http://ipfs.io/ keeps track of their project/product
management systems in https://github.com/ipfs/pm. We tried a similar thing
with https://github.com/hackedu/pm, but ended u

[2015-08-20 17:39] jonleung commented on #100
@zachlatta, I think that is a good start!

[2015-08-20 17:43] zachlatta commented on #69
Yup! Just far in the backlog.

I would like to eventually have a Jabber server members of the team could
use set up though.

On Tue, Aug 18, 2015 at 11:46 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 17:44] zachlatta commented on #31
:+1:

On Tue, Aug 18, 2015 at 11:46 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 17:44] zachlatta commented on #33
Pinging @gemmabusoni again.

On Tue, Aug 18, 2015 at 11:46 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 18:49] zachlatta opened #105 "Banner"
@gemmabusoni is awesome and has somehow secured a free large printed banner for us. We just need to send her what to print on it.

@MaxWofford can you take point on this and coordinate with @gemmabusoni for the artwork's requirements?

/cc @jonleung

[2015-08-20 18:52] zachlatta commented on #39
Argh, that's unfortunate. I'll look into this first thing.

[2015-08-20 21:41] jonleung commented on #30
1. @zachlatta, let me know what you want fixed on the front.
2. Thoughts on ordering 100 cards for each person with just the front and no back for now? We can think about how to make an awesome back for the next iteration.

[2015-08-20 22:11] zachlatta commented on #39
Alright, I went ahead and looked into this. I think Google changed something on their end, I've been unable to create any persistent hangout URLs.

All of the above links worked last night. I'm going to go ahead and give up on this for now. If anyone has any suggestions, please let me know! Happy to reopen this.

For now, we just have https://partytime.hackedu.us.

[2015-08-20 22:11] #39 closed

[2015-08-20 22:54] zachlatta commented on #30
Couple things:

It'd be great if the name could be moved lower down, perhaps right above
the phone number? It'd also be great if you could include a position for
our job title.

If we buy nice cards from Moo, it looks like they'd come out to around 50
cents each. Would it be alright if we just ordered them on an ad-hoc basis
instead of for everyone all at once? At least until we have a logo
finali

[2015-08-21 01:18] jonleung commented on #30
Cool. I've edited the description at the top of this issue to reflect this.

Sounds good.

[2015-08-21 02:46] zachlatta opened #106 "Get in touch with Treehouse about an in-kind donation of accounts"
As discussed in the meeting in hackedu/hackedu#70, we'd like to get in touch with Treehouse and see if they may be interested in donating accounts to our clubs.

@hellyeah can you take point on this?

/cc @gemmabusoni @jonleung

[2015-08-21 02:51] zachlatta opened #107 "Schedule time with Selynna to discuss involvement this next semester"
/cc @jonleung @ssun098

[2015-08-21 02:54] zachlatta opened #108 "Schedule time to chat with Gemma about weeks for her to come up and work full-time"
As briefly discussed at the end of #70.

/cc @jonleung @gemmabusoni

[2015-08-21 02:54] ssun098 commented on #107
@zachlatta let's irc about this?

[2015-08-21 02:55] zachlatta commented on #107
@ssun098 Would you prefer we do this? I think it'd be valuable to include @jonleung in this discussion (potentially @hellyeah and @MaxWofford as well).

[2015-08-21 02:55] zachlatta commented on #107
Not sure if IRC would be the best medium for that much synchronous communication.

[2015-08-21 02:56] ssun098 commented on #107
Yeah this is totally fine

[2015-08-21 02:59] zachlatta commented on #107
From IRC in PM:

[2015-08-21 22:28] zachlatta opened #109 "Include calendar setup in onboarding process"

[2015-08-22 01:12] hellyeah commented on #106
I emailed two folks over there -- no response yet. I will follow up next week.

[2015-08-22 01:14] hellyeah commented on #107
I don't think everyone would need to be in this meeting. My two cents are that Selynna is awesome and that I'd love to work with her more closely day-to-day if she was interested in getting more involved with hackEDU.

[2015-08-22 23:31] jonleung commented on #107
:+1:

[2015-08-24 08:35] MaxWofford commented on #100
@zachlatta I'm down with that.

[2015-08-24 17:13] MaxWofford commented on #107
Same here.

[2015-08-24 17:18] MaxWofford commented on #39
https://partytime.hackedu.us gives me:
![screenshot 2015-08-24 at 10 18 00 am](https://cloud.githubusercontent.com/assets/5891442/9446937/6f08ae50-4a49-11e5-9737-c4e1aaa54796.png)

[2015-08-24 18:42] zachlatta commented on #39
I just worked with you to get this resolved in a hangout :-). I believe the
issue is that your laptop cached an old hangout link and was sending you to
the now-defunct hangout.

On Mon, Aug 24, 2015 at 10:18 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-24 20:40] zachlatta commented on #105
@MaxWofford any updates on this?

[2015-08-24 20:48] zachlatta commented on #51
Closing this in favor of #83.

[2015-08-24 20:48] #51 closed

[2015-08-24 21:10] MaxWofford commented on #105
@zachlatta Sorry for not posting it here. I've been working with @gemmabusoni over PM. I'll move the conversation here.

[2015-08-24 21:13] zachlatta commented on #105
Awesome! Thanks.

Remember you can always say:

    steward notify me on mentions

To get Steward to ping you on all mentions on GitHub issues.

On Mon, Aug 24, 2015 at 2:10 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-24 21:15] MaxWofford commented on #105
:+1:

[2015-08-24 21:44] zachlatta commented on #106
Sounds good!

On Fri, Aug 21, 2015 at 6:12 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-25 18:39] #109 closed

[2015-08-25 18:46] jonleung commented on #39
@zachlatta, I'm using a private browsing tab and when I go to `https://jonathan-partytime.hackedu.us` I get this:

![image](https://cloud.githubusercontent.com/assets/654941/9475974/df133c6c-4b1e-11e5-8ebb-46599ab371df.png)

[2015-08-25 18:46] jonleung commented on #83
:+1:

I also love how this is public lol

[2015-08-25 22:23] MaxWofford commented on #39
@jonleung :

-@zachlatta

[2015-08-26 00:20] hellyeah commented on #106
Update: no response yet.

[2015-08-26 01:11] MaxWofford commented on #106
@hellyeah Perhaps the `Blocking` label can be applied here.

[2015-08-26 01:12] hellyeah commented on #106
We should email ryan@teamtreehouse.com directly. Intend on doing so in the morning. Applied the Blocking label.

[2015-08-26 05:34] MaxWofford commented on #105
@gemmabusoni Is this time sensitive? I'll be busy until Sept. 8th and may not be able to finish this.

[2015-08-26 20:06] hellyeah commented on #106
Emailed Ryan again.

Going to go the intro route if they don't get back to us by end of week.

Already sent him a Facebook friend request.

[2015-08-27 00:59] jonleung opened #114 "Add GitHub notifications via Steward to the flow of onboarding a new team member"
In the flow for onboarding a new team member, we should add the GitHub Steward notification feature (the one that sends you a PM whenever you are mentioned in a GitHub notification).

This will allow the new team member to only have to remember to check one place, IRC, not two (IRC & GitHub).

Thoughts @zachlatta?

[2015-08-27 03:07] jonleung opened #115 "Update contribution guidelines"
Can you add something like: "If you have made a Pull Request that you want merged, assign someone on the core team to it?"

[2015-08-27 03:14] MaxWofford commented on #115
I'd be happy to have it default to assigning to me; I'm usually working on misc. tasks.

[2015-08-27 16:25] zachlatta commented on #115
One thing to note is that people who don't have write access to the repo
won't be able to assign any of us to pull requests they submit.

On Wed, Aug 26, 2015 at 8:14 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 18:48] zachlatta commented on #114
What if we created a new heading called `Managing GitHub Notifications` and
mentioned Steward and email filters without saying they should do one or
another?

On Wed, Aug 26, 2015 at 5:59 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 19:02] zachlatta commented on #105
Ideally we'd have it by this Friday.

@gemmabusoni, would it be possible to have this sometime next week?
Potential logo change.

On Tuesday, August 25, 2015, Max Wofford <notifications@github.com> wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 19:47] MaxWofford commented on #105
@zachlatta I can design a banner tonight for either logo, but I'll need some specs.

@gemmabusoni What are the constraints on printing? (size, number of colors, etc.)

[2015-08-27 21:12] jonleung commented on #114
@zachlatta sounds good to me!

[2015-08-28 03:13] zachlatta opened #117 "Adopt a code of conduct"
Moved from hackedu/finances#5.

From @hellyeah's original description:

- - -

Will need to do extensive research on the options that exist.

We should adopt a Code of Conduct from an organization that deeply understands the issues our community members might face (has a diverse leadership itself).

[2015-08-28 08:23] gemmabusoni commented on #105
@MaxWofford
6 feet by 3 feet
full color
2 files: one  EPS and one PDF
Also: do we want groomlets only on the corners or 3 on top and 3 on the bottom?

[2015-08-28 13:16] zachlatta commented on #105
I've talked with each of you independently about the potential "Hack Club"
rename.

Let's hold off on this until we decide whether we'll go ahead and move
forward with it.

On Fri, Aug 28, 2015 at 1:23 AM, Gemma Busoni <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-28 14:54] zachlatta commented on #117
@hellyeah so I was taking a look at the Hackathon Hackers code of conduct (https://github.com/HackathonHackers/code-of-conduct) and while it may be a good place to start, it doesn't have a license, which prevents us from using it or parts of it, as-is. I created HackathonHackers/code-of-conduct#8 to track the missing license.

[2015-08-28 16:43] jonleung commented on #105
@zachlatta, I would actually like to postpone any serious renaming until we've consulted more people about it. From consulting one person yesterday, their recommendation was to _not_ rename it to something more specific like "Hack Club" because it prevents us from doing other things besides clubs in the future.

[2015-08-28 17:16] hellyeah commented on #117
@zachlatta JB added a license. There are a bunch of options though -- we don't need to restrict ourselves to HH's Code of Conduct.

I'm pushing for it bc I know that it's going to be actively maintained and updated to contain a lot of specifics that will exist in this community too.

It might easier to just go with a more established Code of Conduct for now though. Will look into different ones.

[2015-08-29 06:16] MaxWofford commented on #115
I'll be gone until September 9th. Assigning to @zachlatta

[2015-08-29 06:17] MaxWofford commented on #105
I'll be gone until September 9th. Assigning to @zachlatta

[2015-08-30 01:35] zachlatta commented on #117
Sounds good! I'll let you take point on this, I trust your judgement.

On Fri, Aug 28, 2015 at 10:16 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-31 18:43] hellyeah commented on #106
Got 2 month free trial but they'd still have to enter credit card info. Maybe we can get "temporary" cards as gift cards?

[2015-09-01 16:53] zachlatta opened #118 "Logan Foundation report"
Create a check-in report on our progress since April for the Logan Foundation.

[2015-09-01 17:10] zachlatta opened #119 "Week of 09.01.15"
- [x] Logan Foundation report draft (#118)
- Playbook
  - [ ] Get club fair, 1st workshop, and 1st day guidelines on master (hackedu/hackedu#120, hackedu/hackedu#121, hackedu/hackedu#122)
    - [x] Dave's changes added
    - [x] Read over by Abe and Aaroh and any feedback added
    - [ ] At least 2 pull request from leaders
  - [ ] Pull request submitted with 2nd club meeting draft
- Community
  -

[2015-09-02 00:05] zachlatta commented on #106
Hmm, do you think we'd be able to push and get completely comped accounts?
If not, I think we may want to reconsider using Treehouse.

On Mon, Aug 31, 2015 at 11:43 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-03 04:06] zachlatta opened #120 "Properly onboard Dave"
I've done some of the preliminary things, but I still need to add @hellyeah to all of the accounts listed in the `onboarding_protocol.md` in the root of this repo.

[2015-09-03 15:50] zachlatta opened #122 "Remove Andrea from GitHub teams, Dropbox, Google Drive, and other places"
Reverse `onboarding_protocol.md`

[2015-09-03 16:00] zachlatta commented on #115
Decided against doing this because when we had cohort 1 of Labs submit pull requests to add themselves to https://github.com/hackedu/hackedu/tree/master/meta/labs#lab-directors, all seemed to work out as-is.

[2015-09-03 16:00] #115 closed

[2015-09-03 16:16] zachlatta commented on #120
I've added him to all of the accounts listed in `onboarding_protocol.md` and submitted #123 to add him to the core team list.

[2015-09-03 16:16] #120 closed

[2015-09-03 16:22] #122 closed

[2015-09-04 00:24] willium commented on #83
:+1:

[2015-09-04 00:57] jonleung commented on #119
@zachlatta, revisions need to be made to this plan based on [this meeting](https://github.com/hackedu/hackedu/blob/be402c47456d74ffcec238910b207d3705213a85/meta/labs/meetings/15-09-03_who_writes_the_initial_playbook.md#conclusion).

I am happy to take point on this if you want!

[2015-09-04 18:08] zachlatta commented on #119
That'd be awesome! Can you comment with a draft of how you'd change it, then I'll make the revision itself? Feel free to ping me on IRC while you're doing this.

[2015-09-05 15:28] jonleung commented on #119
@zachlatta, actually since I picked up some new work, I'm not sure if I have the bandwidth to do this right now : /

[2015-09-07 18:50] zachlatta opened #125 "Pay August salaries"

[2015-09-07 18:52] zachlatta opened #126 "Week of 09.07.15"
- [ ] Labs
  - [ ] For anyone in Labs running something this week, they have submitted
    two pull requests: one for planning, the other for post-mortem. (@hellyeah, hackedu/hackedu#169)
  - [ ] Any leaders that submit pull requests have shared with their Labs
    cohort and received feedback (if applicable). (@hellyeah, hackedu/meta#136)
- [ ] Curriculum
  - [ ] Create workshop that enables ever

[2015-09-08 16:52] zachlatta opened #127 "Defer existing applicants until early next week"

[2015-09-08 16:57] hellyeah opened #128 "Olark IRC chat on hackEDU website"
@jonleung something we can iframe that looks really pretty

First idea:
iframe embed

[2015-09-08 16:58] zachlatta opened #129 "Community Goals for Week of 09.07.15"
- [ ] 5 organic posts with discussion in FB group
- [ ] 10 introduction posts
- [ ] 5 Medium posts

[2015-09-08 20:14] #119 closed

[2015-09-09 09:11] MaxWofford commented on #126
Are we back to weekly sprints @zachlatta @jonleung @hellyeah @prophetorpheus ?

[2015-09-09 15:42] MaxWofford commented on #128
@hellyeah Because this is a improvement to the website specifically, perhaps this issue could be transferred to hackedu/website.

[2015-09-09 18:17] jonleung opened #131 "Link CONTRIBUTING.md in README.md"
`hackedu/hackedu/README.md` does not tell me how to contribute. It should link me to `CONTRIBUTING.md`

[2015-09-09 18:28] MaxWofford commented on #131
Will submit a PR for this soon.

[2015-09-09 18:58] zachlatta opened #132 "Build chrome extension for moving github issues"
_From @hellyeah on September 9, 2015 17:9_

https://github.com/google/github-issue-mover/issues/110

_Copied from original issue: hackedu/hackedu#177_

[2015-09-09 18:58] zachlatta commented on #132
`hackedu/meta` or personal notes may be a better place for this issue because this doesn't have to do with the playbook's creation.

[2015-09-09 19:35] zachlatta commented on #125
I have a meeting with a friend today who ran a nonprofit for a while where I'm going to ask a couple questions about salaries. Going to send out the checks today.

[2015-09-09 20:53] zachlatta commented on #125
Meeting was cancelled. Just going to go ahead and do this.

[2015-09-09 22:25] zachlatta opened #133 "Make fontebot for #hackEDU irc"
_From @hellyeah on September 8, 2015 16:55_

Talk to hardmath and max

_Copied from original issue: hackedu/hackedu#172_

[2015-09-09 22:25] zachlatta commented on #133
_From @MaxWofford on September 9, 2015 21:54_

@hellyeah What does this issue mean?

[2015-09-09 22:25] zachlatta commented on #133
Going to move this to `hackedu/meta` because it doesn't have to do with our existing clubs.

I'd bias towards having this be a personal note, rather than an organization issue.

[2015-09-09 22:37] zachlatta commented on #131
One thing about this – GitHub tells you how to contribute. Whenever you
create an issue or a pull request, GitHub has a big yellow banner telling
you to read CONTRIBUTING.md.

On Wed, Sep 9, 2015 at 11:28 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-09 22:56] zachlatta commented on #128
@MaxWofford can you move it to `hackedu/website`?

[2015-09-09 22:59] zachlatta commented on #126
Of sorts. We're doing a mix of weekly sprint issues + kanban.

On Wed, Sep 9, 2015 at 2:11 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-09 23:17] zachlatta opened #134 "hackEDU Meetup at MHacks"
_From @hellyeah on September 8, 2015 17:8_

What club leaders will be at MHacks?

_Copied from original issue: hackedu/hackedu#174_

[2015-09-09 23:18] zachlatta opened #135 "Check in with every Labs Leader"
_From @hellyeah on September 8, 2015 17:0_

_Copied from original issue: hackedu/hackedu#173_

[2015-09-09 23:18] zachlatta commented on #135
Going to move this to `hackedu/meta` because it's not directly applicable to the playbook.

[2015-09-09 23:20] MaxWofford commented on #128
This has been migrated to https://github.com/hackedu/website/issues/164

[2015-09-09 23:20] #128 closed

[2015-09-09 23:21] zachlatta opened #136 "Labs Leaders who do planning PR share it with group chat and facebook group"
_From @hellyeah on September 8, 2015 16:53_

_Copied from original issue: hackedu/hackedu#170_

[2015-09-09 23:21] zachlatta commented on #136
Going to move to `hackedu/meta` because it doesn't directly have to do with the playbook (I'd argue it's more of an internal, indirect thing).

[2015-09-10 00:17] jonleung opened #137 "Schedule weekly calls with hackEDU Cohort 1 & 2"
This is something that we discussed doing before but never executed on.

A weekly call time has been setup for:

- [ ] Cohort 1 by Harrison
- [ ] Cohort 2 by Vene

/cc @hellyeah @zachlatta

[2015-09-10 14:18] hellyeah commented on #129
Going to try to get Labs Leaders to write "Hello, World" posts today.

[2015-09-10 15:49] hellyeah commented on #137
We should have a point person in each cohort who takes this on.

Someone who's organized and always available.

[2015-09-10 15:51] hellyeah commented on #134
Will do this on bus to MHacks.

Coordinating w/ @jonleung

[2015-09-10 17:09] zachlatta commented on #129
Sounds great!

On Thu, Sep 10, 2015 at 7:18 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-10 17:27] jonleung commented on #134
People I think are going to PennApps from hackEDU:

- Selynna
- Neil Chen
- Shriyash Jalukar
- Grace Zhang (isn't part of hackEDU but you talked with her)
- Rohith Varanasi
- Raphael Kats
- Bogdan Vitoc

@hellyeah, I'm happy to reach out to Bogdan and Selynna about this and have them lead the charge if you like? Down for other ideas as well!

/cc @hellyeah

[2015-09-10 18:01] jonleung commented on #137
@zachlatta, I'm happy to take this task for Harrison and Vene, thoughts?

[2015-09-10 18:26] zachlatta commented on #137
Sounds good.

[2015-09-10 20:38] jonleung opened #138 "Add setting up IRCCloud push notifications to onboarding flow"
Context: @hellyeah had no idea that push notifications existed for IRCCloud and wished to himself that it did.

/cc @zachlatta

[2015-09-10 20:40] zachlatta commented on #138
Do you mean getting push notifications on every message in a channel?

On Thu, Sep 10, 2015 at 1:38 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-10 21:17] jonleung commented on #138
I mean setting up normal push notifications. (Apparently they weren't turned on for @hellyeah—is that accurate?)

[2015-09-10 22:25] jonleung commented on #137
@paked is going to work on this when he gets a chance. He's currently very busy. Because this task is not complete, I won't check off cohort 1's checkbox.

I reached out to Victor to see if I can chat with him over the phone to talk about this. Waiting for a response.

[2015-09-10 23:04] zachlatta commented on #137
:+1:

On Thu, Sep 10, 2015 at 3:25 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-10 23:50] jonleung commented on #134
Moving forward with this to make sure there's enough time:

I just messaged Bogdan and Selynna asking if they wanted to organize.

[2015-09-11 00:01] jonleung commented on #134
@ssun098 said she's down to take lead on this.

@zachlatta, how do I assign this to her?

[2015-09-11 00:02] ssun098 commented on #134
Oh @zachlatta could you add me as a contributor to this repo? It's the reason why I can't be assigned to anything

[2015-09-11 15:45] zachlatta commented on #114
Cool, let's do this. This should be in `onboarding_protocol.md`.

[2015-09-11 18:30] MaxWofford commented on #131
Closing this issue because the fix was merged in hackedu/hackedu#178

[2015-09-11 18:30] #131 closed

[2015-09-11 23:07] MaxWofford opened #140 "Add documentation for Labs program plan"
The specific implementation of this was discussed in a one on one between @zachlatta and I.

EDIT: The documentation for the Labs program should include the format for the labs program

[code]

[2015-09-12 10:02] MaxWofford opened #142 "Double spaces should be mentioned in the markdown stylesheet"

[2015-09-13 01:08] jonleung commented on #137
Just had a call with Victor to confirm this.

Status now is that both @paked and Victor are aware of the plans and will most likely execute on this this coming week.

[2015-09-13 01:25] paked commented on #137
Can confirm. Am @paked.

This will be done ASAP.

On Sun, Sep 13, 2015 at 11:08 AM Jonathan Leung <notifications@github.com>
wrote:

[2015-09-13 22:01] paked commented on #137
OK. I'm setting this up now. Just pinged the messenger chat to generate some interest.

[2015-09-14 07:35] zachlatta commented on #140
This should probably go in `hackedu/hackedu` in the `meta/labs` directory.

[2015-09-14 22:44] hellyeah commented on #135
Need to merge in notes to issues on /clubs

[2015-09-14 23:25] zachlatta commented on #136
Closed due to not being actionable.

[2015-09-14 23:25] #136 closed

[2015-09-15 00:00] hellyeah commented on #135
This is going to be a recurring issue. Should I just make a new one every week or is better to just reflect this work in the issues in /clubs?

[2015-09-15 00:00] hellyeah commented on #129
Uncertain how to close this and say that I missed the goals?

[2015-09-15 00:25] zachlatta commented on #129
Let's go with that for now. Going to close since last week is over.

[2015-09-15 00:25] #129 closed

[2015-09-15 01:01] zachlatta commented on #126
End of week status:

- [ ] Labs
  - [ ] For anyone in Labs running something this week, they have submitted
    two pull requests: one for planning, the other for post-mortem. (@hellyeah,
    hackedu/hackedu#169)
    - _Status:_ Bogdan submitted one, Gemma didn't. Didn't get planning for
      either. Didn't complete this task.
  - [ ] Any leaders that submit pull requests have shared with their L

[2015-09-15 01:01] #126 closed

[2015-09-15 01:12] zachlatta opened #145 "Get back to "decision pending" hackEDU applicants"
I've created a working column in the Applicants sheet in https://clubs.hackedu.us to track this.

Legend:

- `WAITLIST` :: Put at bottom of waitlist
- `WAITLIST ACCEPT` :: Put them on the waitlist to be a hackEDU club starting next semester. Essentially a deferred acceptance.
- `WAITLIST INTERVIEW` :: Say that you'll follow up with them next semester. Set a time to reach out and schedule a call wh

[2015-09-15 01:14] zachlatta opened #146 "Work with each club that has a meeting to do setup for it"
- Do any setup for the club from our end (like having a project field in the feedback form)
- Make sure that they know which workshop to run
- This is not to help them improve the club experience

[2015-09-15 01:18] zachlatta opened #147 "Every club that had meetings last week should submit a case study"
Can you start by finding out which clubs had meetings last week and comment with a checklist of them, just so we can keep track in this issue?

Example checklist:

- [ ] Beeblebrox High School
- [ ] Manjaro High School

When a case study is submitted, can you check off the high school in the checklist it's for and referece the pull request that the case study is submitted in.

Example:

- [x] Beeb

[2015-09-15 01:25] zachlatta opened #148 "Find out which Labs clubs have meetings this week"
Make sure to also find out how many meetings they've ran so far and what they did in those meetings so we know if their upcoming meeting is a workshop or project day.

Can you comment below with a bullet point list so we know?

/cc @jonleung

[2015-09-15 01:41] zachlatta opened #149 "Sync up with Labs leaders to find out weekly meeting date and time"
Make sure to cover #148 in this.

Also make sure to gather what day of the week the meeting, the time of the meeting, and in what timezone and record it in "schools" sheet on https://clubs.hackedu.us in the "Meeting Day of the week and Time + Timezone" column.

[2015-09-15 01:43] zachlatta opened #150 "Create MVP of platform for feedback and attendance for use this week"
This should include two things:

- Feedback forms
- Attendance

Coordinate with @hellyeah and @jonleung to make sure this is used this week.

[2015-09-15 01:47] zachlatta opened #151 "Week of 09.14.15"
- [x] Applicants
  - [x] Get back to existing hackEDU applicants (@hellyeah, hackedu/meta#145)
- [ ] Curriculum
  - [x] Work with each club that has a meeting this week to do setup for it (@jonleung, hackedu/meta#146)
  - [x] Make sure that every club that had meetings last week submits a case study (@hellyeah, hackedu/meta#147)
  - [ ] **BLOCKING**: Make sure that every club that has meetings thi

[2015-09-15 13:33] #127 closed

[2015-09-15 18:11] hellyeah commented on #148
Lowell - 9/17/2015
Cypher - 09/18/2015

[2015-09-15 18:12] hellyeah commented on #148
Harrison and Leila's clubs are both still delayed. Gemma and Bogdan already started.

[2015-09-15 18:20] zachlatta commented on #148
So Gemma and Bogdan have meetings as well?

[2015-09-15 20:47] MaxWofford commented on #150
The mvp of this is live: http://feedback.hackedu.us/

[2015-09-15 21:23] hellyeah commented on #145
Writing this email now.

[2015-09-15 21:25] #118 closed

[2015-09-15 21:30] zachlatta commented on #150
:+1:

On Tue, Sep 15, 2015 at 1:47 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-15 21:54] paked commented on #137
Progress update: We are having an initial call at some point this weekend. Most people seem interested.

[2015-09-15 21:55] zachlatta commented on #137
Can you push to get everyone on that call? I think it's important that we
set the precedent that the cohort is as only strong as its weakest link
from the very beginning.

On Tue, Sep 15, 2015 at 2:54 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-15 21:59] hellyeah commented on #145
Subject: hackEDU Club Decision
Alt: hackEDU Waitlist

"We would like to invite you to be one of the first clubs to pilot the hackEDU playbook next semester.

Though we won't be accepting new hackEDU clubs this semester, we've created a Labs program of 12 HS hack club leaders who are developing the playbook for building an amazing hack club. You can follow their progress here: https://github.com/ha

[2015-09-15 22:12] paked commented on #137
@zachlatta I'm going to try. However it seems that me doing it doesn't have
the same prestige, as say you or @jonleung organizing it. IMO this is
something which will have to be built upon, instead of starting strong from
day 1.

On Wed, Sep 16, 2015 at 7:56 AM Zach Latta <notifications@github.com> wrote:

[2015-09-15 22:56] zachlatta commented on #145
Awesome! Thank you.

Can you also write one for accepting them this semester?

[2015-09-15 23:11] ad510 commented on #150
The page doesn't look right in Firefox. (It looks good in Chrome and Safari.)

[2015-09-15 23:12] hellyeah commented on #145
Subject: Welcome to hackEDU

"We would like to invite your club to hackEDU this semester.

We're currently focused on the hackEDU Labs program, a cohort of 12 club leaders who are developing the (Hack Club Playbook)[https://github.com/hackedu/hackedu], so we won't be devoting as much time to hackEDU clubs until the following semester.

That said, we think you'll add value to the hackEDU Leaders co

[2015-09-15 23:13] zachlatta commented on #145
Perfect, thank you.

On Tue, Sep 15, 2015 at 4:12 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-15 23:18] hellyeah commented on #145
@zachlatta moving forward if you ever need a quick draft of something written just ping me. It won't be perfect, but I'm getting in a much better productivity flow of shipping drafts and can likely save you a lot of time getting things like this done.

[2015-09-15 23:19] zachlatta commented on #145
That sounds perfect. I'll certainly take you up on this.

[2015-09-15 23:20] zachlatta commented on #150
Looks great! Couple quick comments:

![tmp_2](https://cloud.githubusercontent.com/assets/992248/9892638/a43e4a2a-5bc5-11e5-9147-21f3d4376c90.png)

[2015-09-15 23:25] hellyeah commented on #148
@zachlatta they already had their first meetings last week.

[2015-09-16 01:23] MaxWofford commented on #150
@zachlatta Addressed your comments in https://github.com/hackedu/packrat/commit/26ee736bac4fa3cd7ee75f97b6a68c73d17cb9c0

[2015-09-16 01:31] ad510 commented on #150
I noticed that "Please answer as honestly as you feel comfortable" is a little awkward because it implies people might not want to answer honestly. Did you mean "in as much detail" instead of "as honestly"?

[2015-09-16 01:33] zachlatta commented on #150
Good call, I think "in as much detail" is clearer.

On Tue, Sep 15, 2015 at 6:31 PM, Andrew Downing <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-16 01:42] MaxWofford commented on #150
https://github.com/hackedu/packrat/commit/bff70e25cff55e5ded521e3e889aff1a168399da

[2015-09-16 06:26] #125 closed

[2015-09-16 06:45] zachlatta commented on #148
Gotcha, sounds good.

Can you say which days people are meeting this week?

[2015-09-16 16:04] jonleung commented on #145
@zachlatta did you send this out yet?

[2015-09-16 16:05] jonleung commented on #134
@ssun098 yo! Awesome job with the meetup! Do you want to add some notes to this issue before you close it?

Wohoo!

[2015-09-16 16:08] jonleung commented on #151
@hellyeah, note: sign contract

[2015-09-16 16:10] jonleung commented on #148
Jiahao, Gemma, and Bogdan have meetings this week (and will continue to)

[2015-09-16 16:10] jonleung commented on #149
Closing because duplicate of #135

[2015-09-16 16:10] zachlatta commented on #145
About to.

On Wednesday, September 16, 2015, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-16 16:54] zachlatta commented on #135
Let's make a new one every week.

[2015-09-16 16:54] #135 closed

[2015-09-16 16:55] zachlatta commented on #135
Closed because this issue was from last week.

[2015-09-16 16:55] zachlatta commented on #149
#135 was the issue for last week, this one's still valid.

Reopening.

[2015-09-16 16:59] zachlatta commented on #148
Sorry, so just to clarify. The following people have meetings this week:

- Jeremy/Teagan @ Lowell
- Gemma @ Hybrid High
- Jevin @ Cipher
- Bogdan @ Cherry Hill High
- Jiahao @ San Leandro High

Is that correct? Also, do we know which days of the week each of them are
meeting? I know @hellyeah got the day for Lowell and Cipher, but what about
the rest?

On Wed, Sep 16, 2015 at 9:10 AM, Jonathan Le

[2015-09-16 17:16] gemmabusoni commented on #148
USC Hybrid High School, every Tuesday from 4:00 pm to 5:00 pm; excepts testing days or no classes.

[2015-09-16 17:26] jonleung commented on #149
@hellyeah, I added this to the description of this issue:

[2015-09-16 17:43] ssun098 commented on #134
Thanks @jonleung! Let's close this after I write my Medium article about it.

[2015-09-17 16:11] hellyeah commented on #134
Closing this issue because this event has already happened.

@ssun098 has decided to write a recap on Medium that we're tracking in #218

[2015-09-17 16:11] #134 closed

[2015-09-17 16:12] hellyeah commented on #146
Clubs that have meetings this week are in #148

[2015-09-17 16:19] hellyeah commented on #151
@jonleung sending feedback. @hellyeah will send it out after @jonleung and @MaxWofford reviews another draft.

@MaxWofford is adding more clubs this should go out to in http://clubs.hackedu.us

[2015-09-17 16:21] hellyeah commented on #149
@hellyeah needs to update clubs issues.

[2015-09-17 16:48] jonleung commented on #149
@hellyeah will be adding the day of the week and time for the rest of the clubs that currently don't have a date and time specified.

[2015-09-17 17:00] hellyeah commented on #149
Asked everyone but Abby and Leila. Mid-conversation with them and don't want to diverge into this. Neither of their clubs starts til October.

[2015-09-17 17:18] hellyeah commented on #145
Subject: hackEDU Club Decision
Alt: hackEDU Waitlist

"We decided to focus this semester on the hackEDU Labs program where 12 high school club leaders will be developing the definitive playbook for building a coding club from scratch.

Though we won't be accepting your club to hackEDU this semester, you can follow progress on the playbook here: https://github.com/hackedu/hackedu

We intentionally

[2015-09-17 19:08] MaxWofford commented on #142
This issue was opened on accident. My bad.

[2015-09-17 19:08] #142 closed

[2015-09-17 19:13] MaxWofford commented on #145
@hellyeah I'm currently adding to the clubs list. I'll add a comment here when I've finished.

[2015-09-17 20:29] jonleung commented on #145
@hellyeah, made some minor revisions. I think it's good to send.

Subject: hackEDU Club Decision
Alt: hackEDU Waitlist

This semester, we decided to focus on the hackEDU Labs program where 12 high school club leaders will be developing a playbook for building a coding club from scratch.

Though we won't be accepting your club to hackEDU this semester, you can follow progress on the playbook here:

[2015-09-17 20:52] MaxWofford opened #152 "Styleguide should include 3 space indentation rules for ordered lists"
[code]
instead of
[code]

[2015-09-18 00:46] hellyeah commented on #145
Did not email:

Joshua Ng 14ngk3@rchk.edu.hk
Nicholas Salazar koipasta3@gmail.com

[2015-09-18 04:34] MaxWofford commented on #145
Added all the applicants I received over summer.

[2015-09-18 16:07] hellyeah commented on #145
@zachlatta do we want to send this email to WAITLIST_ACCEPT?

[2015-09-18 16:12] hellyeah commented on #148
@zachlatta @tejasmanohar also had a meeting. All meetings have been reflected in clubs.hackedu.us

[2015-09-18 16:13] hellyeah commented on #149
Adding data from last night to http://clubs.hackedu.us

[2015-09-18 16:17] tejasmanohar commented on #148
Tejas Manohar @ Ravenwood High School, every Thursday 2:30 -> 3:30 pm Central.

[2015-09-18 22:50] jonleung commented on #147
I've decided to track these inside of https://clubs.hackedu.us instead so everything is more consolidated. You can find the information in the "Schools" sheet in the "Week of Sept 14th Checkin"

[2015-09-19 03:38] MaxWofford commented on #147
@jonleung If this is being tracked somewhere else should this issue stay open?

[2015-09-20 02:08] jonleung commented on #146
I corresponded with almost every Labs leader that had a meeting this week (Bogdan, Jiahao, Teagan, and Tejas). I missed Gemma because I didn't realize she had a meeting this week.

For each leader, I made sure they knew about the following:

- the fancy feedback form that Max made
- the portfolio workshop and Twilio workshop
- how to run the above workshops

I also answered any questions they had.

[2015-09-20 02:08] #146 closed

[2015-09-20 02:18] jonleung commented on #147
@MaxWofford, even though the data for this task is tracked elsewhere, I want to keep the issue open because I want to track the status of the task (which is not yet finished yet).

Here is the current status:

Just as a status update:

| Club Leader Name   | Submitted Status                                                                         |
|:-------------------|:---------------------------

[2015-09-20 02:24] jonleung commented on #137
I agree with @paked that if this is organic, it will be hard to get everyone to be on the call.

The call just happened earlier today and wasn't too successful. I'll leave @Bogidon to comment why.

[2015-09-20 02:32] jonleung commented on #137
I'm leaving this an open issue here because I'll be doing work throughout the week to make sure that another hopefully more successful call happens next week.

[2015-09-21 06:03] jonleung commented on #150
Max, should this issue be closed because it is checked off here: meta/issues/150?

[2015-09-21 06:04] jonleung commented on #148
@hellyeah should this issue be closed because

[2015-09-21 15:59] zachlatta commented on #137
Can you close this and create a new issue to track the call for this week?
I think that may be a bit more clear.

On Sat, Sep 19, 2015 at 7:32 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 16:04] zachlatta commented on #147
Can you add links to the pull requests submitted to that table?

On Sat, Sep 19, 2015 at 7:18 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 16:46] MaxWofford commented on #150
@jonleung Yep! Thanks for linking that.

[2015-09-21 16:46] #150 closed

[2015-09-21 17:15] zachlatta commented on #152
I know I've definitely indented 3 spaces on ordered lists, but I actually
think we should keep it to 2 space indentation universally. Thoughts?

On Thu, Sep 17, 2015 at 1:52 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 17:27] jonleung commented on #147
@zachlatta, yeah I'll do that in a bit.

[2015-09-21 17:28] jonleung commented on #137
@zachlatta, yup I added your suggestion to my queue of work.

[2015-09-21 17:41] jonleung commented on #152
2 spaces sounds good

[2015-09-21 18:18] zachlatta commented on #140
Can you also include the implementation we discussed in the issue
description?

On Fri, Sep 11, 2015 at 4:07 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 21:56] MaxWofford commented on #140
@zachlatta Added. Thanks :)

[2015-09-21 22:15] zachlatta opened #153 "Set up chanserv to automatically voice hackEDU staff when joining #hackedu on freenode"
We currently have an issue where a team member's IRC client with briefly disconnect and they'll lose all modes assigned to them. This can be fixed with chanserv.

[2015-09-21 22:18] ZucchiniZe commented on #153
If you implement this, it would allow you to auto voice people who don't use irccloud.

[2015-09-21 22:25] zachlatta opened #154 "Add what to do with pull requests to Project Management section of README"

[2015-09-22 01:06] MaxWofford commented on #151
@zachlatta

Does this follow our styleguides?

[2015-09-22 01:07] MaxWofford opened #155 "Week of 09.21.15"
The weekly question is

--------------------------------------------------------------------------------
- [ ] Packrat rails shipped (@MaxWofford, hackedu/packrat#12)
  1. [ ] Packrat dashboard is added
  2. [x] Packrat analytics page is added
  3. [x] `feedback.hackedu.us` points to Packrat
  4. [x] Club leaders having meetings this week are reminded of the feedback form
- [ ] _In Progress_: 2nd

[2015-09-22 01:13] MaxWofford opened #156 "Create 'Labs' calendar"
This issue can be closed once the following has been completed:

- [x] The Labs calendar has been shared with team@hackedu.us

The following issues depend on this one:

- [ ] All Labs clubs meeting times are added as events (#149)
- [ ] Cohort 1 call is scheduled (#159)
- [ ] Cohort 2 call is scheduled (#158)
- [ ] Labs director check-ins before/after meeting scheduled (#157)

[2015-09-22 01:15] MaxWofford opened #157 "Set up Labs directors check-ins before/after club meetings"
This can be closed when all check-ins with Labs directors (before and after meetings) for this week are scheduled on the Labs calendar(#156).

[2015-09-22 01:35] MaxWofford opened #158 "Ensure Cohort 2 call is scheduled"
Correspond w/ Victor to plan this. This issue can be closed once the event is scheduled on the `Labs` calendar (#156).

[2015-09-22 01:35] MaxWofford opened #159 "Ensure Cohort 1 call is scheduled"
This can be closed once the call is on the `Labs` calendar (#156).

[2015-09-22 01:37] MaxWofford opened #160 "Plan Labs update meeting"
This can be closed once the meetings are in the team calendar, as well as booked with Galvanize.

[2015-09-22 01:38] MaxWofford opened #161 "100% coverage of Labs meeting times"
This issue can be closed when every labs meeting is recorded in clubs.hackedu.us

[2015-09-22 16:20] #145 closed

[2015-09-22 16:20] #148 closed

[2015-09-22 16:20] jonleung commented on #137
Closing because @zachlatta made a new issue for this week's sprint.

[2015-09-22 16:20] #137 closed

[2015-09-22 16:21] jonleung commented on #151
Closing this because we have a new weekly sprint issue.

[2015-09-22 16:21] #151 closed

[2015-09-22 22:11] #114 closed

[2015-09-22 22:14] zachlatta commented on #140
Closed by #204.

[2015-09-22 22:14] #140 closed

[2015-09-22 22:26] hellyeah commented on #149
Waiting on day of the week from Amy, time from sneha and mitalee, and both day of the week and time for Victor and Abby.

[2015-09-22 22:49] MaxWofford commented on #140
Clarification: https://github.com/hackedu/hackedu/pull/204

[2015-09-22 23:10] zachlatta commented on #161
Duplicate of #149.

[2015-09-22 23:10] #161 closed

[2015-09-23 15:45] jonleung commented on #147
@zachlatta I updated the table with links to the pull requests.

[2015-09-23 16:04] jonleung commented on #147
@zachlatta I'll let you handle closing this issue.

[2015-09-23 16:12] hellyeah commented on #160
@jonleung how do I book rooms again? Also is there a way to batch book rooms?

[2015-09-23 16:13] hellyeah commented on #159
Going to incept this into a Labs 1 member.

[2015-09-24 16:19] hellyeah commented on #156
@MaxWofford I'm not certain we want to have a rigid schedule for "Labs director check-ins before/after meeting scheduled (#157)"

Additionally, I don't believe the Cohort 1 (#159) and Cohort 2 (#158) calls will be scheduled rigidly so I don't think they should block this issue.

I want to close this issue with a weekly event to get the day of the week/time from the clubs we don't have them for and

[2015-09-24 16:28] hellyeah commented on #149
Amy still hasn't decided on day of the week.

Sneha/Mitalee still haven't decided on a time.

Victor and Abby haven't decided on day of the week or time.

Made recurring Monday events in the Club Schedule calendar (#156)  to check in and get these details from them.

[2015-09-24 16:28] #149 closed

[2015-09-25 16:04] #147 closed

[2015-09-25 16:05] #156 closed

[2015-09-25 16:09] hellyeah commented on #158
Victor suggested Saturday at noon. Waiting on 3 people to confirm.

[2015-09-27 06:05] paked commented on #114
Can directors get this too?

[2015-09-27 18:33] MaxWofford commented on #114
@paked Yep! Check out https://github.com/hackedu/meta/pull/139/files

[2015-09-28 14:31] jonleung commented on #157
@MaxWofford, I've decided to not add this to the labs calendar because I may change when I checkin with people and because calendars are hard to update, the information most likely won't be accurate in the calendar.

Instead, I've made [this spreadsheet](https://docs.google.com/spreadsheets/d/1_K9uZg0A7ZoMRWqSxDoVgKSe64IJ7DZJKpVOZapdVKc/edit?usp=sharing) that tentatively outlines when I'm going to

[2015-09-28 16:37] zachlatta commented on #159
Completed by @gemmabusoni

[2015-09-28 16:37] #159 closed

[2015-09-28 16:40] hellyeah commented on #160
Booked Tenderloin on Mondays at 930am.

Likely need to readjust to accommodate planning meeting.

[2015-09-28 16:40] #160 closed

[2015-09-28 18:31] zachlatta opened #162 "Ensure cohort 1 call is scheduled week of 09.28.15"

[2015-09-28 18:35] zachlatta opened #163 "Ship Markcop"
What needs to happen to do this:

- [x] Fix any broken checks in the script
- [ ] ~~Write one-liner script for installing Markcop (to be used on our CI server)~~ (using the one-liner for downloading and running Markcop without installation on the CI server)
- [x] Write one-liner script for downloading and running Markcop, without installation (for people to copy and paste to test their Markdown)
-

[2015-09-28 18:41] zachlatta opened #164 "Ensure that Packrat is used at all of the meetings this week"
Meetings this week, per the club schedule calendar by @hellyeah:

Goal:
- [ ] 3:15PM PDT Thursday, San Leandro High School (Jiahao)
- [ ] 3:30PM PDT Thursday, Lowell High School (Teagan)

Stretch:
- [ ] 11:30AM PDT Monday, Cherry Hill East (Bogdan)
- [ ] 4:00PM PDT Tuesday, USC Hybrid School (Gemma)
- [ ] 10:30PM PDT Tuesday, Glenaeon Rudolf Steiner School (Harrison)
- [ ] 11:30PM PDT Wednesday, C

[2015-09-28 18:46] zachlatta commented on #153
Done!

[2015-09-28 18:46] #153 closed

[2015-09-28 18:47] zachlatta opened #165 "Schedule time to talk about switching to Slack"

[2015-09-28 18:48] zachlatta opened #166 "Schedule time to talk about our PR workflow with the entire team"

[2015-09-28 18:50] zachlatta opened #167 "Communicate standup expectations to everyone on the team"
The expectation is to be here in-person every morning by 9AM. The standups will start sharply at 9AM.

[2015-09-28 18:51] zachlatta opened #168 "Assign people to run standups for the week of 09.28.15"

[2015-09-28 18:52] zachlatta opened #169 "Create sheet in https://clubs.hackedu.us for tracking club meetings"
Make sure there's a column for tracking pull requests submitted and a column for tracking what curriculum they're planning on running.

[2015-09-28 18:53] zachlatta opened #170 "Ensure every meeting for the week of 09.28.15 is recorded in the clubs meeting spreadsheet"
This is dependent on #169 (which has now been closed, so you're all good to go).

[2015-09-28 18:55] zachlatta opened #171 "Schedule meeting to set long-term goals throughout the semester"

[2015-09-28 18:59] zachlatta opened #172 "Talk with Selynna and Sam to plan for HackingEDU"
/cc @ssun098 @saescapa

[2015-09-28 19:00] zachlatta opened #173 "Week of 09.28.15"
- [ ] Curriculum
  - [x] 2nd workshop guidelines created (@jonleung, hackedu/hackedu#171)
  - [x] 2nd workshop created (@jonleung, hackedu/hackedu#171)
  - [ ] 3rd workshop created (@jonleung, hackedu/hackedu#271)
  - [x] Record workshops being run by each Labs club this week (@jonleung, hackedu/meta#175)
- [ ] Community
  - [ ] Build system for automating community metrics (@hellyeah,
  hackedu/h

[2015-09-28 19:01] ssun098 commented on #172
Hey! What needs to be planned?

[2015-09-28 19:06] zachlatta commented on #155
Progress updates:

- [ ] Packrat rails shipped (@MaxWofford, hackedu/packrat#12)
  1. [X] Packrat dashboard is added
  2. [X] Packrat analytics page is added
  3. [X] `feedback.hackedu.us` points to Packrat
  4. [X] Club leaders having meetings this week are reminded of the feedback
     form
  - _Update:_ It's finished, but not shipped to club leaders. Remaining work
    moved to #173.
- [ ] _In

[2015-09-28 19:06] #155 closed

[2015-09-28 21:43] paked commented on #165
@zachlatta thoughts on opening this up as a discussion with everyone?

[2015-09-28 21:51] zachlatta commented on #165
Definitely open to it. I'll post the time and hangout URL here and anyone's welcome to join.

[2015-09-28 21:55] zachlatta commented on #165
Alright, we'll be hosting this discussion in https://partytime.hackedu.us from 1-2PM PDT tomorrow. Anyone's welcome to join :-).

[2015-09-28 21:55] #165 closed

[2015-09-28 21:59] MaxWofford commented on #164
@zachlatta Is there some way I can get access to the live version of packrat? It would make it much easier for me to see what's going on.

[2015-09-28 22:06] paked commented on #165
@zachlatta I'll try and be awake. If not, be sure to post to IRC... There are some people with communications opinions in there :laughing:

[2015-09-28 22:26] zachlatta commented on #167
Updated calendar invites, pinged everyone on IRC, and sent the team an email.

[2015-09-28 22:26] #167 closed

[2015-09-28 22:38] zachlatta commented on #166
Waiting on @MaxWofford to send me an agenda for this meeting.

[2015-09-28 23:15] zachlatta commented on #169
Done! https://docs.google.com/spreadsheets/d/1Mb-8WBjiZUOYgWqNJxaigCWZvZqnIHZ2ZhokVNCbJ4g/edit#gid=1932846329

[2015-09-28 23:15] #169 closed

[2015-09-28 23:18] zachlatta commented on #168
Done! The calendar events for this week include who's running them, I've pinged everyone on IRC, and sent everyone an email about it as well.

[2015-09-28 23:18] #168 closed

[2015-09-28 23:28] jonleung commented on #158
@hellyeah @gemmabusoni, there are many people that are asking about the cohort 2 call, @hellyeah will just take lead on scheduling this call.

[2015-09-28 23:35] saescapa commented on #172
Same here! Let me know how I can help!

[2015-09-28 23:36] zachlatta commented on #171
Scheduled for 11AM on Wednesday. Check your inboxes for calendar invites!

/cc @hackedu/core

[2015-09-29 02:41] ZucchiniZe commented on #164
@MaxWofford isn't it deployed to https://labs.hackedu.us/ currently?

[2015-09-29 04:31] MaxWofford commented on #164
@ZucchiniZe I'd like to see what clubs we've been getting responses in.

[2015-09-29 16:34] zachlatta opened #175 "Record workshops being run by each Labs club this week in https://clubs.hackedu.us"
If there isn't already an entry for their meeting, create one in the `Meetings` sheet in https://clubs.hackedu.us and record which workshop they're running in the curriculum plans column.

[2015-09-29 22:22] zachlatta commented on #166
@MaxWofford will be taking point on scheduling this meeting and leading it.

[2015-09-29 23:22] MaxWofford commented on #166
I've  just scheduled a meeting time in the team calendar and signed us up for the panhandle on the 4th floor.

[2015-09-30 00:15] #166 closed

[2015-09-30 05:34] gemmabusoni commented on #162
Cohort 1 call is scheduled for Friday at 4PM PST!

[2015-09-30 05:37] gemmabusoni commented on #172
Scheduling call with @ssun098 @saescapa; will potentially be held tomorrow.

[2015-09-30 06:53] hellyeah commented on #158
Call happened. Pinged leaders individually and encouraged them to chime in.

Vene took the lead with the help of @gemmabusoni.

@jonleung and @MaxWofford were also on the call.

[2015-09-30 06:53] #158 closed

[2015-09-30 08:06] paked commented on #162
@gemmabusoni I was thinking, should we create a calendar event for this? Invite everyone just to make sure no one forgets?

[2015-09-30 16:08] MaxWofford opened #177 "Message Bay Area leaders about HackingEDU"

[2015-09-30 17:20] #163 closed

[2015-10-01 15:52] jonleung commented on #171
@zachlatta did you create the calendar event for next friday?

[2015-10-01 21:39] jonleung commented on #175
Done.

Here is the link to the [meetings sheet](https://docs.google.com/spreadsheets/d/1Mb-8WBjiZUOYgWqNJxaigCWZvZqnIHZ2ZhokVNCbJ4g/edit#gid=1932846329).

[2015-10-01 21:39] #175 closed

[2015-10-03 03:17] zachlatta commented on #162
Closing because the call happened! I do like @paked's idea though.

[2015-10-03 03:17] #162 closed

[2015-10-04 06:10] saescapa commented on #172
@gemmabusoni Just to clarify, @ssun098 and I will be giving a small speech about hackEDU at the hackingEDU open ceremony?

[2015-10-04 06:38] paked commented on #172
That doesn't sound like brand confusion at all!

On Sun, Oct 4, 2015 at 5:10 PM Samuel Escapa <notifications@github.com>
wrote:

[2015-10-04 06:39] ssun098 commented on #172
@paked Literally the same right?!

[2015-10-04 10:21] gemmabusoni commented on #172
Update: held call with @saescapa and @ssun098.

@saescapa yep!

[2015-10-04 21:00] ssun098 commented on #172
@gemmabusoni do you know about how long this talk should be?
On Sun, Oct 4, 2015 at 3:21 AM Gemma Busoni <notifications@github.com>
wrote:

[2015-10-06 15:46] zachlatta opened #180 "Cloud9 in-kind donation"
_From @hellyeah on September 30, 2015 17:24_

_Copied from original issue: hackedu/hackedu#280_

[2015-10-06 15:46] zachlatta commented on #180
_From @MaxWofford on September 30, 2015 17:47_

Cloud9 premium workstations won't hibernate.

[2015-10-06 19:14] zachlatta opened #181 "Get Dave access to Packrat"
Show Dave how he can see all of the Packrat data.

/cc @hellyeah

[2015-10-06 19:15] zachlatta opened #182 "Assign people to standups for the week of 10.05.15"
Add the person leading it to the title of the standups event and make sure the location of the event is set to https://partytime.hackedu.us.

[2015-10-06 19:15] zachlatta opened #183 "Schedule retrospectives and kudos sessions for week of 10.05.15"

[2015-10-06 19:17] zachlatta opened #184 "YC Application"
Create it and run it by others. It's due next Tuesday at 8PM.

[2015-10-06 19:18] zachlatta opened #185 "Pay September salaries"
- [x] @hellyeah
- [x] @jonleung
- [x] @MaxWofford

[2015-10-06 19:18] zachlatta opened #186 "Schedule team lunch for Wednesday (10.07.15)"

[2015-10-06 19:19] zachlatta opened #187 "Schedule weekly team lunches for Mondays"

[2015-10-06 19:20] zachlatta opened #188 "Plan to discuss whether we should have next week's planning meeting in person during the week of 10.05.15's retrospective"

[2015-10-06 19:21] zachlatta opened #189 "Plan time to talk about visually distinguishing weeks in the Meetings sheet"
This discussion should happen on IRC

[2015-10-06 19:22] zachlatta opened #190 "Plan time on Tuesday (10.07.15) to show Packrat to Dave over IRC"
Invite Jonathan to the calendar event as well.

[2015-10-06 19:22] zachlatta opened #191 "Install Steward plugin to record meeting logs"

[2015-10-06 20:12] jonleung opened #192 "Record workshops being run by each Labs club in the week of October 5th in https://clubs.hackedu.us"
If there isn't already an entry for their meeting, create one in the Meetings sheet in https://clubs.hackedu.us and record which workshop they're running in the curriculum plans column.

[2015-10-06 20:29] paked commented on #191
:+1:

[2015-10-06 20:30] paked commented on #187
This sounds so cute. :disappointed:

[2015-10-06 20:32] MaxWofford commented on #187
@zachlatta Thought we decided against this because it makes a different dynamic between the in-person team and the remote team.

[2015-10-06 21:46] MaxWofford commented on #181
@zachlatta It would be great if I could get this too.

[2015-10-06 21:55] zachlatta opened #193 "Launch Slack"
_From @hellyeah on October 6, 2015 21:51_

_Copied from original issue: hackedu/hackedu#302_

[2015-10-06 21:56] zachlatta opened #194 "Build system for automating community metrics"
_From @hellyeah on October 6, 2015 21:52_

_Copied from original issue: hackedu/hackedu#303_

[2015-10-06 21:56] zachlatta opened #195 "Add meetings from this week and last week to clubs.hackedu.us"
_From @hellyeah on October 6, 2015 21:52_

_Copied from original issue: hackedu/hackedu#304_

[2015-10-06 21:56] zachlatta opened #196 "Get 2 clubs to submit feedback on Packrat this week"
_From @hellyeah on October 6, 2015 21:52_

_Copied from original issue: hackedu/hackedu#305_

[2015-10-06 22:20] zachlatta opened #197 "Week of 10.05.15"
#### Curriculum

- [x] Ship 3rd Workshop (@jonleung, hackedu/hackedu#271)
- [ ] Ship 4th Workshop (@jonleung, hackedu/hackedu#299)
- [ ] Sync up with club leaders and add their planned curriculum for the week to
  the Meetings spreadsheet in https://clubs.hackedu.us (@jonleung,
  hackedu/meta#192)

#### Community

- [x] Launch Slack (@hellyeah, hackedu/meta#193)
- [ ] Build system for automating c

[2015-10-06 22:51] zachlatta commented on #182
Done! https://botbot.me/freenode/hackedu/2015-10-06/?msg=51300022&page=5

[2015-10-06 22:51] #182 closed

[2015-10-06 23:56] hellyeah opened #199 "Apply for non-profit status on Slack"

[2015-10-07 00:03] hellyeah commented on #199
https://hackedu.slack.com/help/requests/577173

[2015-10-07 00:03] #199 closed

[2015-10-07 01:01] zachlatta commented on #183
Sent calendar invites!

[2015-10-07 01:01] #183 closed

[2015-10-07 01:01] zachlatta commented on #188
Added to the description of this week's calendar invite.

[2015-10-07 01:01] #188 closed

[2015-10-07 01:03] zachlatta commented on #181
PMed @hellyeah and @MaxWofford on IRC on how to do this.

[2015-10-07 01:03] #181 closed

[2015-10-07 16:04] hellyeah commented on #172
Would be cool to have a HS Hackers meetup

[2015-10-07 16:08] hellyeah commented on #190
Should be rescheduled for today.

[2015-10-07 16:17] hellyeah commented on #172
High priority for next week. Most people don't know about it. We have 75 seats.

[2015-10-07 16:45] hellyeah opened #200 "Map slack channel to github issue"

[2015-10-07 17:00] hellyeah commented on #170
Close to zero clubs wrote planning/recap for this week. @jonleung added almost all the meetings in. I added the missing ones and checked for accuracy.

[2015-10-07 17:00] #170 closed

[2015-10-07 17:22] zachlatta commented on #173
Closing because the week is over. New weekly issue in #197.

[2015-10-07 17:22] #173 closed

[2015-10-07 18:04] zachlatta commented on #171
It's created!

[2015-10-07 18:04] #171 closed

[2015-10-07 18:46] gemmabusoni commented on #172
@ssun098 Think we'll have about a minute. Checking with Keero, and then I'll follow up with you.

HS Hackers meetup would be awesome. I can set up the event, but it might be ideal to have Selynna or @saescapa (or both!) lead that.

[2015-10-07 18:46] #172 closed

[2015-10-07 21:43] ssun098 commented on #172
@hellyeah @gemmabusoni already taken care of. Scheduled.for 2am saturday,
I'm organizing
On Wed, Oct 7, 2015 at 9:17 AM David Fontenot <notifications@github.com>
wrote:

[2015-10-07 22:21] paked commented on #172
omg. I can attend that time! hangout me in!

On Thu, Oct 8, 2015 at 8:43 AM Selynna Sun <notifications@github.com> wrote:

[2015-10-07 22:35] zachlatta commented on #186
Done! And it's happened.

[2015-10-07 22:35] #186 closed

[2015-10-07 23:11] zachlatta commented on #187
Calendar invites sent!

@MaxWofford we're experimenting with a more remote-friendly workflow (more meetings on Hangouts and meetings directly on IRC) and we want to make sure that there's still unity within the in-person team. I definitely want this to be an open conversation though, so don't hesitate to voice any concerns!

[2015-10-07 23:11] #187 closed

[2015-10-07 23:33] zachlatta commented on #172
We :heart: you @paked

[2015-10-07 23:35] paked commented on #172
:heart: @zachlatta

[2015-10-08 05:21] zachlatta commented on #190
Done!

[2015-10-08 05:21] #190 closed

[2015-10-08 06:06] ssun098 commented on #172
@saescapa do you want to help me organize the hshackers meetup?

[2015-10-08 14:26] zachlatta commented on #189
Invites sent and pinged @jonleung and @hellyeah on IRC.

[2015-10-08 14:26] #189 closed

[2015-10-08 16:00] gemmabusoni opened #202 "Inform Bay Area clubs about hackingEDU/help them get there"
Let Bay Area clubs know about hackingEDU, help them sign up, help them get there, etc.

Ideally would want to have emailed all Bay Area clubs by Friday.

[2015-10-08 16:19] hellyeah commented on #164
@MaxWofford I don't think we even got a response from Bogdan's club this week.

[2015-10-08 21:39] zachlatta opened #203 "Create conditional formatting to visually separate each week in the "Meetings" sheet https://clubs.hackedu.us"

[2015-10-08 21:59] paked commented on #203
This is something I could do!

On Fri, Oct 9, 2015 at 8:39 AM Zach Latta <notifications@github.com> wrote:

[2015-10-08 22:00] paked commented on #203
Oh wait... Nevermind. Thought this was a packrat issue.

On Fri, Oct 9, 2015 at 8:59 AM Harrison Shoebridge <
harrison@theshoebridges.com> wrote:

[2015-10-09 02:15] saescapa commented on #172
@ssun098 Sure! Aren't there a ton of HS hackers coming?

[2015-10-09 02:36] ssun098 commented on #172
@saescapa yeah I think so! Let's talk when I see you Saturday

[2015-10-09 16:10] hellyeah opened #204 "Shift cohort 1 to Slack"

[2015-10-09 16:13] MaxWofford commented on #154
@zachlatta Happy to add this documentation.

[2015-10-10 00:07] hellyeah commented on #193
Launched with cohort 1 on their call today #204

[2015-10-10 00:07] #193 closed

[2015-10-10 00:07] hellyeah commented on #195
Added all the meetings for this week. Cleaning up w/ @jonleung at our clubs sync up Monday.

[2015-10-10 00:07] #195 closed

[2015-10-12 17:20] hellyeah opened #206 "PM every club leader on Slack"
PM every club leader

[2015-10-12 17:22] hellyeah opened #207 "Get at least 3 clubs using Pakrat"
Meetings this week, per the club schedule calendar by @hellyeah:

Goal:

- [ ] 3:15PM PDT Thursday, San Leandro High School (Jiahao)
- [ ] 3:30PM PDT Thursday, Lowell High School (Teagan)
- [ ] 11:30PM PDT Wednesday, Cherry Hill East (Bogdan)

Stretch:

- [ ] 4:00PM PDT Tuesday, USC Hybrid School (Gemma)
- [ ] 10:30PM PDT Tuesday, Glenaeon Rudolf Steiner School (Harrison)
- [ ] 12:30PM PDT Friday,

[2015-10-12 17:22] hellyeah opened #208 "Add meetings from this week to clubs.hackedu.us"
Also, clean up last week w/ Jonathan

[2015-10-12 18:05] MaxWofford opened #209 "Slack <> IRC connection"
This issue tracks moving @paked's IRC <> Slack tunnel onto our servers

[2015-10-12 18:06] jonleung opened #210 "Clean up Meetings sheet for the week of Oct 12 https://clubs.hackedu.us"
Make sure the meetings sheet:

- [ ] has cancelled meetings removed
- [ ] clubs that are meeting are added for this week

[2015-10-12 18:08] jonleung opened #211 "Record workshops being run by each Labs club in the week of October 12th in https://clubs.hackedu.us"

[2015-10-12 18:14] jonleung opened #212 "Check in with club leaders to get feedback on hackEDU as a whole and synthesize the notes into written form"
Questions I may ask include:

- What is not working well for you now?
- What is not working for the club right now?
- What is the relationship like between you and your co-leads?
- What has been going well?
- Tell me about the experience as being part of the hackEDU community?
- What is the least clear thing about the workshops?
- What's the most valuable thing about being part of hackEDU right no

[2015-10-12 18:20] MaxWofford commented on #206
@hellyeah If `PM every club leader` is the actionable for this issue, perhaps it would be worth it to rename the issue title?

[2015-10-12 23:43] zachlatta opened #213 "Transition Lowell from Jeremy to Teagan"
- [x] Get Jeremy in the cohort chat
- [x] All information about Lowell High updated in clubs spreadsheet with
  Jeremy instead of Teagan

[2015-10-12 23:58] zachlatta opened #214 "Plan meeting to talk about Slack, IRC, and how we're going to use them"

[2015-10-12 23:59] zachlatta opened #215 "Week of 10.12.15"
### Curriculum

- [x] Ship 4th workshop (@jonleung, hackedu/hackedu#299)
- [x] Clean up Meetings sheet in https://clubs.hackedu.us (@jonleung,
  hackedu/meta#210)
- [x] Check in with club leaders and add their planned curriculum for this week
  (10.12) to the Meetings sheet in https://clubs.hackedu.us (@jonleung,
  hackedu/meta#192)
- [x] Check in with club leaders and add their planned curriculum

[2015-10-13 00:05] zachlatta commented on #197
Closing because week is over. This week's issue is in #215.

[2015-10-13 00:05] #197 closed

[2015-10-13 00:07] #154 closed

[2015-10-13 00:27] zachlatta commented on #185
Done!

[2015-10-13 00:27] #185 closed

[2015-10-13 03:11] paked commented on #200
This is done. I am running a bot using [this dockerfile](https://github.com/caktux/slackbridge) on one of my Digital Ocean servers. It is going under the name `slackEDU` on IRC.

We are tracking the transfer of this bot from my server to hackEDU's server in #209.

[2015-10-13 03:11] #200 closed

[2015-10-13 03:43] paked commented on #209
When you want to initiate this process, give me a shout (probably in private on IRC) and I can send you the account details and `slack-irc` configuration file.

[2015-10-13 06:39] MaxWofford opened #217 "slack.hackedu.us redirect to hackedu.slack.com"
[This is another alternative](https://www.namecheap.com/domains/registration/results.aspx?domain=slackedu.us)

[2015-10-13 08:30] MaxWofford commented on #209
Currently blocking on getting convox api token. Waiting for response in https://convox-public.slack.com/messages/convox/

[2015-10-13 16:03] hellyeah commented on #164
Replaced by #207

[2015-10-13 16:03] #164 closed

[2015-10-13 16:20] hellyeah commented on #208
Added all meetings for this week. Cleaning up w/ @jonleung today at club sync.

[2015-10-13 16:20] #208 closed

[2015-10-13 18:58] MaxWofford commented on #209
We're live!

![screenshot from 2015-10-13 11 57 48](https://cloud.githubusercontent.com/assets/5891442/10465036/ac314ef2-71a1-11e5-8317-43fa101f6f27.png)

[2015-10-15 19:02] jonleung commented on #210
Thank you either @hellyeah or @zachlatta who did this task for me!

[2015-10-15 19:02] #210 closed

[2015-10-15 19:12] MaxWofford commented on #209
We're not live anymore :(

[2015-10-15 20:15] paked commented on #209
I can start up my `slackEDU` again whenever she is needed.

[2015-10-15 20:35] MaxWofford commented on #209
@paked That would be helpful! Thank you :)

[2015-10-15 20:43] paked commented on #209
@maxwofford. done. Ping me when you want me to take it down again.

On Fri, Oct 16, 2015 at 7:35 AM Max Wofford <notifications@github.com>
wrote:

[2015-10-16 03:44] jonleung commented on #192
Decided not to do this because it is no longer valuable considering the fact that we have this week's data.

[2015-10-16 15:18] jonleung commented on #211
I've gotten all but 3 of these completed.

[2015-10-16 15:24] jonleung commented on #157
Closing this issue because it has been completed.

[2015-10-16 15:25] #157 closed

[2015-10-16 18:54] zachlatta commented on #192
I think it's valuable to have historical data as well. I want to see what
the progression of curriculum plans for clubs is.

Going to reopen because it was committed to at the beginning of the week.

On Thu, Oct 15, 2015 at 8:44 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-10-16 18:55] zachlatta commented on #184
Done! Closed by #201.

[2015-10-16 18:55] #184 closed

[2015-10-17 21:06] jonleung commented on #211
I've gotten all but 1, I messaged them twice had no response. Considering this task completed.

[2015-10-17 21:06] #211 closed

[2015-10-17 21:08] jonleung commented on #192
@zachlatta agreed.

Done.

[2015-10-17 21:08] #192 closed

[2015-10-18 16:31] jonleung commented on #212
I had two calls so far with 6 different club leaders.

[2015-10-18 16:31] jonleung commented on #212
I'm leaving this issue open because I want to have more calls but checking it off in the weekly issue.

[2015-10-18 23:08] MaxWofford opened #219 "Changing 'what are you blocking on' to 'what could you use help and/or are blocking on'"
As discussed with @jonleung, there is not a trigger in stand-ups for people to ask for help if they need  it. Changing 'what are you blocking on' to 'what could you use help and/or are blocking on' could be a trigger for this. Thoughts?

I can take point on stand-ups on Tuesday to set the standard for this question being asked.

/cc @hackedu/core

EDIT: updated question

[2015-10-19 00:11] jonleung commented on #212
Done! I made a follow up issue here: hackedu/hackedu#364

[2015-10-19 15:37] jonleung commented on #177
I have messaged everyone about the Hacking EDU hackathon!

The next task is hackedu/hackedu#364

[2015-10-19 15:37] #177 closed

[2015-10-19 15:37] jonleung commented on #177
Accidently re-opened, closed it again.

[2015-10-19 18:12] MaxWofford opened #220 "wordwrapped checkboxes should indent to the slash"
This should be added to markdown guidelines
[code]

[2015-10-19 18:57] MaxWofford opened #221 "Collaborate with @Bogidon on workshop making guidelines"
This can be closed when an MVP of the guidelines is shipped

[2015-10-19 19:45] MaxWofford opened #222 "Move DNS to a GitHub repo"

[2015-10-19 20:53] zachlatta commented on #222
Yeah, I'm in. Let's do this.

[2015-10-19 21:03] MaxWofford commented on #222
![](http://quickme.me/justdoit.gif)

[2015-10-20 05:29] jonleung opened #223 "Add new rows for clubs meeting this week and remove cancelled meetings from https://clubs.hackedu.us"

[2015-10-20 05:30] jonleung opened #224 "Check in with club leaders and add their planned curriculum for this week (10.19) to the Meetings sheet in https://clubs.hackedu.us"

[2015-10-20 05:39] jonleung opened #225 "Zach reads Kanban Roadmap PDF"
@zachlatta, please read [this 26 page PDF](http://images.info.leankit.com/Web/LeanKitInc/%7B3128bbd1-0602-4459-8b2c-6efe02cdc1b9%7D_LeanKit-Kanban_Roadmap-2015.pdf) on how to do Kanban by the end of this sprint.

[2015-10-20 05:39] jonleung opened #226 "Max reads Kanban Roadmap PDF"
@MaxWofford, please read [this 26 page PDF](http://images.info.leankit.com/Web/LeanKitInc/%7B3128bbd1-0602-4459-8b2c-6efe02cdc1b9%7D_LeanKit-Kanban_Roadmap-2015.pdf) on how to do Kanban by the end of this sprint.

[2015-10-20 05:39] jonleung opened #227 "Dave reads Kanban Roadmap PDF"
@hellyeah, please read [this 26 page PDF](http://images.info.leankit.com/Web/LeanKitInc/%7B3128bbd1-0602-4459-8b2c-6efe02cdc1b9%7D_LeanKit-Kanban_Roadmap-2015.pdf) on how to do Kanban by the end of this sprint.

[2015-10-20 05:40] jonleung opened #228 "Make sure everyone reads the Kanban Roadmap"
- [x] Dave reads Kanban Roadmap PDF #227
- [x] Max reads Kanban Roadmap PDF #226
- [ ] Zach reads Kanban Roadmap PDF #225

Here is the link to [Kanban Roadmap](http://images.info.leankit.com/Web/LeanKitInc/%7B3128bbd1-0602-4459-8b2c-6efe02cdc1b9%7D_LeanKit-Kanban_Roadmap-2015.pdf).

[2015-10-20 15:57] hellyeah commented on #207
Failed at this. Only Lowell submitted again. Talking to club leaders about why the forms aren't working out for them. Heavily considering building twilio feedback app.

[2015-10-20 15:58] #206 closed

[2015-10-20 15:59] #213 closed

[2015-10-20 16:06] zachlatta commented on #219
I'm in!

[2015-10-20 16:09] MaxWofford commented on #219
This added to  our documentation.

[2015-10-20 16:09] #221 closed

[2015-10-20 16:25] hellyeah commented on #207
Tejas' club didn't have githubs so they did their own form: http://goo.gl/forms/2Hvt5Fs8ie

[2015-10-20 16:26] hellyeah commented on #207
Set reminder at a certain time to start filling out feedback.

[2015-10-20 16:26] hellyeah commented on #207
1-click text box sounds cool

[2015-10-20 16:43] hellyeah commented on #207
Going to keep this goal for this week.

[2015-10-20 16:44] #207 closed

[2015-10-20 16:47] zachlatta commented on #107
I think her role has clarified since, closing for now.

[2015-10-20 16:47] #107 closed

[2015-10-20 16:50] zachlatta opened #229 "Schedule semester planning session to Tuesday (10/20) and book room"

[2015-10-20 16:51] zachlatta opened #230 "Add leaders to the title of standup calendar events for the next few weeks"

[2015-10-20 16:53] zachlatta opened #231 "Submit follow-up Logan Foundation report"
The Logan Foundation has asked us to submit another grant proposal. This task tracks that.

[2015-10-20 16:58] zachlatta opened #232 "Week of 10.19.15"
### Curriculum

- [ ] ~~Ship MVP of "How to build workshops" (@MaxWofford, hackedu/meta#221)~~

### Community

- [x] Create script to quantify hackEDU Leaders group activity #258 (@hellyeah,
  hackedu/hackedu#258)
- [ ] Get at least 3 clubs submitting feedback to Packrat (@hellyeah,
  hackedu/hackedu#373)

### Technical

- [ ] Packrat authentication flow should be reworked (@MaxWofford,
  hackedu/

[2015-10-20 18:05] jonleung commented on #212
I accidently closed this issue, re-opening.

[2015-10-20 18:05] jonleung commented on #212
I have a call coming up to get moar feedback tomorrow!

[2015-10-20 18:07] jonleung commented on #215
Closing this issue because we have a new weekly issue now.

[2015-10-20 18:07] #215 closed

[2015-10-20 18:32] jonleung commented on #202
Closing this because it is being done here https://github.com/hackedu/hackedu/issues/364

[2015-10-20 18:32] #202 closed

[2015-10-20 18:33] zachlatta commented on #215
New weekly issue is in #232.

[2015-10-20 18:40] zachlatta commented on #221
Why won't we be fixing this?

[2015-10-20 18:47] jonleung commented on #219
@MaxWofford can you link to the pull request or the documentation? I was expecting to find it in hackedu/meta/README.md but it wasn't there.

The questions I think we should ask every standup are:

- What do we need to do to advance this piece of work?
- Is anyone working on anything that’s not on the board?
- What could you use help and/or are blocking on? Can we spot any impediments to the flow

[2015-10-20 20:24] paked commented on #221
Yeah, this is still being worked on AFAIK

[2015-10-20 21:08] zachlatta commented on #209
Booyah.

She's deployed.

https://github.com/hackedu/slackedu

[2015-10-20 21:08] #209 closed

[2015-10-20 21:33] jonleung opened #234 "The #hackedu channel in Slack is confusing for club leaders"
Numerous club leaders have asked me what the `#hackedu` channels is in Slack. I think it would be beneficial to:

1. Rename the channel to something clearer like `#irc-bridge` or something
2. Write a clear description of what the channel is

@zachlatta, would you be interested in taking this task?

/cc @zachlatta @hellyeah @MaxWofford @amysorto

[2015-10-20 21:35] MaxWofford commented on #234
Can we remove the general channel, or connect the irc-bridge to the general channel?

[2015-10-20 21:44] MaxWofford commented on #221
@zachlatta @paked This was discussed at the morning meeting.  Waiting for a response from @jonleung on IRC so I can elaborate on this.

[2015-10-20 22:58] paked commented on #209
:+1:

[2015-10-20 22:59] paked commented on #234
@MaxWofford Moving the IRC bridge to the general channel would work. My only concern is that people introducing themselves would be noticed less.

[2015-10-20 23:20] jonleung commented on #223
Done.

[2015-10-20 23:20] #223 closed

[2015-10-20 23:21] jonleung commented on #224
In progress, waiting for responses from 5 club leaders!

[2015-10-20 23:23] jonleung commented on #232
@zachlatta I removed

      making the sheet private might remove access for important people_

[2015-10-20 23:43] zachlatta commented on #229
I decided to schedule this for next Tuesday because @MaxWofford is traveling this week and doing it today wouldn't give the whole team adequate time to prepare. Calendar invites sent.

[2015-10-20 23:43] #229 closed

[2015-10-20 23:51] zachlatta commented on #230
Did this for all of the standup events until 11/06.

[2015-10-20 23:51] #230 closed

[2015-10-20 23:59] jonleung commented on #232
^ @zachlatta, oops I didn't mean to do the above, I added it back in.

[2015-10-21 00:19] paked opened #235 "Add voting system to Slack"
I think it'd be really great to have a voting system in the hackEDU Slack. [This one](https://github.com/azharb/SlackVote) looks pretty good.

[2015-10-21 01:11] jonleung opened #236 "Ask Soylent for in kind donation"
@hellyeah, [here is a template](https://gist.github.com/jonleung/f941aae9423c1f573632) that I used in the past (with Soylent filled in).

[2015-10-21 01:41] zachlatta opened #237 "Onboard all hackEDU leaders onto Slack"
_From @jonleung on October 21, 2015 1:7_

**Especially**

- [ ] Cohort 2 Leaders
  - [ ] Add them to the `#cohort-2`
- [ ] Make sure everyone has accepted their slack invite (see https://hackedu.slack.com/admin/invites)
- [ ] Anyone else you think we should add

**Mobile App**
- [ ] Make sure everyone has
  - [ ] Downloaded the mobile app
  - [ ] Has enabled push notifications

@hellyeah @zachlatt

[2015-10-21 01:42] zachlatta commented on #237
Do we want to add cohort 2 leaders now @hellyeah? I know we also have hackedu/hackedu#313 created.

[2015-10-21 16:04] hellyeah commented on #212
4 calls so far. 2 more today.

[2015-10-22 19:58] zachlatta commented on #203
Done! The sheet now automatically makes every other week grey.

I'm sure we'll have plenty to do on Packrat in the future @paked :-)

[2015-10-22 19:58] #203 closed

[2015-10-23 00:04] jonleung commented on #226
@MaxWofford, hey! I was wondering when you will be able to finish reading this? (My task is to make sure everyone reads this by the end of the week #228)

[2015-10-23 00:31] MaxWofford commented on #226
@jonleung I'll make sure to finish it by the end of the week.

[2015-10-23 00:59] #226 closed

[2015-10-23 15:19] jonleung commented on #226
Hi @MaxWofford I am wondering why you closed this issue? Did you complete it? I want this issue to be open if it is not read yet and closed if it has been read.

[2015-10-23 16:14] hellyeah commented on #227
Will read on Caltrain to hackingEDU

[2015-10-23 16:14] hellyeah commented on #236
I emailed Soylent about hackingEDU earlier this week.

[2015-10-23 16:19] hellyeah commented on #237
Yes. Adding cohort 2 leaders today.

[2015-10-23 16:19] hellyeah commented on #236
Going to email them again on Monday about hackEDU specifically.

[2015-10-23 18:42] MaxWofford commented on #226
I've read the pdf

[2015-10-23 22:25] zachlatta opened #238 "Move all meeting notes to hackedu/meta"
We have some meeting notes in `hackedu/hackedu`. Move everything to `hackedu/meta:meetings`.

[2015-10-24 03:02] MaxWofford commented on #238
:+1: This is bueno

[2015-10-25 18:30] jonleung commented on #224
I have updated this from 9/12 clubs. Still waiting for responses 3 from club leaders. Closing because I don't think it's worth it for me to press them about curriculum.

[2015-10-25 18:30] #224 closed

[2015-10-26 16:12] jonleung commented on #219
@zachlatta to clarify I meant to add the questions to all of the standup **calendar** events.

Also any updates @MaxWofford?

[2015-10-26 16:19] zachlatta commented on #152
Cool, let's plan on doing this.

[2015-10-26 16:23] hellyeah commented on #132
This would be cool, but is relatively unimportant, so I'm closing it for now.

[2015-10-26 16:23] #132 closed

[2015-10-26 16:26] hellyeah commented on #106
I can push for this again. How high priority is it?

[2015-10-26 16:26] hellyeah commented on #194
Duplicate of hackedu/hackedu#303

[2015-10-26 16:26] #194 closed

[2015-10-26 16:27] #196 closed

[2015-10-26 16:27] hellyeah commented on #204
Done.

[2015-10-26 16:27] #204 closed

[2015-10-26 17:37] hellyeah commented on #133
Add welcome functionality to Steward and think of a better name for Steward in general. I'm closing this issue so that we communicate on https://github.com/hackedu/hackedu/issues/312

[2015-10-26 17:37] #133 closed

[2015-10-26 17:41] hellyeah commented on #236
Talking to them at 1pm today.

[2015-10-26 17:59] jonleung opened #241 "Clean up cancelled club meetings in meetings sheet and create new rows in http://clubs.hackedu.us"

[2015-10-26 18:00] jonleung opened #242 "Check in with club leaders and add their planned curriculum to http://clubs.hackedu.us for this week"

[2015-10-26 18:28] jonleung opened #243 "Knight Foundation Application"
/cc @zachlatta

[2015-10-26 18:57] zachlatta opened #244 "Each member of team takes three clubs and works with them to get attendance, feedback, and case studies for this week"
This week we've decided to divide the 12 Labs clubs among the 4 of us, giving each of us 3 clubs to work with. Each of us will be responsible for working with our clubs to get attendance, feedback, and case studies for their meetings this week.

What must be gathered from each club for it to be considered successful for the week:

- Attendance (with names, emails, and phone numbers) of all attende

[2015-10-26 18:58] zachlatta opened #245 "@jonleung's clubs for the week"
See #244 for full details.

Check off each club once the requirements in #244 are met. These are @jonleung's
clubs:

- [ ] ~~Ravenwood High School~~ _(their club meeting was also cancelled this week because Tejas is away)_
- [ ] ~~Cherry Hill High School East~~ (their club is not meeting this week because they are on break / prepping for CHE hacks)
- [ ] USC Hybrid High School _(I committed to rem

[2015-10-26 18:59] zachlatta opened #246 "@zachlatta's clubs for the week"
See #244 for full details.

Check off each club once the requirements in #244 are met. These are
@zachlatta's clubs:

- [ ] Glenaeon Rudolf Steiner School (Tuesday, 10:30PM)

[2015-10-26 19:01] zachlatta opened #247 "@hellyeah's clubs for the week"
See #244 for full details.

Check off each club once the requirements in #244 are met. These are
@hellyeah's clubs:

- [x] Elizabeth High School
- [x] Project Cipher
- [ ] Columbia Secondary School
- [ ] College Park High School

[2015-10-26 19:02] zachlatta opened #248 "@MaxWofford's clubs for the week"
See #244 for full details.

Check off each club once the requirements in #244 are met. These are
@MaxWofford's clubs:

- [x] San Leandro High School
  - [x] Feedback
  - [x] Planning
  - [x] Recap
- [ ] Armijo High School
  - [x] Feedback
  - [ ] Planning
  - [ ] Recap
- [ ] South Brunswick High School
  - [ ] Feedback
  - [x] Planning
  - [x] Recap
- [ ] ~~Glenaeon Rudolf Steiner School (Tuesday,

[2015-10-26 19:05] zachlatta opened #249 "Switch to having team members use forks"
Have team members use forks instead of the upstream repo by default to address hackedu/hackedu#230.

Make sure all team members make this change:

- [x] @hellyeah
- [x] @jonleung
- [x] @MaxWofford
- [x] @zachlatta

Closes #230.

[2015-10-26 19:06] zachlatta opened #250 "Week of 10.26.15"
### Community

- [x] Each member of the team takes three clubs and works with them to get
  attendance, feedback, and, case studies for this week and next (@zachlatta,
  hackedu/meta#244)
- [ ] Get every cohort 2 labs leader to message Slack (@hellyeah,
  hackedu/hackedu#419)

### Curriculum

- [ ] Create workshop (@jonleung, hackedu/hackedu#339)
- [ ] Backlog
  - [ ] Prototype curriculum / genera

[2015-10-26 19:08] zachlatta commented on #232
Closing because week is over. This week's issue is in #250.

[2015-10-26 19:08] #232 closed

[2015-10-26 20:08] MaxWofford commented on #248
@zachlatta

[2015-10-26 20:21] zachlatta commented on #248
Whoops, these are actually your clubs. My issue is the one that's incorrect.

[2015-10-26 20:22] zachlatta commented on #248
I take that back. They were both correct.

[2015-10-26 20:47] jonleung commented on #212
I talked with @zachlatta and I decided that this is not a high leverage task right now and opting for actually "doing things". I'm still going to continue looking through it myself but will be closing this issue.

[2015-10-26 20:47] #212 closed

[2015-10-27 01:19] hellyeah commented on #247
Raw notes from call w/ Jevin

Hosted first formal workshop meeting yesterday

Did a custom-version of jon’s portfolio workshops
—added a bit more stuff to it for more depth
—sound, background image, space for projects
http://nguyenbrian.github.io/john-cenas-personal-website/
http://qureshiomar.github.io/snoopdoggs-website/

Did it in pairs
—worked really well with this one
—bounced questions off
—

[2015-10-27 04:13] gemmabusoni commented on #245
@zachlatta We are meeting tomorrow.

[2015-10-27 13:03] zachlatta commented on #199
Was this done?

[2015-10-27 16:22] hellyeah commented on #117
Might be good to pass this by club leaders.

[2015-10-27 16:28] hellyeah commented on #117
Set aside time to do this on Thursday. May pair with @zachlatta while he does https://github.com/hackedu/hack-camp/issues/529 if he hasn't completed the task by then. Will also ping club leaders to check it out and submit comments/PRs.

[2015-10-27 22:43] jonleung commented on #245
Hey Gemma! Here is your reminder you requested to take attendance at 4:10pm in this spreadsheet: bit.ly/gemmarocks

I've sent you this message on FB Messenger as well.

<3 hackEDU

---

Hey Gemma! Here is your reminder you requested to collect feedback at 4:50pm!

Here is the link for members
https://labs.hackedu.us

You can tell them to only answer the below questions and skip everything else if

[2015-10-27 22:43] jonleung commented on #245
@gemmabusoni oops I crossed off the wrong school. I meant Cherry Hill. Thanks!

[2015-10-27 23:15] hellyeah commented on #247
Amy had her meeting -- it went well.

Going to ask if she can hop on a call tomorrow after school to recap it with me.

Still waiting on a response from Abby. Might try email tomorrow.

[2015-10-28 15:30] jonleung commented on #241
Done

[2015-10-28 15:30] #241 closed

[2015-10-28 15:30] jonleung commented on #243
I still need to submit a pull request for my application

[2015-10-28 18:20] hellyeah commented on #246
@zachlatta, feel better. We got you.

Moving
Lowell High School (Thursday, 3:30PM) to Jon: #245
Glenaeon Rudolf Steiner School (Tuesday, 10:30PM) to Max: #248
College Park High School (Thursday, 2:50PM) to Dave #247

[2015-10-28 18:22] zachlatta commented on #248
I'm gonna steal Glenaeon Rudolf Steiner School back, since I've already been talking with him about this.

[2015-10-28 18:23] zachlatta commented on #246
Thank you @hellyeah!

[2015-10-28 18:23] zachlatta commented on #246
(and everyone else on the team :heart:)

[2015-10-28 21:20] jonleung commented on #106
@hellyeah this is low priority

[2015-10-28 21:22] jonleung commented on #234
I think moving the irc-bridge to the general channel would be cool to try. I think it will will make irc#hackedu less 2nd class.

Thoughts @hellyeah @zachlatta?

[2015-10-28 21:31] hellyeah commented on #234
We have to make a design decision whether the IRC or slack is a first-class citizen right?

Additionally, do we want all the bots posting?

[2015-10-28 21:35] paked commented on #234
@hellyeah which bots do you mean?

[2015-10-28 23:10] MaxWofford opened #254 "Update documentation on ZenHub columns"

[2015-10-28 23:16] MaxWofford commented on #219
Because the other questions from  standup are not documented, I'll opt to close this issue.

[2015-10-28 23:16] #219 closed

[2015-10-29 00:12] MaxWofford opened #255 "Delete gh-pages branch"
@hackedu/core Is there a reason we need a `gh-pages` branch for hackedu/meta?

[2015-10-29 04:43] jonleung commented on #255
I may want to experiment with a gh-pages branch this very shortly.

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Wed, Oct 28, 2015 at 5:12 PM, Max Wofford <notifications@github.com>
wrote:

[2015-10-29 06:16] MaxWofford commented on #255
@jonleung What will you be putting on it? Right now it is out of date by 191 commits, and has no content that can be hosted on gh pages (everything is in markdown).

[2015-10-29 16:57] hellyeah commented on #227
Read.

[2015-10-29 16:57] #227 closed

[2015-10-29 17:02] jonleung commented on #255
I will be using it later. Feel free to delete this branch and I can
re-create it when I need it.

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Wed, Oct 28, 2015 at 11:16 PM, Max Wofford <notifications@github.com>
wrote:

[2015-10-29 17:02] jonleung commented on #227
@hellyeah can you post your largest takeaways here?

[2015-10-29 17:06] jonleung commented on #227
im reading this http://images.info.leankit.com/Web/LeanKitInc/%7B3128bbd1-0602-4459-8b2c-6efe02cdc1b9%7D_LeanKit-Kanban_Roadmap-2015.pdf and thought the most interesting part thus far has been about “pulling” work rather than “pushing” work through different steps of the process

hellyeah [9:43 AM]
cc @jonl @zrl @maxw

hellyeah [9:43 AM]
i like this too: "What to do when you run up against the WIP

[2015-10-29 19:25] #255 closed

[2015-10-30 00:52] hellyeah commented on #250
@zachlatta moved Code of Conduct to next week. Will require way more reading than I allocated time for.

[2015-10-30 17:03] #152 closed

[2015-10-30 17:24] jonleung opened #258 "[Discussion]: Co-working from Galvanize on Fridays?"
Do we want to co-work from Galvanize on Fridays?

If so, is there a certain time that we all want to be there by?

\cc @hellyeah @MaxWofford @zachlatta

[2015-10-31 14:34] MaxWofford opened #260 "One Month Rails inkind donation of accounts"

[2015-11-01 03:31] MaxWofford commented on #248
As discussed with @jonleung, I'll be contacting @gemmabusoni about submitting her case study

[2015-11-01 17:13] jonleung opened #261 "Schedule Fun Team Activity"
SInce we are biasing to schedule all meetings / one-on-ones and possibly calls on Wednesday, what if we moved our team activity to wednesday night?

I propose evening because

1. It's after work so we would feel more relaxed
2. More "fun stuff" is open then

I propose 6:30pm because if people want to do things at night, this still gives people ample room to do that.

I think it would be fun to cha

[2015-11-02 02:31] jonleung commented on #258
Ping @hellyeah @MaxWofford @zachlatta

[2015-11-02 07:34] MaxWofford commented on #258
I don't personally think synchronous work activities will do much for team-building.

[2015-11-02 14:49] jonleung commented on #228
I am closing this issue because it has taken too much time to complete this. I will let @zachlatta take initiative on reading it himself.

[2015-11-02 14:49] #228 closed

[2015-11-02 14:51] jonleung commented on #245
@MaxWofford said that he would be able to take over the work associated with @gemmabusoni's club for me (namely the work of obtaining a case study).

[2015-11-02 14:51] #245 closed

[2015-11-02 14:54] #242 closed

[2015-11-02 14:59] jonleung commented on #246
Closing because the work here has been migrated to various other issues (see [this comment](https://github.com/hackedu/meta/issues/246#issuecomment-151940372))

[2015-11-02 14:59] #246 closed

[2015-11-02 15:51] MaxWofford commented on #245
@jonleung https://github.com/hackedu/meta/issues/248#issuecomment-152791470

[2015-11-02 17:28] hellyeah commented on #247
Did not complete this issue.

Abby responded. I will jump on a call with her this week.

Texted Vene and emailed Vene/Ilisha. No response.

[2015-11-02 17:52] #231 closed

[2015-11-02 20:25] hellyeah commented on #247
Amy: https://github.com/hackedu/hackedu/pull/446
Jevin: https://github.com/hackedu/hackedu/pull/445

[2015-11-02 20:25] #247 closed

[2015-11-02 20:45] MaxWofford commented on #248
Closing this because the week ended.

[2015-11-02 20:45] #248 closed

[2015-11-02 20:45] MaxWofford commented on #244
Closing this because the week ended

[2015-11-02 20:45] #244 closed

[2015-11-02 20:59] jonleung commented on #258
@hellyeah @zachlatta?

[2015-11-02 21:05] jonleung opened #262 "Find out what club leaders planned curriculum is and document it in https://clubs.hackedu.us in the Meetings sheet"
- [ ] ~~USC Hybrid High School~~ _Not meeting_
- [ ] Cherry Hill High School East
- [ ] ~~San Leandro High School~~ _Not meeting_
- [ ] Lowell High School
- [ ] Ravenwood High School
- [ ] Project Cipher
- [ ] College Park High School
- [ ] ~~South Brunswick High School~~ _Not meeting_
- [ ] ~~Columbia Secondary School~~ _Unable to contact_
- [ ] Glenaeon Rudolf Steiner School
- [ ] Elizabeth High

[2015-11-02 21:07] jonleung commented on #214
@zachlatta I'm closing this issue because it seems very out of date.

[2015-11-02 21:07] #214 closed

[2015-11-02 21:11] zachlatta opened #263 "Schedule 4 paired calls with 8 club leaders"
@jonleung made tentative pairs here: https://docs.google.com/spreadsheets/d/1Mb-8WBjiZUOYgWqNJxaigCWZvZqnIHZ2ZhokVNCbJ4g/edit#gid=1880595778

- [ ] Jeremy <> Jiahao (Tuesday)
- [ ] Amy <> Jevin
- [ ] Tejas <> Samuel

[2015-11-02 21:11] zachlatta commented on #263
_From @hellyeah on October 29, 2015 20:42_

Form for post-pairing call

[2015-11-02 21:11] zachlatta commented on #263
_From @hellyeah on November 2, 2015 20:29_

We need to effectively track which leaders we've paired so we don't pair them too often.

[2015-11-02 21:12] zachlatta opened #264 "Grow slack messages by 10%"
_From @hellyeah on November 2, 2015 20:30_

@zachlatta we should discuss later today or tomorrow the exact query we want to do for stats. We should likely keep it simple to start. Maybe it doesn't even make sense to subtract out ourselves to start.

_Copied from original issue: hackedu/hackedu#447_

[2015-11-02 21:12] zachlatta opened #265 "Get attendance number from 6 labs clubs"
_From @hellyeah on November 2, 2015 20:32_

- [x] Armijo High School (15)
- [ ] Cherry Hill High School
- [x] Project Cipher (9)
- [x] Lowell High School (15)
- [x] Ravenwood High School (9)
- [x] Elizabeth High School (22)

_Copied from original issue: hackedu/hackedu#448_

[2015-11-02 21:33] MaxWofford opened #266 "aggregate attendance data"
Put together system to aggregate attendance data and put the data from last week into it

[2015-11-02 21:52] MaxWofford opened #268 "@MaxWofford Get attendance number from 6 labs clubs"
_From @MaxWofford on November 2, 2015 20:57_

- [ ] ~~USC Hybrid High School @gemmabusoni~~ _Too many college apps, not meeting_
- [ ] ~~San Leandro High School @xeonjake~~ _Going on a field trip, not meeting_
- [ ] College Park High School @venethefifth _Waiting for response_
- [ ] ~~South Brunswick High School @sneharamapo~~ _Not meeting this week_
- [x] Columbia Secondary School @AbigailMed (8)

[2015-11-02 22:19] zachlatta opened #269 "Move retrospective and kudos sessions to Wednesday"

[2015-11-02 22:24] zachlatta commented on #266
Note: this system should account for both the total attendee count of each club's meeting, but also each of the attendee's names and associated data (like their emails).

[2015-11-02 22:26] zachlatta opened #270 "Week of 11.02.15"
### Community

- [ ] 4 paired calls with 8 club leaders (@hellyeah, hackedu/meta#263)
- [x] Grow number of messages sent by non-core Slack members by 10% by next
  Monday (@hellyeah, hackedu/meta#264)

### Metrics

- [ ] Get attendance count from all Labs clubs (@MaxWofford)
  - [ ] @hellyeah (hackedu/meta#265)
    - [ ] Armijo High School
    - [ ] Cherry Hill High School
    - [ ] Project Cipher

[2015-11-02 22:27] zachlatta commented on #250
Next week's issue is in #270. Closing this since the week is over.

[2015-11-02 22:27] #250 closed

[2015-11-03 04:13] zachlatta commented on #243
Closed by #272.

[2015-11-03 04:13] #243 closed

[2015-11-03 05:26] jonleung opened #273 "Echoing Green Application"
Due November 17th at 2pm ET

See http://www.echoinggreen.org/fellowship/apply

[2015-11-03 17:07] hellyeah commented on #264
Zach is sending me daily PDFs ~midnight. I'm recording data in clubs.hackedu.us

[2015-11-03 23:21] hellyeah opened #275 "Create private #labs and #leaders channels"
* [x] #labs
* [ ] #leaders

[2015-11-04 15:31] #269 closed

[2015-11-04 17:09] MaxWofford commented on #262
Get well soon @jonleung

[2015-11-04 19:11] MaxWofford commented on #266
@hellyeah Shipped at https://docs.google.com/spreadsheets/d/1iUWZxO6soZcoI3VVmSLSCFsl-3q76lfRMyvB5A7wQGE

[2015-11-04 19:11] #266 closed

[2015-11-04 20:07] zachlatta opened #278 "Set up Steward on Slack"
_From @hellyeah on October 6, 2015 21:58_

_Copied from original issue: hackedu/hackedu#312_

[2015-11-04 20:07] zachlatta commented on #278
_From @hellyeah on October 26, 2015 17:38_

Think of a cuter, warmer name for Steward.

Make Steward welcome everyone who joins the Slack.

[2015-11-04 20:07] zachlatta commented on #278
What if we just called Steward "Hubot"?

/cc @MaxWofford

[2015-11-04 20:07] zachlatta commented on #278
_From @MaxWofford on November 4, 2015 19:23_

What if we called it `yo`. It's quick to type, and won't seem like a human.

[2015-11-04 20:07] zachlatta commented on #278
I don't think there'll be too much confusion as to whether it's a human because Slack has a `bot` tag it puts next to its username and its profile picture is a robot.

Is your biggest complaint about calling it Hubot the length of the name?

[2015-11-04 20:07] zachlatta commented on #278
_From @MaxWofford on November 4, 2015 19:25_

Also, nothing would be more amazing than this:
[code]
 ![](https://media.giphy.com/media/w7Y4xlQZG7qGA/giphy.gif)

[2015-11-04 20:07] zachlatta commented on #278
_From @MaxWofford on November 4, 2015 19:25_

@zachlatta Mostly name length.
EDIT: What about `bot`

[2015-11-04 20:07] zachlatta commented on #278
What about autocompletion? You should be able to type `hu<tab>` and have it autocomplete.

[2015-11-04 20:07] zachlatta commented on #278
_From @MaxWofford on November 4, 2015 19:35_

@zachlatta I guess so.

[2015-11-04 20:07] zachlatta commented on #278
Going to go ahead with Hubot for now. Also, @hellyeah, @ssun098 was saying that she didn't like how there was a bot that welcomed people and asked them to introduce themselves in the #hackers Slack.

[2015-11-04 20:12] ssun098 commented on #278
@hellyeah @zachlatta yeah, I feel like going for a more personal touch would be advantageous.  Having club leaders/club members/internal team welcome people would feel significantly better for both parties.

[2015-11-04 22:49] #278 closed

[2015-11-05 01:40] MaxWofford opened #279 "Shift from collecting feedback to collecting attendance"
@zachlatta Would you please explain the reasoning behind this?

[2015-11-05 01:42] MaxWofford commented on #270
@zachlatta I motion that @jonleung's first issue is to get well.

[2015-11-05 17:35] jonleung opened #282 "I asked if Sam's club wanted to join Labs, they said yes!"
@zachlatta suggested a while back that it would be great to have @saescapa join labs. I agreed and I asked @saescapa if he was interested. He just got back to me saying that he was interested.

Next, I think we

1) Add @saescapa to the #Labs on Slack
2) Ask @saescapa to make an introduction
2) Add @saescapa to the Spreadsheet

Anything else that we need to do?

/cc @zachlatta @MaxWofford @hellyeah

[2015-11-05 17:37] MaxWofford commented on #282
We might want to rephrase the task.

[2015-11-05 22:20] MaxWofford opened #283 "attendance.hackedu.us"
new subdomain that routes to `https://docs.google.com/spreadsheets/d/1iUWZxO6soZcoI3VVmSLSCFsl-3q76lfRMyvB5A7wQGE`

[2015-11-05 23:10] MaxWofford commented on #138
Closing this because we moved to slack

[2015-11-05 23:10] #138 closed

[2015-11-05 23:12] MaxWofford commented on #105
Closing this issue for the time being. @gemmabusoni If this opportunity is still open feel free to  reopen it

[2015-11-05 23:12] #105 closed

[2015-11-05 23:17] MaxWofford commented on #238
Closed by hackedu/hackedu#470 and #281

[2015-11-06 19:13] MaxWofford commented on #93
@zachlatta Are these (archived) in the dropbox? If so, I think we can close this issue.

[2015-11-06 19:13] #93 closed

[2015-11-06 23:32] zachlatta commented on #282
Err, I hate to have this discussion in public, but did we as a team agree to do this?

[2015-11-06 23:33] zachlatta commented on #275
Status on this?

[2015-11-09 21:26] hellyeah commented on #263
Did not end up completing this objective. Doing it this week.

[2015-11-09 21:27] hellyeah commented on #265
Did not complete this task. Just messaged all the leaders.

[2015-11-09 22:48] hellyeah opened #285 "Grow slack messages by 10%"
9648 total messages last week

6475 non-staff messages last week

[2015-11-10 06:36] jonleung opened #287 "Collect Attendance and Curriculum Plans"
## Tuesday Morning

@maxwofford will take lead on sending [this note](https://gist.github.com/MaxWofford/b617a6d2953b176dfb59) through the following
channels and make sure they record their curriculum for this week ASAP.

First email people, then ping on slack and (fb) messager to ask if they have any questions.

The status of this per club leader should be visible for the team.

## Tuesday Night

[2015-11-10 06:39] paked commented on #287
@jonleung You've mixed up Leila's club with mine. (I'm GRSS, not quite sure what she is)

[2015-11-10 06:40] paked commented on #287
And CHE is on their twice. But that may be because of their dual meeting scheme...

[2015-11-10 07:07] jonleung commented on #287
@paked thanks for the feedbacks! Fixed and still a work in progress!

[2015-11-10 17:06] #238 closed

[2015-11-10 17:35] hellyeah commented on #287
I think it would be coolest if we got them to share their attendance number in slack.

[2015-11-10 21:14] jonleung commented on #287
@hellyeah I think I want to keep this as simple as possible to see if _this_ even works. If it turns out that it does, then maybe we can try Slack next week?

[2015-11-10 21:18] hellyeah commented on #287
Makes sense. My only other question was why email first vs slack but @maxwofford answered on Slack.

Can't wait to see how this plan works. It seems solid.

[2015-11-10 21:38] hellyeah commented on #264
Non-staff weekly messages (Mon-Mon):
3,020	3307	4362	4400	5402	0	6475	7510

[2015-11-10 21:38] #264 closed

[2015-11-10 21:40] paked commented on #264
:+1: LETS KEEP THIS GOING

[2015-11-11 07:43] MaxWofford opened #288 "Message labs leaders about new weekly checking method"
This issue can be completed once the following is complete:

1. [x] https://gist.github.com/MaxWofford/b617a6d2953b176dfb59 is sent out to each of the labs leaders.
2. [ ] ~~Confirmations are received from each of the labs leaders.~~

[2015-11-11 07:51] MaxWofford opened #289 "Ping labs directors on Saturday and Sunday about curriculum and attendance"
This can be closed when each of the labs directors who haven't filled out their club data on the day their club meets is sent a text message.

We have data from:
- USC Hybrid High School

Any clubs we don't get a response from after texting, feel free to call.

[2015-11-11 08:00] MaxWofford opened #290 "Create reminder to ping clubs each day about attendance and curriculum data"
This issue can be closed once a daily trigger is set up for reaching out to clubs at 6pm.

[2015-11-11 08:08] MaxWofford commented on #287
@jonleung is still sick, so I'll be annexing this issue

![](https://media.giphy.com/media/DuG8cjSqv3chq/giphy.gif)

It will now be broken up into its individual tasks:

https://github.com/hackedu/meta/issues/288
https://github.com/hackedu/meta/issues/289
https://github.com/hackedu/meta/issues/290

[2015-11-11 08:08] #287 closed

[2015-11-11 17:10] jonleung commented on #288
@MaxWofford could you make it so that it's easy to tell which club leaders have agreed to doing this and which ones haven't yet?

[2015-11-11 17:14] jonleung commented on #289
@MaxWofford this issue's description doesn't seem to account for pinging club leaders who haven't filled out what they are planning to do in next week's club meeting by Saturday?

[2015-11-11 17:18] jonleung commented on #290
@MaxWofford what about the clubs that have already happened yesterday and monday?

[2015-11-11 17:44] MaxWofford commented on #268
Assigning to @hellyeah so he can get attendance from @AbigailMed

[2015-11-11 17:47] MaxWofford commented on #290
@jonleung I've messaged clubs that have already met for the week.

[2015-11-11 18:42] MaxWofford commented on #288
Resolved this with @jonleung in person.

[2015-11-11 18:55] MaxWofford commented on #289
Resolved with @jonleung in person.

[2015-11-11 18:57] MaxWofford opened #292 "Reach out to labs leaders on Friday about curriculum for next week"

[2015-11-11 23:04] zachlatta opened #293 "Week of 11.09.15"
This week we're keeping our list of commitments short and are going to do everything we can to fully follow through on them.

- [ ] Attendance from every single club (~~@jonleung~~@MaxWofford)
 - [ ] #288 (@MaxWofford)
 - [ ] #289 (@MaxWofford)
 - [ ] #290 (@MaxWofford)
- [ ] Make sure every club has curriculum (@jonleung)
- [ ] 10% Slack growth (@hellyeah)

Thanks @MaxWofford for writing out the

[2015-11-12 17:03] jonleung commented on #270
Assigning this issue to you @zachlatta because I know that you said you needed to do some work on this before we can close it.

[2015-11-12 17:03] hellyeah commented on #268
Contacted on Messenger. 8 people.

[2015-11-12 17:05] zachlatta commented on #225
Done! So sorry for how long this has taken.

[2015-11-12 17:05] #225 closed

[2015-11-12 17:06] zachlatta commented on #249
And we're good!

[2015-11-12 17:06] #249 closed

[2015-11-12 17:07] zachlatta commented on #270
Closing because the week is over. Next week's issue is in #293.

[2015-11-12 17:07] #270 closed

[2015-11-12 17:13] jonleung opened #294 "Ping clubs wed and before who did not submit curriculum / attendance"
\cc @MaxWofford

[2015-11-13 17:08] #290 closed

[2015-11-13 17:09] MaxWofford commented on #290
This isn't relevant anymore

[2015-11-13 17:09] MaxWofford commented on #288
I've removed the second requirement from the issue

[2015-11-13 17:09] #288 closed

[2015-11-16 08:23] zachlatta opened #296 "Tool to quantify activity in Slack"
_From @hellyeah on October 26, 2015 17:44_

_Copied from original issue: hackedu/hackedu#420_

[2015-11-16 08:23] zachlatta commented on #296
_From @jonleung on October 28, 2015 21:45_

@hellyeah I believe you did this already?

[2015-11-16 08:24] zachlatta opened #297 "Club Leader Pairing"
_From @hellyeah on September 28, 2015 16:40_

_Copied from original issue: hackedu/hackedu#272_

[2015-11-16 08:24] zachlatta commented on #297
As discussed, @gemmabusoni will be reaching out to @Bogidon to pair on `planning.md` and `recap.md`.

[2015-11-16 08:24] zachlatta commented on #297
_From @gemmabusoni on September 30, 2015 5:35_

@jonleung mentioned that Bogdan is rather swamped this week. Haven't received feedback as to who I should potentially be partnering with instead.

[2015-11-16 08:24] zachlatta commented on #297
_From @hellyeah on October 7, 2015 16:4_

Gemma and Jeremy (Lowell)

[2015-11-16 08:24] zachlatta commented on #297
_From @gemmabusoni on October 9, 2015 16:15_

Call with Jeremy scheduled for 3pm Saturday. I'll be taking it from CalHacks, in case anyone else wanted to be involved.

[2015-11-16 08:24] zachlatta commented on #297
_From @hellyeah on October 21, 2015 16:8_

@gemmabusoni how's this going?

[2015-11-16 08:24] zachlatta commented on #297
_From @gemmabusoni on October 25, 2015 6:16_

@hellyeah Call was done on said day; he submitted to GitHub as well.

[2015-11-16 08:24] zachlatta commented on #297
_From @MaxWofford on October 25, 2015 12:54_

@gemmabusoni Would you please link that here?

[2015-11-16 08:25] zachlatta opened #298 "Encourage club leaders to add their club members to the public Facebook Group"
_From @hellyeah on August 27, 2015 22:15_

We should give them copy that emphasizes our values from before their members even enter the Facebook Group.

This blocks on #109

_Copied from original issue: hackedu/hackedu#110_

[2015-11-16 08:25] zachlatta commented on #298
@jonleung perhaps this may be a good opportunity to start clarifying our
organizational values as well?

On Thu, Aug 27, 2015 at 3:15 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-11-16 08:25] zachlatta commented on #298
_From @jonleung on August 28, 2015 16:41_

@zachlatta, I agree. Any specific actionable steps that you think we can take on this @zachlatta?

[2015-11-16 08:25] zachlatta commented on #298
Should we still plan on doing this?

[2015-11-16 08:25] zachlatta commented on #298
_From @paked on October 26, 2015 19:54_

Do we even have a public facebook group?

On Tue, Oct 27, 2015 at 3:18 AM Zach Latta <notifications@github.com> wrote:

[2015-11-16 08:25] zachlatta commented on #298
_From @jonleung on October 28, 2015 21:26_

@paked we want to create one.

[2015-11-16 08:25] zachlatta opened #299 "Add all Labs Leaders to Medium publication"
_From @hellyeah on September 17, 2015 17:9_

_Copied from original issue: hackedu/hackedu#220_

[2015-11-16 08:25] zachlatta commented on #299
_From @hellyeah on September 17, 2015 20:22_

Added a Medium column to http://clubs.hackedu.us

[2015-11-16 08:25] zachlatta commented on #299
Can you make sure to include an owner and expiration date, per the README
@hellyeah?

On Thu, Sep 17, 2015 at 1:22 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-11-16 08:25] zachlatta opened #300 "Do we want to set the precedent that every Lab Director will respond to GitHub mentions?"
_From @jonleung on September 20, 2015 2:23_

This means that we need to set the precedent that Lab Directors will check GitHub notifications regularly.

I think that this will make it a lot easier to:

- get pull requests merged in (because discussion can happen much more quickly)
- allow Lab Directors to have discussions in comments on pull requests for case studies
- celebrate when people submit

[2015-11-16 08:25] zachlatta commented on #300
_From @paked on September 20, 2015 13:30_

GitHub's notification UI does not make this task very easy IMO. What is the stance on using external software?

[2015-11-16 08:25] zachlatta commented on #300
_From @Bogidon on September 20, 2015 18:36_

Recently I've been getting most GitHub notifications over email and they don't even show up at https://github.com/notifications (like the one for this issue). Other than having issues receiving the notifications, I like the GitHub issue/PR system and think it would benefit the Labs program to encourage it more.

[2015-11-16 08:25] zachlatta commented on #300
_From @xeonjake on September 20, 2015 19:2_

Github on Android crashes alot for me, and also email doesn't always give me the full conversation. Any suggestions?

[2015-11-16 08:25] zachlatta commented on #300
_From @paked on September 20, 2015 21:28_

Pinging @zachlatta because he mentioned he had a good workflow set out when we hung out last.

[2015-11-16 08:25] zachlatta commented on #300
Yeah, so couple things about GitHub notifications:

- If you view a notification in your email, it's removed from the
notification center on GitHub's website
- If you view a notification in the web interface before they send you an
email notification (there's a tiny delay), they don't send the email
notification.

I personally manage my GitHub notifications from email and use a slightly
modified v

[2015-11-16 08:25] zachlatta opened #301 "Revamp the description on hackEDU Leaders Facebook Group"
_From @hellyeah on August 29, 2015 0:14_

https://www.facebook.com/groups/1501083703514499

_Copied from original issue: hackedu/hackedu#118_

[2015-11-16 08:25] zachlatta commented on #301
Thoughts on the following?

    The community of people leading Hack Clubs around the world.

    Code of conduct: https://example.com

    New members comment on this post: https://facebook.com/examplepost

[2015-11-16 08:25] zachlatta opened #302 "Create new public Facebook Group for all hackEDU leaders and those clubs' members"
_From @hellyeah on August 27, 2015 22:13_

Leaders should be heavily encouraged to add their members to this group once we get it going. Will be cool for them to be part of a broader community.

Think HS Hackers but we emphasize core values, specifically inclusion and mentorship, from the start.

We should adopt a Code of Conduct before we launch this group. Here's the one we're developing openly

[2015-11-16 08:25] zachlatta commented on #302
_From @jonleung on August 28, 2015 16:16_

Dependent on https://github.com/hackedu/meta/issues/117, which tracks the code of conduct.

[2015-11-16 08:25] zachlatta commented on #302
Created https://www.facebook.com/groups/1647912265454317/ and added @jonleung, @MaxWofford, and @hellyeah as admins.

Still need to adopt a code of conduct before we start adding members. @hellyeah can you take point on that?

[2015-11-16 08:25] zachlatta commented on #302
_From @hellyeah on August 31, 2015 18:35_

Blocking on hackedu/meta#117

[2015-11-16 08:25] zachlatta commented on #302
Moved to the ideas column because we've decided to prioritize getting the main leaders Facebook group going before starting this group as well.

[2015-11-16 08:26] zachlatta opened #303 "Plan and Schedule future curriculum calls"
_From @jonleung on November 3, 2015 6:46_

I've dropped the ball on making this happen. Let's set this up again.

Before each call, we should have a clear objective of what we want to get out of the call.
More concretely, each call should also have an agenda.

\cc @Bogidon @paked @JevinSidhu

_Copied from original issue: hackedu/hackedu#456_

[2015-11-16 08:26] zachlatta commented on #303
Can you clarify what you mean by a "curriculum call"?

[2015-11-16 08:26] zachlatta commented on #303
_From @jonleung on November 3, 2015 6:48_

Calls where we talk about curriculum in general, how to collaborate on it, what we might change, what's working and not working, etc. For context, we've been having these almost every week for the past several weeks until recently.

[2015-11-16 08:26] zachlatta commented on #303
Could these be done during the pairing calls?

[2015-11-16 08:26] zachlatta commented on #303
_From @paked on November 3, 2015 6:52_

@zachlatta It has worked really well having a group of people come together to talk about *one* specific topic.

[2015-11-16 08:26] zachlatta commented on #303
Ah, gotcha. Proceed as planned then :-).

[2015-11-16 08:26] zachlatta commented on #303
_From @paked on November 3, 2015 6:53_

I'd love to be kept in the loop about this. I can do Fridays and Saturdays 3pm PT onwards (Thanks Australia!), although understand that that makes it difficult for everyone.

[2015-11-16 08:26] zachlatta commented on #303
_From @jonleung on November 3, 2015 7:37_

Fridays work best for me right now.

[2015-11-16 08:26] zachlatta commented on #303
_From @jonleung on November 3, 2015 7:38_

@JevinSidhu  Friday doesn't work for you though?

[2015-11-16 08:26] zachlatta commented on #303
_From @JevinSidhu on November 3, 2015 15:27_

@jonleung They are harder for me, but I can make something work!

@paked Saturdays from 3pm PT works for me :)

[2015-11-16 08:26] zachlatta opened #304 "Plan Weekly Call"
**Task Description**

_Note that these are Jonathan's personal notes:_

**Before the call on Friday**

- [ ] Experiment with using [Unhangouts](unhangout.media.mit.edu) (the call currently has 10 people confirmed (which is the maximum number of people you can fit in a hangouts). Unhangouts supports a lot more people.
- [ ] Decide on virtual meeting room for the weekly call
- [ ] Create an agenda f

[2015-11-16 08:26] zachlatta commented on #304
When did we merge the Labs cohorts?

[2015-11-16 08:26] zachlatta commented on #304
_From @jonleung on November 3, 2015 7:36_

Just now.

[2015-11-16 08:26] zachlatta commented on #304
_From @MaxWofford on November 5, 2015 23:9_

@jonleung Should this have a `discussion` label?

[2015-11-16 08:26] zachlatta commented on #304
Thoughts on planning to have a weekly call?

[2015-11-16 08:26] zachlatta opened #305 "Get every cohort 2 labs leader to message Slack"
_From @hellyeah on October 26, 2015 17:40_

Last week, I asked cohort 2 labs leaders to shift their chat to Slack: #313

This week, I want them all to give their cohort chat a status update.

_Copied from original issue: hackedu/hackedu#419_

[2015-11-16 08:26] zachlatta opened #306 "Going to slack.hackedu.us should redirect to hackedu.slack.com if I already have an account"
_From @jonleung on November 3, 2015 23:13_

Right now when I go to `slack.hackedu.us` it just sits on the page.

![image](https://cloud.githubusercontent.com/assets/654941/10924693/5afac318-823d-11e5-8a7d-29747e813933.png)

It should instead redirect me to `hackedu.slack.com`

I know that @hellyeah knows a way to do this.

/cc @zachlatta

_Copied from original issue: hackedu/hackedu#461_

[2015-11-16 08:26] zachlatta commented on #306
_From @jonleung on November 3, 2015 23:15_

Moreover, if I I try to type in my email and I already have an account, it should redirect me to `hackedu.slack.com` as well and not do this:

![](https://s3.amazonaws.com/f.cl.ly/items/2l0Z031Q0x3V3G0t3o1o/Screen%20Recording%202015-11-03%20at%2003.15%20PM.gif)

[2015-11-16 08:26] zachlatta commented on #306
@hellyeah Where have you seen this done before?

[2015-11-16 08:26] zachlatta commented on #306
_From @MaxWofford on November 3, 2015 23:33_

@jonleung [You won't need  to](https://github.com/hackedu/hackedu/issues/461#issuecomment-153519126) because you've already been redirected

[2015-11-16 08:27] zachlatta commented on #306
This issue was moved to hackedu/slackin-off#1

[2015-11-16 08:27] #306 closed

[2015-11-16 11:45] paked commented on #304
This kind of needs to be resolved soon... Cause a *lot* of confusion last Friday PST.

[2015-11-16 17:59] #292 closed

[2015-11-16 18:00] #289 closed

[2015-11-17 02:04] MaxWofford commented on #301
@zachlatta :+1:

[2015-11-17 02:30] zachlatta commented on #304
@jonleung can you take point on getting this resolved?

[2015-11-17 03:46] jonleung commented on #304
@zachlatta yes!

[2015-11-17 05:47] MaxWofford opened #307 "The Hack Strikes Back logo"
vectorize
![the_hack_strikes_back](https://cloud.githubusercontent.com/assets/5891442/11203701/5e938dca-8cab-11e5-9312-97dea9cd4fe8.png)

[2015-11-17 06:16] jonleung commented on #294
@MaxWofford, did you get a confirmation from any leaders from any of these schools who said they would be down to do use the hackEDU Labs Curriculum & Attendance Spreadsheet?

- Cherry Hill High School East
- Elizabeth High School
- San Mateo High School

This will change the way I will reach out to them. Thanks!

[2015-11-17 06:40] zachlatta commented on #307
This is amazing.

Can you make "hack" capitalized too?

[2015-11-17 06:41] zachlatta commented on #258
What if we did Wednesdays? We could have our in-person meetings then too.

[2015-11-17 06:41] zachlatta commented on #117
Any updates on this?

[2015-11-17 07:56] MaxWofford commented on #294
@jonleung Nothing yet.

[2015-11-17 08:40] MaxWofford commented on #307
This logo has been added to the hackEDU dropbox

[2015-11-17 10:02] zachlatta commented on #307
Can you submit a pull request for it?

[2015-11-17 18:18] hellyeah commented on #304
Weekly call sounds like a good idea but we'll likely have to take a tradeoff of who can make it.

[2015-11-17 21:03] JevinSidhu commented on #304
A weekend works better for me -- can we nail a time soon? I believe Saturdays only work for @paked in the case of weekends.

I'm in EST, so three hours ahead. Anytime between 4:30pm-8:00pm PST works good for me!

[2015-11-17 21:35] zachlatta opened #310 "Rename hackEDU to Hack Club"

[2015-11-17 21:35] zachlatta opened #311 "Respond to all applicants"

[2015-11-17 21:35] zachlatta opened #312 "Document the applicant review process"

[2015-11-17 21:50] jonleung opened #313 "Discuss with club leaders what curriculum they will run in their meeting and create any materials that are needed"
_From @jonleung on November 17, 2015 21:42_

_Copied from original issue: hackedu/hackedu#500_

[2015-11-17 21:58] MaxWofford opened #314 "Organize discussion about club leader communication (inactivity on Slack)"

[2015-11-17 21:59] MaxWofford opened #315 "Ping club leaders on day of their meetings about attendance and curriculum spreadsheet"

[2015-11-17 22:03] MaxWofford opened #316 "Week of 11.16.15"
Question Of The Week:

_How might we better service our community?_

Tasks:

- [ ] Positive 10% Slack growth(@hellyeah)
- [ ] Upload last week's metrics to spreadsheet(@hellyeah)
- [ ] Create metrics repo(@hellyeah)
- [ ] Discuss with club leaders what curriculum they will run in their meeting and create any materials that are needed (@jonleung, #313)
- [ ] Plan (or cancel) 6 pairing calls(@hellye

[2015-11-18 01:06] zachlatta commented on #275
Ping?

[2015-11-18 01:06] zachlatta commented on #305
Status on this?

[2015-11-18 02:03] hellyeah commented on #304
It's unlikely there's a time that works for everyone -- @jevinsidhu did you ever send out that Doodle?

[2015-11-18 18:08] MaxWofford commented on #262
This can be closed with #268 andd #265

[2015-11-18 19:29] gemmabusoni commented on #315
@MaxWofford Added USC Hybrid High info to the spreadsheet

[2015-11-18 19:40] jonleung commented on #304
@hellyeah, @JevinSidhu created [the Doodle](http://doodle.com/poll/n4rbsqvmgc6e7g9i)! Thanks for that!

[2015-11-18 19:58] jonleung opened #317 "Onboard 2 additional clubs"
I will take on onboarding 2 additional club as discussed in our weekly planning call tuesday.

Jonathan's Personal note:

I'm not sure they're collecting attendance but I can
- try to get their curriculum of they choose
- ask them if they would be down to collect attendance

[2015-11-18 19:58] zachlatta commented on #317
To hackEDU or to Labs?

[2015-11-18 20:23] jonleung commented on #317
@zachlatta Labs

[2015-11-18 22:38] MaxWofford commented on #315
@gemmabusoni

![](http://quickme.me/loveit.gif)

[2015-11-19 02:09] JevinSidhu commented on #304
@hellyeah, the date that worked best for the people who filled out the Doodle is Friday, November 20th @ 7pm PST

[2015-11-19 07:24] zachlatta commented on #304
@jonleung I know you said you'd send out the calendar invite. How's that going?

[2015-11-19 07:25] paked commented on #304
Done. According to my inbox xD

On Thu, Nov 19, 2015 at 6:24 PM Zach Latta <notifications@github.com> wrote:

[2015-11-19 07:31] zachlatta commented on #304
Schweet. Closing!

[2015-11-19 07:31] #304 closed

[2015-11-19 17:52] jonleung opened #319 "Jonathan Obtains Curriculum & Attendance"
**Last Week**

- [ ] USC Hybrid School
- [ ] Cherry Hill High School East
- [ ] Elizabeth High School
- [ ] Glenaeon Rudolf Steiner School
- [ ] San Mateo High School

**This Week**

- [ ] USC Hybrid School
- [ ] Cherry Hill High School East
- [ ] Elizabeth High School
- [ ] Glenaeon Rudolf Steiner School
- [ ] San Mateo High School

[2015-11-20 18:41] hellyeah commented on #268
No response from Vene.

[2015-11-20 18:41] #268 closed

[2015-11-20 18:41] hellyeah commented on #265
No response from Bogdan

[2015-11-20 18:41] #265 closed

[2015-11-20 18:57] MaxWofford commented on #268
@hellyeah Thanks for taking point on this!

![](http://quickme.me/thanks.gif)

[2015-11-20 19:00] #262 closed

[2015-11-20 19:04] MaxWofford commented on #265
@hellyeah Thanks for working on this!

![](https://media.giphy.com/media/6tHy8UAbv3zgs/giphy.gif)

[2015-11-20 19:07] MaxWofford commented on #314
@hackedu/core Let's discuss this in the slack channel.

[2015-11-20 19:26] MaxWofford commented on #314
I'll close this once the chat has an outcome.

[2015-11-21 00:30] zachlatta commented on #293
Closed by #316.

[2015-11-21 00:30] #293 closed

[2015-11-21 00:31] MaxWofford commented on #314
Update: I'm bringing this up in the hack night on Friday. Will close the issue once I've brought the topic up at the unhangout.

[2015-11-22 06:37] MaxWofford commented on #314
I announced the hackedu/auto-sms service.

[2015-11-22 06:37] #314 closed

[2015-11-24 09:18] MaxWofford opened #321 "Rename hubot to prophet orhpeus"
And change its icon to a robot dino.

[2015-11-24 10:01] paked commented on #321
Can you have multi word usernames? Perhaps it'd be better just to call it `orpheus`

[2015-11-24 10:04] MaxWofford commented on #321
Paked :+1:

[2015-11-24 10:40] #307 closed

[2015-11-25 04:18] paked opened #325 "Remove all instances of hackEDU from GitHub repository descriptions"

[2015-11-25 04:20] zachlatta commented on #325
Do you see any offending repos?

[2015-11-25 04:33] paked commented on #325
Sloth Gifs

On Wed, 25 Nov 2015 3:20 pm Zach Latta <notifications@github.com> wrote:

[2015-11-25 04:33] paked commented on #325
The frontend legacy

On Wed, 25 Nov 2015 3:32 pm Harrison Shoebridge <harrison@theshoebridges.com>
wrote:

[2015-11-25 04:35] paked commented on #325
I'll compile a list when I get home. Currently on mobile :)

On Wed, 25 Nov 2015 3:33 pm Harrison Shoebridge <harrison@theshoebridges.com>
wrote:

[2015-11-25 10:10] paked commented on #325
@zachlatta OK. These are the current offenders.

* [ ] https://github.com/hackclub/sloth-gifs
* [ ] https://github.com/hackclub/website
* [ ] https://github.com/hackclub/hack-camp
* [ ] https://github.com/hackclub/hackedu-legacy (possibly should be kept for legacy reasons)
* [ ] https://github.com/hackclub/frontend-legacy (possibly should be kept for legacy reasons)

[2015-11-26 06:10] jonleung opened #326 "Jonathan removes as many issues as possible from the ideas column as possible"

[2015-11-26 06:10] jonleung opened #327 "Max removes as many issues as possible from the ideas column as possible"

[2015-11-26 06:10] jonleung opened #328 "Zach removes as many issues as possible from the ideas column as possible"

[2015-11-26 06:11] jonleung opened #329 "Remove as many issues as possible from the ideas column"
- [x] Jonathan remove as many issues as possible from the ideas column #326
- [x] Max remove as many issues as possible from the ideas column #327
- [x] Zach remove as many issues as possible from the ideas column #328

[2015-11-26 07:00] jonleung opened #330 "Try to collect any curriculum and attendance data that is missing from hackEDU Labs Curriculum & Attendance Spreadsheet"
Replaces #249 and #319

[2015-11-26 07:01] jonleung commented on #294
Closed in favor of #330

[2015-11-26 07:01] #294 closed

[2015-11-26 07:01] jonleung commented on #319
Closed in favor of #330

[2015-11-26 07:01] #319 closed

[2015-11-26 09:44] MaxWofford commented on #330
@jonleung https://github.com/hackclub/meta/issues/249 doesn't seem to relate to collecting curriculum and attendance.

[2015-11-26 09:47] MaxWofford commented on #258
I'm not to keen on having any in-person working events. I'm fine with in-person meetups of other kinds, but I find that I work in the same manner with or without other people in the general area.

This usually just means that working next to someone has no major benefit to me.

[2015-11-26 09:51] MaxWofford commented on #283
Closing because this sheet is no longer in use

[2015-11-26 09:51] #283 closed

[2015-11-30 04:01] zachlatta opened #333 "Standardize system on how to collect attendance"
_From @jonleung on November 26, 2015 6:58_

@zachlatta and @MaxWofford, I know that last week you were fairly successful at collecting attendance data. What specific things do we should do going forward to continue to be successful at collecting attendance data?

_Copied from original issue: hackclub/hackclub#517_

[2015-11-30 04:01] zachlatta commented on #333
_From @MaxWofford on November 26, 2015 9:43_

@jonleung The more club leaders using the auto sms-service, the less we will have to ping on slack. Make sure to remind people it exists.

[2015-11-30 04:02] zachlatta opened #334 "Link curriculum and attendance spreadsheet via hackclub.io URL"
_From @jonleung on November 26, 2015 6:55_

_Note that I'm deliberately not linking the attendance and curriculum spreadsheet here so that they are not publicly accessible._

What if we used `attendance.hackclub.io` to link to the curriculum and attendance spreadsheet?

\cc @zachlatta @MaxWofford

_Copied from original issue: hackclub/hackclub#516_

[2015-11-30 04:02] zachlatta commented on #334
_From @MaxWofford on November 26, 2015 9:41_

@jonleung Doesn't including this link defeat the purpose of hiding the spreadsheet?

[2015-11-30 04:02] zachlatta opened #335 "Collect attendance and curriculum @zachlatta"
_From @MaxWofford on November 24, 2015 22:53_

- [x] Hybrid
- [x] Glenaeon
- [x] Armijo

_Copied from original issue: hackclub/hackclub#515_

[2015-11-30 20:21] jonleung opened #336 "Hack Club SEO"
Thanks to AlexB for reminding us that our SEO is not very good:

https://s3.amazonaws.com/f.cl.ly/items/0K2N0Z0h3C0U0j0U3830/Image%202015-11-30%20at%2012.20.50%20PM.png?v=b7663941

[2015-11-30 22:12] zachlatta commented on #336
I've added hackclub.io to Google's webmaster tools and have requested it to be re-indexed. Hopefully that'll help.

[2015-11-30 22:12] #336 closed

[2015-12-01 05:22] MaxWofford opened #337 "Collect Curriculum and Attendance @MaxWofford"
- [ ] Project Cipher
- [ ] Ravenwood High School
- [ ] San Leandro High School
- [ ] South Brunswick High School

[2015-12-01 05:23] MaxWofford commented on #82
Closing this because the rename.

[2015-12-01 05:23] #82 closed

[2015-12-01 05:24] MaxWofford commented on #30
Closing this discussion. Another issue should be opened if we want to get business cards.

[2015-12-01 05:24] #30 closed

[2015-12-01 05:29] MaxWofford opened #338 "Create new Hack Club logo"
Make an acceptable logo for our rename

![export](https://cloud.githubusercontent.com/assets/5891442/11493039/444853b6-97a9-11e5-8b9c-bc445309ac31.png)
![export](https://cloud.githubusercontent.com/assets/5891442/11493044/5401ce86-97a9-11e5-934c-dfc31f7278a3.png)

[2015-12-01 05:30] MaxWofford opened #339 "Organize a Hack Night"

[2015-12-01 05:30] MaxWofford opened #340 "Make assets for the iOS track"

[2015-12-01 05:30] MaxWofford opened #341 "Fix Hubot's contribution count"

[2015-12-01 05:31] MaxWofford opened #342 "Rename Hubot to Orpheus"

[2015-12-01 05:52] zachlatta opened #343 "Create GitHub shortlinks"
- `workshops.hackclub.io` -> `workshops/README.md`
- `gh.hackclub.io` -> `README.md`

[2015-12-01 05:52] zachlatta opened #344 "Create GitHub shortlinks"

[2015-12-01 05:52] zachlatta opened #345 "Create GitHub shortlinks"

[2015-12-01 05:58] MaxWofford commented on #343
@zachlatta #344 #345

[2015-12-01 06:00] zachlatta opened #346 "Add workshop feedback tables"
Add clickable Markdown tables for feedback to all of the existing workshops.

Example:

_Would you recommend this workshop to a friend?_

| [1](#example) | [2](#example) | [3](#example) | [4](#example) | [5](#example) | [6](#example) | [7](#example) | [8](#example) | [9](#example) | [10](#example) |
| ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | -

[2015-12-01 06:02] zachlatta commented on #346
This issue was moved to hackclub/hackclub#520

[2015-12-01 06:02] #346 closed

[2015-12-01 06:03] zachlatta commented on #345
Whoops, I accidentally created this as a duplicate of #343.

[2015-12-01 06:03] #345 closed

[2015-12-01 06:03] zachlatta commented on #344
Whoops, I accidentally created this as a duplicate of #343.

[2015-12-01 06:03] #344 closed

[2015-12-01 06:18] zachlatta opened #347 "Look into getting the other Hack Club domains"
hackclub.com/hackclub.org/hack.club

[2015-12-01 06:22] zachlatta opened #348 "Deploy slack-stats-collector"
From https://github.com/hackclub/slack-stats-collector

[2015-12-01 06:23] zachlatta opened #349 "Create 6 month organization plan"

[2015-12-01 06:34] zachlatta opened #350 "Collect curriculum and attendance from last week and this week"
- @zachlatta
  - [x] Armijo High School
  - [x] Glenaeon Rudolf Steiner School
  - [x] ~~USC Hybrid School~~ _Meeting cancelled due to UC college app deadline extensions_
- @MaxWofford
  - [x] Project Cipher
  - [x] ~~Ravenwood High School~~ _Meets every other week._
  - [x] San Leandro High School
  - [x] South Brunswick High School
- @jonleung
  - [ ] Elizabeth High School
  - [ ] San Mateo High

[2015-12-01 06:35] zachlatta commented on #315
Closing this issue in favor of #350, which I've created for this week.

[2015-12-01 06:35] #315 closed

[2015-12-01 06:37] zachlatta opened #351 "Week of 11.30.15"
- [ ] Onboard Selynna and Sam (hackclub/meta#317, @jonleung)
- [ ] Collect curriculum and attendance from last week and this week
  (hackclub/meta#350, @MaxWofford)
- [ ] Create another workshop (TODO, @jonleung)
- [ ] Make workshops README student facing (shorten it) (TODO, @jonleung)
  - [ ] Organize workshops into playlists (TODO, @jonleung)
- [x] Create GitHub shortlinks (hackclub/hackclub#343

[2015-12-01 06:41] zachlatta commented on #316
Closing due to the week being over!

[2015-12-01 06:41] zachlatta commented on #316
This week's issue is in #351.

[2015-12-01 07:23] MaxWofford commented on #342
Closed by https://github.com/hackclub/hubot/pull/19

[2015-12-01 07:23] #342 closed

[2015-12-01 07:31] MaxWofford commented on #282
@jonleung Replaced by https://github.com/hackclub/meta/issues/317

[2015-12-01 07:31] #282 closed

[2015-12-01 07:32] MaxWofford commented on #234
We don't have this channel about it

[2015-12-01 07:32] #234 closed

[2015-12-01 07:34] MaxWofford commented on #237
It seems that everyone on slack is fairly acquainted with it

[2015-12-01 07:34] #237 closed

[2015-12-01 07:34] #254 closed

[2015-12-01 07:35] MaxWofford commented on #275
Closing this because it is inactive. feel free to reopen.

[2015-12-01 07:35] #275 closed

[2015-12-01 11:34] MaxWofford commented on #235
This is closed by https://github.com/hackclub/hubot/pull/23

[2015-12-01 11:35] MaxWofford commented on #327
Closing this because it has been one week.

[2015-12-01 11:35] #327 closed

[2015-12-01 16:44] zachlatta commented on #108
Closing due to most recent conversation with Gemma.

[2015-12-01 16:44] #108 closed

[2015-12-01 16:45] zachlatta commented on #321
@MaxWofford hope it's cool if I assign you :-)

[2015-12-01 16:46] zachlatta commented on #191
Closing since we haven't been having formal meetings on IRC.

[2015-12-01 16:46] #191 closed

[2015-12-01 16:47] zachlatta commented on #279
Hiya, I'm so sorry for not getting back to this earlier. We've decided to shift our focus from collecting feedback to collecting attendance because we think feedback is better collected in calls or by talking to club members in-person. Attendance gives us a general high-level overview of the activity in a club.

Closing due to the resolution happening in person. I'll do my best to carry out more o

[2015-12-01 16:47] #279 closed

[2015-12-01 16:48] zachlatta commented on #300
@hackclub/staff thoughts on closing this?

[2015-12-01 16:49] #316 closed

[2015-12-01 16:50] zachlatta commented on #328
I just closed a bunch. Will continue to do this as I scroll throught the Ideas column.

[2015-12-01 16:50] #328 closed

[2015-12-01 18:03] MaxWofford commented on #300
@zachlatta Seconded

[2015-12-01 18:03] #300 closed

[2015-12-01 18:04] MaxWofford commented on #321
This is a duplicate issue of https://github.com/hackclub/meta/issues/342

[2015-12-01 18:04] #321 closed

[2015-12-01 18:11] zachlatta commented on #342
:heart:

[2015-12-01 18:13] zachlatta commented on #348
And it's done! https://slack-stats-collector.hackclub.io

[2015-12-01 18:56] #343 closed

[2015-12-01 19:22] MaxWofford commented on #348
@zachlatta This page doesn't load for me

[2015-12-01 19:23] MaxWofford commented on #333
Closing this for now due to inactivity and no clear end-goal.

[2015-12-01 19:23] #333 closed

[2015-12-01 19:24] MaxWofford commented on #317
@jonleung Any updates on this?

[2015-12-01 19:25] MaxWofford commented on #313
Closing this for now because it is accounted for by collecting curriculum each week.

[2015-12-01 19:45] #313 closed

[2015-12-01 20:10] MaxWofford commented on #339
Update: vote is going on right now

[2015-12-01 21:47] zachlatta commented on #348
Ouch, it looks like my deployment is _super broken_.

[2015-12-01 22:23] zachlatta commented on #335
Just messaged everyone about setting up a weekly call for this.

[2015-12-01 23:19] zachlatta commented on #335
Okay, weekly calls set up with everyone!

[2015-12-01 23:27] zachlatta commented on #348
And it's done! There was some super janky stuff going on with one of the native dependencies. Thanks nodegit...

[2015-12-01 23:27] #348 closed

[2015-12-02 01:40] MaxWofford commented on #337
Closing this because it is tracked in https://github.com/hackclub/meta/issues/350

[2015-12-02 01:40] #337 closed

[2015-12-02 05:23] jonleung commented on #330
We decided in our planning meeting on monday not to do this.

[2015-12-02 05:23] #330 closed

[2015-12-02 05:40] jonleung opened #352 "Collect attendance data from Nov 30th - Dec 13th"
`[o]` means pinged and waiting for a response
**Week of Nov 30th- December 6th**
  - [x] Elizabeth High School @amysorto
  - [x] San Mateo High School @saescapa
  - [x] Cherry Hill High School East @Bogidon
  - [x] Lowell High School

**Week of December 7th - 13th**
  - [o] Elizabeth High School @amysorto
  - [x] San Mateo High School @saescapa
  - [x] Cherry Hill High School East @Bogidon
  - [x]

[2015-12-02 05:46] jonleung opened #353 "Clean up GitHub Teams"
There seem to unnecessary teams in in https://github.com/orgs/hackclub/teams

We should remove as many teams as possible (it seems like Contributors & Labs are unnecessary)

There may also be other cleanup that could be done here.

[2015-12-02 18:22] jonleung commented on #353
Also, can we make sure we can tag all labs leaders in the `meta` and `hackclub` repos?

I can autocomplete @JevinSidhu in `hackclub` but not in `meta` and I'm not sure why because the teams look essentially the same except contributors:

**hackclub:**

![image](https://cloud.githubusercontent.com/assets/654941/11539932/9739193a-98de-11e5-8756-06e88816dead.png)

**meta:**

![image](https://cloud.gi

[2015-12-02 18:37] jonleung opened #354 "Find a way to effectively integrate community created curriculum"
Currently mhesby, Bogidon, paked, Jevin and others are working on these great workshops and amysorto is working on these great powerpoint presentations—how do we consolidate them in a way so that the entire community can make use of these materials?

Current Problems (sorted in the order we should address them):

- We don't know how to organize and structure the content so that it's useful to lead

[2015-12-02 21:06] MaxWofford commented on #354
For the time being, let's make sure to add the community workshops into our regular workshops folder

[2015-12-02 21:21] paked commented on #354
I think this is the best way to handle community curriculum. Why should we
differentiate between official workshops anyway?

On Thu, 3 Dec 2015 8:06 am Max Wofford <notifications@github.com> wrote:

[2015-12-02 21:27] MaxWofford commented on #354
Would anyone like to submit a PR to merge them?

[2015-12-02 21:33] jonleung opened #355 "Add link to Medium blog to the footer of website"
/cc @zachlatta @MaxWofford

[2015-12-02 21:43] zachlatta commented on #355
Shouldn't we actually link https://blog.hackclub.io?

[2015-12-02 21:44] jonleung commented on #355
There's not content on that blog though... Wouldn't the medium be better because there's content?

[2015-12-02 21:45] zachlatta commented on #354
100% agree. I'm happy to take point on this.

[2015-12-02 21:46] jonleung commented on #354
@zachlatta sounds great! Do you want to create a separate issue for merging community workshops and our workshops? I want to leave this open until all the other questions are addressed.

[2015-12-03 00:07] MaxWofford commented on #355
We should consolidate the medium and github blogs.

[2015-12-03 02:25] jonleung commented on #355
^ :+1:

[2015-12-03 03:29] jonleung opened #356 "Make sure that all of Cipher's workshops are in hackclub/hackclub:workshops"

[2015-12-03 03:31] jonleung opened #357 "Smooth out facilitation guidelines for all workshops"
- Make sure to include Powerpoints
  - Sam has all of his powerpoints in his case studies

[2015-12-03 06:14] MaxWofford commented on #356
@jonleung what needs to be completed for this issue to be closed?

[2015-12-03 22:43] zachlatta commented on #353
Okay, I've deleted the Labs team and will submit a write-up to `hackclub/meta` on how GitHub teams will work.

[2015-12-04 06:43] jonleung commented on #356
@MaxWofford, reworked the scope of the issue by retitling the issue! Thanks!

[2015-12-04 09:10] MaxWofford commented on #351
UPDATE: I'm not planning on finishing Hubot's contribution count this week.

[2015-12-04 10:47] #235 closed

[2015-12-04 12:15] MaxWofford commented on #329
@jonleung Any updates on this?

[2015-12-04 14:16] zachlatta commented on #100
Closing this since it seems we've standardized on using Google Hangouts at 9AM every morning.

[2015-12-04 14:16] #100 closed

[2015-12-04 14:16] zachlatta commented on #273
Aaaand the deadline has passed. Next year!

[2015-12-04 14:16] #273 closed

[2015-12-04 14:17] zachlatta commented on #263
Closing for the time being. @jonleung, are we still going to do pairing calls?

[2015-12-04 14:17] #263 closed

[2015-12-04 14:18] zachlatta commented on #285
Closing for the time being. Let's work as a team to hit these objectives.

[2015-12-04 14:18] #285 closed

[2015-12-05 04:39] MaxWofford commented on #339
Hack Night is on right now

[2015-12-05 04:39] #339 closed

[2015-12-05 06:11] MaxWofford commented on #258
Closing this due to lack of activity in discussion. Feel free to reopen if you have something to say!

[2015-12-05 06:11] #258 closed

[2015-12-05 06:12] MaxWofford commented on #106
Closing due to lack of activity. Feel free to reopen if there are updates!

[2015-12-05 06:12] #106 closed

[2015-12-05 06:23] MaxWofford commented on #296
Closing this because hackclub/metrics exists

[2015-12-05 06:23] #296 closed

[2015-12-05 06:25] MaxWofford commented on #261
Closing this because the the day passed.

[2015-12-05 06:25] #261 closed

[2015-12-05 06:26] MaxWofford commented on #261
That being said, @jonleung, I'm down for a team activity next wednesday if anyone wants to pick up organizing it.

/cc @zachlatta

[2015-12-05 06:27] MaxWofford commented on #89
They respond to twitter mentions. Closing this.

[2015-12-05 06:27] #89 closed

[2015-12-06 01:09] MaxWofford commented on #312
@zachlatta Does this also close hackclub/meta#83?

[2015-12-06 01:10] #355 closed

[2015-12-06 01:12] zachlatta commented on #355
There's no content on our Medium blog either. https://medium.com/hack-edu is not our blog, it's our Medium publication where we syndicate content from members of our community.

[2015-12-06 01:15] MaxWofford commented on #354
I believe this was closed by

https://github.com/hackclub/hackclub/commit/410af4d6c92fa8fca2b8c54a6fa709dcc531d9d6
https://github.com/hackclub/hackclub/commit/6f45dc9fd144931d391fd8b7e136d3c87e3acd29
https://github.com/hackclub/hackclub/commit/05e47825145e81ce3fce77fe04d22f218b928005

Feel free to reopen if it was not!

[2015-12-06 01:15] #354 closed

[2015-12-07 00:35] zachlatta commented on #335
And we're done!

[2015-12-07 00:35] #335 closed

[2015-12-07 08:52] MaxWofford commented on #335
:+1:

[2015-12-07 19:56] zachlatta commented on #338
Current status update on this. We're waiting on me to talk to 99designs and @MaxWofford will send more of his current logos to the #meta channel on Slack.

[2015-12-07 21:28] MaxWofford commented on #338
![screenshot from 2015-12-01 21 08 49](https://cloud.githubusercontent.com/assets/5891442/11640234/65a4bfee-9ce6-11e5-91a2-52f4adec7a16.png)

[2015-12-07 21:57] MaxWofford commented on #338
![export](https://cloud.githubusercontent.com/assets/5891442/11640961/633ff760-9cea-11e5-80f4-e984c3c15c56.png)

[2015-12-08 00:17] zachlatta commented on #338
Last one is my favorite. What would it look like on a white background (in the case that we're on the sponsors list of a hackathon or something similar).

[2015-12-08 00:24] MaxWofford commented on #338
![export](https://cloud.githubusercontent.com/assets/5891442/11644201/f6be1f12-9cfe-11e5-9690-bc81041ff0e2.png)

[2015-12-08 00:36] zachlatta opened #363 "Week of 12.07.15"
### Curriculum

- [x] Fix JSBin build system (hackclub/hackclub#521, @zachlatta)
- [ ] Copy Project Cipher's workshops to `hackclub/hackclub` (hackclub/meta#356,
  @jonleung)

### Meta

- [ ] Collect curriculum and attendance from last week and this week
  (hackclub/meta#350, @MaxWofford)
  - Clubs that were collected from last week:
    - [x] Armijo High School
    - [x] Glenaeon Rudolf Steiner S

[2015-12-08 00:36] zachlatta commented on #353
Closed by #358.

[2015-12-08 00:36] #353 closed

[2015-12-08 00:40] zachlatta commented on #351
Closing this issue. Next week's is in #363.

[2015-12-08 00:40] #351 closed

[2015-12-08 00:42] MaxWofford commented on #338
@hackclub/hackclub Thoughts on the [last](https://github.com/hackclub/meta/issues/338#issuecomment-162678015) [two](https://github.com/hackclub/meta/issues/338#issuecomment-162714052)?

[2015-12-08 00:54] ssun098 commented on #338
I like the last one!

[2015-12-08 05:20] jonleung commented on #317
@zachlatta can I actually get your help on completing this. I thought I would be able to do it earlier today but now that I've learned that my body has not recovered, I don't think I'm likely to be able to successfully complete this. If you could do me a favor and take this, that would be amazing. Thanks!

[2015-12-08 05:27] jonleung commented on #352
@MaxWofford, I've messaged all of my clubs to setup an attendance collection mechanism.

[2015-12-08 19:00] jonleung commented on #317
@zachlatta said that he was able to do me a favor and take this task from me on Slack. Thanks @zachlatta! Assigning you now!

[2015-12-09 05:47] MaxWofford commented on #338
@hackclub/staff Thoughts?

[2015-12-09 06:12] MaxWofford commented on #338
Revised version of the last one:

![export](https://cloud.githubusercontent.com/assets/5891442/11678000/c83bd3f0-9df8-11e5-88c1-472b793829ec.png)

[2015-12-09 06:16] MaxWofford commented on #338
Revised again:

![export](https://cloud.githubusercontent.com/assets/5891442/11678068/44a0494e-9df9-11e5-8a2b-fc0c5a4da38d.png)

[2015-12-09 06:20] MaxWofford commented on #338
![export](https://cloud.githubusercontent.com/assets/5891442/11678149/e02537ee-9df9-11e5-8451-e7db8d1d9b47.png)

[2015-12-09 06:38] MaxWofford commented on #338
@hackclub/staff feel free to close this if we're done here

[2015-12-09 06:38] MaxWofford opened #365 "Design Teespring shirts"

[2015-12-09 06:39] MaxWofford commented on #365
![screenshot from 2015-12-08 22 37 45](https://cloud.githubusercontent.com/assets/5891442/11678407/7a4f7774-9dfc-11e5-8f2b-cfbfad2efeca.png)

@zachlatta

[2015-12-09 07:01] jonleung commented on #338
The gradient fade to blur looks a bit off to me, I think it could be done well but I think we should just leave it off for now. I think it's fine just to move forward with the plain logo (just the font color and the background color with the new font)

[2015-12-09 07:02] MaxWofford commented on #338
@jonleung Just checking, but do you have flux enabled? (it was on @zachlatta's screen and it looked funny)

[2015-12-09 07:06] MaxWofford commented on #365
Hmmmm. I think we could pull off red on the back

![screenshot from 2015-12-08 23 06 13](https://cloud.githubusercontent.com/assets/5891442/11678848/5b714680-9e00-11e5-87af-0f6938f81a21.png)

[2015-12-10 03:27] jonleung commented on #326
Perhaps try assigning `first-timers-only` tag. Consider reading the blogpost on `first-timers-only` (https://medium.com/@kentcdodds/first-timers-only-78281ea47455#.8c0nbb5ex).

[2015-12-10 17:10] zachlatta commented on #317
We decided offline that @jonleung would actually take point on this.

[2015-12-10 23:02] jonleung commented on #236
Closing this because it doesn't seem like it is high leverage to do in the immediate future.

[2015-12-10 23:02] #236 closed

[2015-12-10 23:04] jonleung commented on #220
@MaxWofford, do we still want to do this task or should we close it?

[2015-12-10 23:14] jonleung opened #367 "I propose removing the following labels from hackclub/hackclub"
**hackclub/hackclub**

I propose removing the following labels from the hackclub repository:

- `enhancement`
  - it is completely unclear what this means and there are definitely lots of issues that have been created and will continue to be that are enhancements that are not labeled as such because it is unclear to the creator that they should label it `enhancement`.
- `beginner-friendly`
  - per

[2015-12-10 23:26] jonleung commented on #222
@zachlatta should we move this issue to Backlog because you're assigned to it as per our agreement that any assigned tasks should be in backlog?

[2015-12-10 23:28] jonleung opened #368 "Hack Club Holiday Update"
_From @jonleung on December 10, 2015 23:28_

I think we should put out a holiday update on our progress and plans for 2016 to our

- funders
- advisors & supports

Thoughts @zachlatta?

_Copied from original issue: hackclub/hackclub#554_

[2015-12-10 23:42] jonleung commented on #33
@zachlatta, do you think we need to file a trademark on Hack Club? Should we just do it to be safe? We don't want another `hackEDU` namespace collision happening again lol.

[2015-12-10 23:42] JevinSidhu commented on #368
Brian made this sweet Christmas themed logo for Cipher (https://www.facebook.com/projectcipher/photos/a.876682005731754.1073741825.864374390295849/949516158448338/?type=3&theater)!

If y'all did something like this for Hack Club, I think it'd be dope :)

[2015-12-10 23:42] jonleung commented on #33
Unassigning gemma from the issue because it seems that @zachlatta would probably be the person taking lead on this.

[2015-12-10 23:43] jonleung commented on #33
Renamed the title of this issue to update its relevance.

[2015-12-10 23:45] jonleung commented on #69
Since we're using Slack now, this no longer seems necessary. Closing this for the sake of biasing for closing issues. @zachlatta feel free to reopen.

[2015-12-10 23:45] #69 closed

[2015-12-10 23:47] jonleung commented on #83
@zachlatta it seems like you've made progress on this task or at least figuring out how you want to do it. Is this being tracked in another issue somewhere? Shall we move this task to `Backlog?

[2015-12-10 23:58] jonleung commented on #260
I'm deciding not to do this because I don't think it is very high leverage for our clubs right now. Please let me know if you disagree @MaxWofford.

[2015-12-10 23:58] #260 closed

[2015-12-11 00:01] jonleung commented on #325
We can probably leave hack camp alone because it is a legacy project.

[2015-12-11 00:25] jonleung commented on #297
Closing this because it no longer seems relevant.

[2015-12-11 00:25] #297 closed

[2015-12-11 00:25] jonleung commented on #298
Updated the title to reflect that creating a public facebook page is required for this task to happen.

[2015-12-11 00:27] jonleung commented on #299
@zachlatta do you think we should still do this?

[2015-12-11 00:28] jonleung commented on #298
Changing the title back because we actually tracking the creation of this FB goup in #302

[2015-12-11 00:29] jonleung commented on #334
@zachlatta agreed, closing this issue.

[2015-12-11 00:29] #334 closed

[2015-12-11 00:30] jonleung commented on #368
+1 to that ^

WHY IS BRIAN SUCH AN AMAZING DESIGNER! <3

[2015-12-11 00:33] #326 closed

[2015-12-11 00:33] jonleung commented on #329
@MaxWofford done!

[2015-12-11 00:33] #329 closed

[2015-12-11 00:42] JevinSidhu commented on #368
Brian is a beast. :100:

[2015-12-11 00:51] jonleung commented on #365
I personally like

![image](https://cloud.githubusercontent.com/assets/654941/11732951/0f186a0c-9f5e-11e5-81cb-1c35ab341898.png)

over

![image](https://cloud.githubusercontent.com/assets/654941/11732954/14b95f0c-9f5e-11e5-8d33-307a9d75b152.png)

and I like the white on black much more than the red on black for the back.

Only feedback that I have is that the logo on this shirt:

![image](https://

[2015-12-11 00:56] jonleung commented on #338
@MaxWofford my flux was on. I'm down for whatever. I'll defer to your judgement!

[2015-12-11 01:18] paked commented on #365
Also: orpheus shirt

[2015-12-11 01:19] vaibhavyadaram commented on #365
Very first design is my favorite!

[2015-12-11 01:27] JevinSidhu commented on #365
+1 to what @vaibhavyadaram and @jonleug said!

[2015-12-11 06:24] MaxWofford commented on #260
@jonleung I agree with that!

[2015-12-11 06:31] MaxWofford commented on #220
Yep, this still needs to be added.

[2015-12-11 06:32] MaxWofford commented on #367
I just cleared out the `blocking` label.

[2015-12-11 06:32] MaxWofford commented on #367
and deleted all labels that didn't have any issues ever attatched

[2015-12-11 08:48] zachlatta commented on #367
<3

[2015-12-11 20:27] zachlatta commented on #365
Agreed. First is my favorite as well. Would it be possible to add a slight
slant to it? Maybe not as much as the sticker, but I think a little slant
would be nice.

@MaxWofford, can you also post the Prophet Orpheus shirt you made? That was
awesome.

On Thu, Dec 10, 2015 at 5:27 PM, Jevin Sidhu <notifications@github.com>
wrote:

[2015-12-11 20:29] zachlatta commented on #338
I love them.

Can you submit a PR with
https://github.com/hackclub/meta/issues/338#issuecomment-162669248 and
https://github.com/hackclub/meta/issues/338#issuecomment-163121916? They're
my two favorites.

On Thu, Dec 10, 2015 at 4:56 PM, Jonathan Leung <notifications@github.com>
wrote:

[2015-12-11 20:30] zachlatta commented on #368
@MaxWofford any ideas how a Christmas logo/theme might work? That would be
really fun.

Re: @jonleung, let's do this. I got a backer update from 80,000 hours and
we could follow their format for updates.

On Thu, Dec 10, 2015 at 4:42 PM, Jevin Sidhu <notifications@github.com>
wrote:

[2015-12-11 20:38] MaxWofford commented on #338
@zachlatta Did you mean to link to those? Those have different `H`s

[2015-12-11 20:40] jonleung commented on #368
@MaxWofford can we make it Chrismahanumiladunkwanzaa themed? I.e. prophet orpheus holding a Menorah, a Kinara, a Christmas tree, and the Arabic script for Milad un Nabi?

[2015-12-11 20:57] jonleung commented on #367
Any thoughts on the original comment?

[2015-12-11 22:11] MaxWofford commented on #367
@jonleung: I'm down for closing those tags

[2015-12-11 22:17] MaxWofford opened #371 "Using asciicast for terminal commands in workshops"
[![asciicast](https://asciinema.org/a/dad6a6dhsqpuynia8ok6xzv35.png)](https://asciinema.org/a/dad6a6dhsqpuynia8ok6xzv35?autoplay=1)

EDIT: We're already using a jsbin build system for our jsbins. We can extend it to our terminal commands.

[2015-12-12 00:32] MaxWofford commented on #368
@jonleung I'll see what I can do!

@hackclub/cipher's logos are amazing!  How can I learn to design like that?

[2015-12-12 00:49] MaxWofford commented on #365
It's live: https://teespring.com/stores/hack-club

I'll open a new issue for the prophet orpheus t-shirt

[2015-12-12 00:49] #365 closed

[2015-12-12 00:49] JevinSidhu commented on #368
Thanks Max :smile:

Brian works on all our graphics stuff, can we get him added as member? https://github.com/nguyenbrian

[2015-12-12 00:51] MaxWofford commented on #368
@JevinSidhu Invited!

[2015-12-12 01:01] #338 closed

[2015-12-12 05:18] JevinSidhu commented on #368
:100: :+1:

[2015-12-13 09:35] MaxWofford commented on #363
@zachlatta The iOS assets won't be finished this week because I'll be doing extra assets.

[2015-12-13 19:52] paked commented on #305
Is this still relevant @zachlatta?

[2015-12-13 19:52] zachlatta commented on #305
Nope, let's go ahead and close it for the time being.

[2015-12-13 19:52] #305 closed

[2015-12-13 19:54] zachlatta commented on #371
The problem with using asciinema is that they're not playable from directly within the Markdown file on GitHub (as far as I know).

Is there a way to export a GIF from asciinema?

[2015-12-13 19:54] zachlatta commented on #357
Any updates on this?

[2015-12-13 20:10] zachlatta opened #387 "Write a message introducing yourself to everyone as a staff member"
Write a message to send to #announcements on Slack introducing yourself as a staff member :smiley:.

Comment on this post with it once you've written it so we can review it before posting to #announcements.

[2015-12-13 20:13] paked commented on #387
merging your pull requests!). I am a leader from Sydney, Australia and am
excited to announce I will be joining the Hack Club staff as an intern for the
next few weeks!

@zachlatta too brief?

[2015-12-13 20:13] zachlatta opened #388 "Refactor Twilio workshop to use jsbinctl"
Refactor the JS Bin examples in the Twilio workshop to be stored in directories in an `examples` directory within the workshop (ex. `examples/first_call`, `examples/sending_a_text_message`) and use `jsbinctl` for management.

Don't worry if the example on JS Bin is broken, just move their source code to the repository for the time being.